{# templates/lookfor/search.html #}
{% extends "lookfor/base.html" %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}


		

	
	<h2>Search HISG.org</h2>


	<form action="." method="GET">
		{# <label for="q">Search: </label> #}
		<input type="text" name="q" value="{{ query|escape }}">
		<input type="submit" value="Search">
		<div class="searchfilter">
			<h4>Advanced Search</h4>
			<span class="caption">
				restrict search results to only these areas
			</span><br/><br/>
			<input type="checkbox" name="office" value="office">
			:Offices<br/>
			<input type="checkbox" name="director" value="director">
			:Directors<br/>
			<input type="checkbox" name="staff" value="staff">
			:Staff<br/>
			<input type="checkbox" name="model" value="model">
			:HIST and IDR Models<br/>
			<input type="checkbox" name="news" value="news">
			:News<br/>
			<input type="checkbox" name="blog" value="blog">
			:Blog Posts<br/>
			<input type="checkbox" name="faq" value="faq">
			:FAQ's<br/>
			<input type="checkbox" name="partner" value="partner">
			:Partner Organizations<br/>
			<input type="checkbox" name="project" value="project">
			:Projects<br/>
			<input type="checkbox" name="video" value="video">
			:Videos<br/>
			<input type="checkbox" name="gallery" value="gallery">
			:Galleries<br/>
			<input type="checkbox" name="other" value="other">
			:Other Results<br/><hr/><br/>
			<input type="checkbox" name="all" value="all" checked="checked">
			:Include All Results<br/>			
		</div>
	</form><br/>
	{% if query %}
		<h3>Results for "{{ query|escape }}":</h3><br/>
		
		{% if choiceoffice %}
			{% if officeresults %}
				<div class="squareofsearch">
					<h4>Offices</h4>
					<ul>
					{% for office in officeresults %}
						<li><a href="{% url office_detail office.id %}">{{ office|escape }}</a></li>
					{% endfor %}
					</ul><br/>
				</div><br/>
			{% endif %}
		{% endif %}
		
		{% if choicedirector %}
			{% if directorsresults %}
				<div class="squareofsearch">
					<h4>Directors</h4>
					<ul>
					{% for director in directorsresults %}
						<li><a href="{% url directors_detail director.id %}">{{ director|escape }}</a></li>
					{% endfor %}
					</ul><br/>
				</div><br/>
			{% endif %}
		{% endif %}


		{% if choicestaff %}	
			{% if staffresults %}
				<div class="squareofsearch">
					<h4>Staff</h4>
					<ul>
					{% for staff in staffresults %}
						<li><a href="{% url staff_detail staff.id %}">{{ staff|escape }}</a></li>
					{% endfor %}
					</ul><br/>
				</div><br/>
			{% endif %}
		{% endif %}

		{% if choicemodel %}		
			{% if histidrresults %}
				<div class="squareofsearch">
					<h4>HIST and IDR Models</h4>
					<ul>
					{% for histidr in histidrresults %}
						<li><a href="{% url projectsmodels %}">{{ histidr|escape }}</a></li>
					{% endfor %}
					</ul><br/>
				</div><br/>
			{% endif %}
		{% endif %}

		{% if choicenews %}		
			{% if newsresults %}
				<div class="squareofsearch">
					<h4>News</h4>
					<ul>
					{% for news in newsresults %}
						<li><a href="{% url news_detail news.id %}">{{ news.date|date:"D. F d, Y. f A" }} {{ news|escape }}</a></li>
					{% endfor %}
					</ul><br/>
				</div><br/>
			{% endif %}
		{% endif %}

		{% if choiceblog %}		
			{% if postresults %}
				<div class="squareofsearch">
					<h4>Blog Posts</h4>
					<ul>
					{% for post in postresults %}
						<li><a href="{% url blog_detail post.id %}">{{ post|escape }}</a></li>
					{% endfor %}
					</ul>
				</div><br/>
			{% endif %}
		{% endif %}		

		{% if choicefaq %}
			{% if faqsresults %}
				<div class="squareofsearch">
					<h4>FAQ's</h4>
					<ul>
					{% for faqs in faqsresults %}
						<li><a href="{% url faqs_detail faqs.id %}">{{ faqs|escape }}</a></li>
					{% endfor %}
					</ul><br/>
				</div><br/>
			{% endif %}
		{% endif %}

		{% if choicepartner %}		
			{% if partnersresults %}
				<div class="squareofsearch">
					<h4>Partner Organizations</h4>
					<ul>
					{% for partners in partnersresults %}
						<li>{{ partners|escape }}</li>{# what to do about a url here? #}
					{% endfor %}
					</ul><br/>
				</div><br/>
			{% endif %}
		{% endif %}

		{% if choiceproject %}	
			{% if projectresults %}
				<div class="squareofsearch">
					<h4>Projects</h4>
					<ul>
					{% for project in projectresults %}
						<li><a href="{% url project_detail project.id %}">{{ project|escape }}</a></li>
					{% endfor %}
					</ul><br/>
				</div><br/>
			{% endif %}
		{% endif %}

		{% if choicevideo %}	
			{% if videoresults %}
				<div class="squareofsearch">
					<h4>Videos</h4>
					<ul>
					{% for video in videoresults %}
						<li><a href="{% url videos_detail video.slug %}">{{ video|escape }}</a></li>
					{% endfor %}
					</ul><br/>
				</div><br/>
			{% endif %}
		{% endif %}

		{% if choicegallery %}
			{% if galleryresults %}
				<div class="squareofsearch">
					<h4>Galleries</h4>
					<ul>
					{% for gallery in galleryresults %}
						<li>
							<a href="{% url gallery_detail gallery.id %}">
								{{ gallery|escape }}<br/>
								{% for photo in gallery.photos.all %}
									<img class="gold5" src="{{ photo.get_video_on_index_url }}"></img>
								{% endfor %}
							</a>
						</li>
					{% endfor %}
					</ul><br/>
				</div><br/>
			{% endif %}
		{% endif %}

		{% if choiceother %}		
			{% if pagesresults %}
				<div class="squareofsearch">
					<h4>Other Results</h4>
					<ul>
					{% for pager in pagesresults %}
						<li><a href="{{ pager.url }}">{{ pager.title|escape }}</a></li>
					{% endfor %}
					</ul><br/>
				</div><br/>
			{% endif %}
		{% endif %}

		
	{% endif %}
{% endblock %}
