{# templates/featured/gic/index.html #}
{% extends 'featured/base.html' %}
{% block subarrive %}5{% endblock subarrive %}

{% block brick %}
	{% include "brick.html" %}
{% endblock brick %}

{% block body %}
	<h2 class="center">Global Information Center</h2><hr/>
	<div class="right">
		<img src="/site_media/images/sections/featured/gic/gic1.jpg" style="padding:0 0 10px 20px;"></img>	
	<p>
		GLOBAL INFORMATION CENTER- HISG's Global Information Center (GIC) was developed to help people 
		get involved in disaster reponses just like the ones in Myanmar and China.  The GIC has built 
		an online system for all kinds of organizations to connect with HISG and find ways to help.  
		In addition, the GIC is fine-tuning the process of collecting real-time information from contacts 
		inside the disaster zone and communicating those needs to organizations who may be able to help.  
		The GIC has also developed a system to provide critical and current updates regarding disaster 
		relief capabilities to partners inside the disaster zone who may have limited access to such 
		information.
	</p><br/>

	<p>
		The Global Information Center has compiled a list of reference links and points of contact for 
		those looking for specific information about Myanmar.
	</p><br/>

	<ul style="padding:0 0 0 30px;">
		<li>
			<a href="http://rs6.net/tn.jsp?e=001qvWyeN9Lf03PRygBG67wYm0EOnC1Hkb9vYQ7W9lBHcjY7wfT8hxlGKYMqU9S0aMbZhcFL6wxtc8vupk7cqwKgDNAb1XQKaBt-ZKqgpssIu3OMdjeqQlSxrbptB5tu4E5" target=_blank>Asia-Pacific Daily Report, provided by the Center for Excellence in Disaster Management and Humanitarian Assistance</a>
		</li>
		<li>
			<a href="http://rs6.net/tn.jsp?e=001qvWyeN9Lf03LVcUB7JxPOZKBQCJ3S73Z90H2z7WVLWblPC0aP4tXMxfzFaOSTzTAA1nD_CzPoDPCPCrbUyeCM9_lvtN8fpRAf1_NaahUXByjF1NlR7nx8op7-WMHI09SL32kSyX8NIg=" target=_blank>Feed the Hungry</a>
		</li>
		<li>
			<a href="http://www.helpint.org">HELP International, a warehouse partnering with HISG</a>
		</li>
		<li>
			<a href="http://rs6.net/tn.jsp?e=001qvWyeN9Lf036NS3o_pqoNwdqHdBn3JcyFLyGTPqGSNdTosabhHS0llgD7ihYDxkCrx9N580hGwosdPy1v8rdjkmCFZo6414p8lVRUS7a4I8=" target=_blank>International Medical Relief, an organization helping HISG coordinate volunteer teams</a>
		</li>
		<li>
			<a href="http://rs6.net/tn.jsp?e=001qvWyeN9Lf01fgnUmUB7zC21RoB10HIk5Gt96y_amFvOZBfyUqoX_qCKZ87GdrLxaiP1eQa55OHm5zu-QTeXUJU-k5pVMtFKgyhjJp18C3R8=" target=_blank>Irrawaddy.org, a newsmagazine covering Burma (Myanmar) and Southeast Asia</a>
		</li>
		<li>
			<a href="http://rs6.net/tn.jsp?e=001qvWyeN9Lf02-W0LuaLKuBRCbFQfhpfpYjQNx1Bng56dEXhfGnwXoQE3phC1EiNTXm6pA90dMf2DJGs9rbaruAFr3MibWUlFIVR9AH7gr4Tki_JKaD9qPA19GavVwYrGtGtgW4W55S8ZgZrmo0klPhLctCEYcTbefUVFz3AS6TYEttL_wpkRtkk8kQHCY8eiFaCitMDR-X7OnsPMIbYWD5yJtVSPdqXSx" target=_blank>ReliefWeb's Myanmar Relief Page, provides updates by sector, maps and news alerts</a>
		</li>
		<li>
			<a href="http://rs6.net/tn.jsp?e=001qvWyeN9Lf02pHvsAiOGLnfcm9OBAKy-H7Ibxb586aMCsNl64EKHsat4xQeTe03yo7yDl7cJoEzlhkTGXdJg-Pk0nME8BUmGZYhjezxF0nv9MUUqATUojIPCtsCBKefdb" target=_blank>United Nations Logistics Report for Myanmar</a>
		</li>
		<li>
			<a href="http://rs6.net/tn.jsp?e=001qvWyeN9Lf00vnq_EiG1WRBR6UerylimppZCcbTIYDK3F5R5ZuV9GKo83II694dnS6YzywirNx80sVDwSqViLSykRQ02GeX86rNAOq6if1zf4ZeTn6I84ox4OEMk_wtx5LWhj5hZ_Q5yeL4KtvTlSn3I8CahM-Bb3riXdVQvXc9-UGFyMDlFeSg==" target=_blank>United States Agency for International Development's Myanmar Page</a>
		</li>
		<li>
			<a href="http://rs6.net/tn.jsp?e=001qvWyeN9Lf01FzK4WfnxBwFoFnKcEToMdtA7Jx8HULPaNWHGVlJ4uwa64UwsMLgtG3UL8XI2rSH02yUDCpNkjc2LOcVmpmgn_GIQ0v2dWrKwoS-Sj3r-8QUm8qIXm6mHpL7wISH5F_gdm2g-BqRii5FAAcfWr2t3zpVH1ZdoNHEsV3Hzy3wK4sGl9tyKbddbvf47uKf4uF1U2s-Oxcj3jhUP4cJbddjaN_ZHkNWaMsoJehgtA5s5dfw==" target=_blank>United States Office of Foreign Disaster Assistance's Myanmar Page</a>
		</li>
		<li>
			<a href="http://rs6.net/tn.jsp?e=001qvWyeN9Lf02YOa4pGbS3uLDLyovcfFTk8ZRf38yWf12FOBrJm-fNKNTGMjzQTmQtR5BJKJE2pSjSdRaPlesowsjjn6WaxhZTyvsOQ1hy1rVELhbBLDKG2EJFfb1NASOc" target=_blank>UNOSAT, maps useful to humanitarian organizations</a>
		</li>
		<li>
			<a href="http://rs6.net/tn.jsp?e=001qvWyeN9Lf03hAh5HzEAoWAHSD7EW70hB9GU3cp2DsvHSru6ozZBhUjwqW2x04kDGw0C6q_tBeHUfsjCXqPAWcKd3XPrP1t6xg_lpjsKvpyRk2ALAPOd7aIhD8Wo7ji-3" target=_blank>Worldwide Help Group</a>
		</li>
	</ul><br/><br/>

	<div class="right">
		<img src="/site_media/images/sections/featured/gic/gic4.jpg" style="padding:0 0 10px 20px;"></img>
	</div>	
	<p>
		<b>GLOBAL INFORMATION CENTER, TEXAS</b>- HISG is expanding the Global Information Center (GIC) 
		to better prepare people all over the world, especially the private sector, for large-scale 
		disasters.  The private sector is made up of businesses, faith-based organizations, educational 
		institutions, civic groups and non-profit organizations.  Volunteers from these five groups 
		provide a vast majority of the workforce in disaster response and recovery operations.  
		Emergency responders from the public sector, like police officers and firefighters, make up 
		less than 1% of the population.  Unfortunately, there is no system in place to coordinate the 
		efforts of the private sector and connect them to government operations.
	</p><br/>
	<div class="right">
		<img src="/site_media/images/sections/featured/gic/gic2.jpg" style="padding:0 0 10px 20px;"></img>
	<p>
		"The Federal government should recognize that the private and non-government sectors often 
		perform certain functions more effectively and efficiently than the government... public- private 
		partnerships should be a part of the logistics systems and response plan."
		-from The Federal Response to Katrina: Lessons Learned
	</p><br/>
	<p>
		The Global Information Center in Texas is a 24/7 nerve hub for all the different entities to 
		share information and work together.  The GIC has powerful communication and data storage/sharing 
		systems to make this long-overdue concept a reality.  HISG has experience working in disaster 
		relief in many different countries, and the expanded capabilities of the GIC are in response to 
		a direct need for more coordinated efforts.  Our past performance, vast networks and capability 
		to receive, process and share information make us uniquely positioned to tap into all the assets 
		the private sector has to offer.
	</p><br/>
	<div class="right">
		<img src="/site_media/images/sections/featured/gic/gic3.jpg" style="padding:0 0 10px 20px;"></img>	
	<p>
		For more information on the Global Information Center, and the wide variety of services that it 
		can provide, please contact Kyle Adams.
	</p><br/>
{% endblock %}