<h2 style="text-align: center;">
	Humanitarian International Services Group
</h2><hr/>
<p>
	HISG is a New York state non-profit corporation and a 501(c)3 tax exempt organization. Its incorporation date is December 14, 2001. 
	HISG specializes in private sector resource mobilization and management.  Simply stated: “We connect resources to needs”. As a 
	non-governmental organization, HISG provides support services to US and international for-profit and non-profit organizations for 
	crisis response and humanitarian developmental initiatives.
</p><br/>

<p>
	Since 2001, HISG has mobilized and moved over $20 Million in humanitarian aid at less than 1% handling costs. Having prototyped 
	new and innovative solutions, HISG has established an institutional capability to mobilize and manage private sector resource 
	capacity.  HISG has now networked over 45 warehouses across the USA to work collaboratively to aid the poor and needy around 
	the world.
</p><br/>

<div class="left" style="width:300px;height:440px;">
	<div class="about_box">
		<div class="right">
			<a href="/about-hisg/history/">
				<img class="gold5" src="/site_media/images/sections/about/history.jpg"></img>
			</a>	
		</div>
		<a href="/about-hisg/history/">
			<h4>History</h4>
		</a>
		<div>
			Come read about the History <br/>
			 of HISG
		</div>
	</div>
	<div class="about_box">
		<div class="right">
			<a href="/about-hisg/staff/">
				<img class="gold5" src="/site_media/images/sections/about/staff.jpg"></img>
			</a>	
		</div>		
		<a href="/about-hisg/staff/">
			<h4>Staff</h4>
		</a>
		<div>
			Meet the dynamic and selfless people that make up HISG.
		</div>
	</div>
	<div class="about_box">
		<div class="right">
			<a href="/about-hisg/vision/">			
				<img class="gold5" src="/site_media/images/sections/about/purpose.jpg"></img>
			</a>	
		</div>		
		<a href="/about-hisg/vision/">
			<h4>Purpose and Vision</h4>
		</a>
		<div>
			Where we are going and why
		</div>
	</div>
</div>


<div class="left" style="width:300px;height:400px;padding:0 0 0 20px;">
	<div class="about_box">
		<div class="right">
			<a href="/about-hisg/directors/">
				<img class="gold5" src="/site_media/images/sections/about/directors.jpg"></img>
			</a>	
		</div>		
		<a href="/about-hisg/directors/">
			<h4>Directors</h4>
		</a>
		<div>
			Learn about the men who founded HISG
		</div>
	</div>
	<div class="about_box">
		<div class="right">
			<a href="/about-hisg/office/">
				<img class="gold5" src="/site_media/images/sections/about/offices.jpg"></img>
			</a>	
		</div>		
		<a href="/about-hisg/office/">
			<h4>Offices</h4>
		</a>
		<div>
			Read about our international offices, each placed strategically to connect resources to needs.
		</div>
	</div>
	<div class="about_box">
		<div class="right">
			<a href="/about-hisg/internship/">
				<img class="gold5" src="/site_media/images/sections/about/intern.jpg"></img>
			</a>	
		</div>		
		<a href="/about-hisg/internship/">
			<h4>Internship</h4>
		</a>
		<div>
			Lives are being changed by the HISG internship program
		</div>
	</div>
</div><div class="clearer"></div>


<div style="width:620px;height:125;">
	<div class="about_box">
		<div class="right">
			<a href="/about-hisg/contact/">
				<img class="gold5" src="/site_media/images/sections/about/contact.jpg"></img>
			</a>	
		</div>		
		<a href="/about-hisg/contact/">
			<h4>Contact Us</h4>
		</a>
		<div>
			We can't wait to hear from you.
		</div>
	</div>
</div>

