<!-- templates/about/office_d.html -->
{% extends 'about/base.html' %}

{% block subarrive %}4{% endblock subarrive %}

{% block brick %}{% include "brick/brick.html" %}{% endblock brick %}
{% block extra_head %}{% include "projects-news/includes/photopickerhead.html" %}{% endblock %}

{% block body %}
	<h2>{{ office }}</h2><hr>

	{% include "projects-news/includes/photopicker.html" %}
	
	<p>{{ office.description|safe }}</p>
	
	{% if office.video %}
		{% for video in office.video.all %}
			{% include "projects-news/includes/detail_video.html" %}
		{% endfor %}
	{% endif %}
	<br><br>
	
	<div style="text-align:center;clear:both;">
		<a href="{% url office %}">Back to offices Page</a>
	</div>
	
{% endblock %}



