{# templates/projects-news/gallery.html #}
{% extends 'projects-news/base.html' %}
{% block subarrive %}5{% endblock subarrive %}
{% load pagination_tags %}

{% block brick %}
	{% include "brick/brick.html" %}
{% endblock brick %}

{% block body %}

	<h2 class="center">Photos</h2><hr />
	<ul class="sorter">
		<li>
			{% ifequal sort "date"  %}
				Sort by Date |
			{% else %}
				<a href="{% url gallery %}">Sort by Date</a> |
			{% endifequal %}
		</li>
		<li>
			{% ifequal sort "title"  %}
				Sort by Title
			{% else %}
				<a href="{% url gallery_title %}">Sort by Title</a>
			{% endifequal %}
		</li>

	</ul>
	<hr />
	{% if gallery_list %}
		{% autopaginate gallery_list 4 %}
		{% for gallery in gallery_list %}
			<div class="rowergallery">
				<a href='{% url gallery_detail gallery.id %}'>
					<h4>{{ gallery.title }}</h4>
					<div>
						{% for photo in gallery.photos.all %}
							{% ifequal forloop.counter 1 %}
								<img class="gold5" src="{{ photo.get_medium_url }}" />
							{% endifequal %}
							{% ifequal forloop.counter 2 %}
								<img class="gold5" src="{{ photo.get_medium_url }}" />
							{% endifequal %}
							{% ifequal forloop.counter 3 %}
								<img class="gold5" src="{{ photo.get_medium_url }}" />
							{% endifequal %}
						{% endfor %}
					</div>
				</a>
				<div class="caption">{{ gallery.description|safe|truncatewords:40 }}</div><br/>
				<span style="float:left;width:200px;display:inline;">
					{{ gallery.date_added|date:"M d, Y" }}
				</span>
				<span style="float:left;width:300px;display:inline;">
					Photos: {{ gallery.photos.all|length }}
				</span>
				<div class="clearer"></div>
			</div>{# end of rowergallery #}
		{% endfor %}
		<div class="clearer" style="width:640px;height:15px;"></div>
		{% paginate %}
	{% else %}
		<p>No Photo Galleries.</p>
	{% endif %}

{% endblock %}

