<!-- templates/projects-news/hub_detail.html -->
{% extends "projects-news/base.html" %}
{% load markup %}
{% block head_title %}{{ hub.name }}{% endblock %}
{% block subarrive %}1{% endblock subarrive %}

{% block brick %}
	{% include "brick/hubbrick.html" %}
{% endblock brick %}


{# {% block extra_head %} #}
{# 	{# // <script src="http://maps.google.com/maps?file=api&v=2&key={{ gmapkey }}&sensor=false" type="text/javascript"></script> #} 
{# 	<script type="text/javascript"> #}
{# 	window.onload = function() { #}
{# 	  var url = 'http://www.twitter.com/statuses/user_timeline/rem.rss?callback=twitterCallback&count=1'; #}
{#  #}
{# 	  var script = document.createElement('script'); #}
{# 	  script.setAttribute('src', url); #}
{# 	  document.body.appendChild(script); #}
{# 	} #}
{# 		// $(document).ready(function(){ #}
{# 		// 		twitter = function() { #}
{# 		// 		  var url = 'https://twitter.com/#search?q=%23alliwant'; #}
{# 		//  #}
{# 		// 		  var script = document.createElement('script'); #}
{# 		// 		  script.setAttribute('src', url); #}
{# 		// 		  document.body.appendChild(script); #}
{# 		// 		} #}
{# 		// 		twitter(); #}
{# 		// 	});		 #}
{# 	</script> #}
{# 	 #}
{# {% endblock %} #}



{% block body %}
	<h2 class="center">{{ hub.name }} Hub</h2><hr/>

	{{ hub.description }}<br/><br/><br/>
	{% for update in updates %}
		<div class='hubupdate'>
			<div class='hubtitle'>{{ update }}</div>
			<div class='hubdate'>
				{{ update.date|date:'P M d, Y' }} 				{# news #}
				{{ update.created|date:'P M d, Y' }} 			{# videos #}
				{{ update.year|date:'P M d, Y' }} 				{# project #}
				{{ update.date_added|date:'P M d, Y' }} 		{# gallery #}
			</div>
			<div class='clearer'></div>
			
			{{ update.story|markdown|truncatewords:30 }}				{# news #}
			{{ update.description|markdown|truncatewords:30 }}			{# gallery, project, videos #}
		</div>
	{% endfor %}




{% endblock %}
