{# templates/projects-news/partnerlinks.html #}
{% extends 'projects-news/base.html' %}
{% block subarrive %}3{% endblock subarrive %}

{% block brick %}{% include "brick/brick.html" %}{% endblock brick %}
{% block extra_head %}
	<style type="text/css" media="screen">
		.partner{border:2px solid #D9BC65;width:275px;float:left;padding:10px;margin:0 20px 20px 0;height:100px;overflow:hidden;}
		.linkul{border:1px solid #D9BC65;width:100%;height:0px;margin-bottom:10px;}
	</style>
{% endblock %}

{% block body %}


		<h2 class="center">Partners &amp; Recommended Links</h2>

		<div style="padding:0 0 0 100px;float:right;">
			{% include 'projects-news/includes/sharethiscode.html' %}
		</div><div class="clearer"></div>

		<hr/>
		<h4>Partners</h4>
		{% for partner in partners %}
			<div class='partner'>
				<b>{{ partner.name }}</b><br/><br/>
				{{ partner.content|truncatewords:20 }}<br/>
				<a href='{{ partner.link }}' target='_blank'>{{ partner.link }}</a>
			</div>
		{% endfor %}<div class='clearer'></div>
		<h4>Links</h4>
		{% for link in links %}
			<a href='{{ link.link }}' target='_blank'><b>{{ link.name }}</b></a><br/>
			<a href='{{ link.link }}' target='_blank'>{{ link.content|truncatewords:20 }}</a>
			<div class='linkul'></div>
		{% endfor %}


{% endblock %}
