{# templates/projects-news/videos.html #}
{% extends 'projects-news/base.html' %}
{% block subarrive %}6{% endblock subarrive %}

{% block extra_head %}
	<script type="text/javascript" charset="utf-8">
		function getthumb(iid,vcode){
			var regyt = /embed\/\w+/
			code = vcode.match(regyt);
			iid = '#' + iid;
			$(iid).attr('src','http://img.youtube.com/vi/' + String(code).split('embed/')[1] + '/1.jpg');
		}
	</script>
{% endblock %}

{% block brick %}
	{% include "brick/brick.html" %}
{% endblock brick %}

{% block body %}
	<h2 class="center">Videos</h2> <hr/>
	<div>{# videos all #}
		{% if video_list %}
			{% for video in video_list %}
				<div class="video_list">
					<a href="{% url videos_detail video.slug %}">
						{% if video.embed %}
							<img src="/site_media/images/3.jpg" id='{{ forloop.counter }}_youtube' class="gold5 youtube">
							<script type="text/javascript" charset="utf-8">
								$(document).ready(function(){
									getthumb('{{ forloop.counter }}_youtube','{{ video.embed }}');
								});
							</script>
						{% else %}
							<img src="{{ video.frame.get_video_on_list_url }}" class="gold5" >
						{% endif %}
					</a><br>
					<h4>
						<a href='{% url videos_detail video.slug %}'>
							{{ video.name }}
						</a>
					</h4>
				</div>
			{% endfor %}
		{% else %}
			<p>No videos.</p>
		{% endif %}
	</div>{# end of videos all #}
{% endblock %}