<!-- templates/about/contactperson.html -->
{% extends "about/base.html" %}
{% block subarrive %}7{% endblock subarrive %}

{% block brick %}
	{% include "brick/brick.html" %}
{% endblock brick %}	

{% block body %}
<h2 class="center">Contact Us</h2><hr/>
{% if staff %}
	This message will be sent to:<br/><br/>
	<h2>
		{{ staff.firstname }} {{ staff.lastname }}
	</h2><br/>
	{% if event %}
		<h3>About {{ event }} starting on {{ event.start_date|date:"d M. Y" }}</h3>
	{% endif %}
{% endif %}
<form action="" method="POST">
	{{ form.name.label }}<br/>
	{{ form.name }}{{ form.name.errors }}<br/><br/>
	{{ form.email.label }} Address<br/>
	{{ form.email }}{{ form.email.errors }}<br/><br/>
	{{ form.subject.label }}<br/>
	{{ form.subject }}{{ form.subject.errors }}<br/><br/>
	{{ form.content.label }}<br/>
	{{ form.content }}{{ form.content.errors }}<br/><br/>
	<p><input type="submit" value="Send &rarr;"></p>
</form>



{% endblock body %}

