<!-- templates/about/directors_detail.html -->
{% extends 'about/base.html' %}

{% block subarrive %}2{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
<h2>{{ director }}</h2>
<h3>{{ director.title }}</h3><hr>
	{% if director.photo %}
		<div class="news-detail-photo">
			{% for photo in director.photo.all %}
				{% ifequal forloop.counter 1 %}
					<div id="mainpic">
						<img class="gold5" src="{{ photo.get_display_url }}" />
					</div>
					<div class="caption" style="padding:0 0 15px 0;">
						{{ photo.caption }}
					</div>
				{% endifequal %}
			{% endfor %}
			<div>
				{% for photo in director.photo.all %}
					{% ifnotequal forloop.counter 1 %}
						<span id="thumbpic{{ forloop.counter }}" style="padding:0 2px 3px 0;">
							<img class="gold5" src="{{ photo.get_smallish_url }}"></img>
						</span>
					{% endifnotequal %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
	
	<p>{{ director.bio|safe }}</p>
	
	{% if director.video %}
		{% for video in director.video.all %}
		{{ video.name }}-{{ video.caption }}
		<EMBED SRC="/site_media/{{ video.path }}" WIDTH=320 HEIGHT = 256
		 AUTOPLAY=false CONTROLLER=true LOOP=false
		 PLUGINSPAGE=http://www.apple.com/quicktime/ ><br><br>
		{% endfor %}
	{% endif %}
	<br><br>
	<div style="clear:both;text-align:center;">
		<a href="{% url directors %}">Back to Directors Page</a>
	</div>

{% endblock %}



