<!-- templates/about/directors_detail.html -->
{% extends 'about/base.html' %}

{% block subarrive %}2{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<div style="padding:0 50px 0 50px;">
		<h1>{{ director }}</h1><hr>
		<h3>{{ director.title }}</h3><br>
		{% if director.photo %}
			{% for photo in director.photo.all %}
			<div style="display:inline; float:right; margin:5px;"><img src="{{ photo.get_display_url }}" /></div>
			{% endfor %}
		{% endif %}
		<p>{{ director.bio }}	</p>
		
		{% if director.video %}
			{% for video in director.video.all %}
			{{ video.name }}-{{ video.caption }}
			<EMBED SRC="/site_media/{{ video.path }}" WIDTH=320 HEIGHT = 256
			 AUTOPLAY=false CONTROLLER=true LOOP=false
			 PLUGINSPAGE=http://www.apple.com/quicktime/ ><br><br>
			{% endfor %}
		{% endif %}
		<br><br>
		<div style="text-align:center;clear:both;">
			<a href="{% url directors %}">Back to Directors Page</a></div>
	</div>
{% endblock %}



