<!-- templates/about/directors.html -->
{% extends "about/base.html" %}

{% block subarrive %}2{% endblock subarrive %}
{% block head_title %}Directors{% endblock %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}


{% block body %}
	<h2 style="text-align:center;">
		Directors
	</h2><hr/>
	{% for director in director_list %}
		<a href="{% url directors_detail director.id %}"><h2>{{ director }}</h2><br>
		{% for photo in director.photo.all %}
		<img src="{{ photo.get_thumbnail_url }}" />
		{% endfor %}</a>{{ director.bio|safe|truncatewords:30 }}<br>
	{% endfor %}


{% endblock %}

