<!-- template/about/history.html -->
{% extends "about/base.html" %}

{% load i18n %}
{% block subarrive %}1{% endblock subarrive %}
{% block head_title %}{% trans "About" %}{% endblock %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<div style="padding:0 20px 0 20px">
		<h2 style="text-align:center;">
			HISG - History
		</h2>

			<p>In the Summer of 2001, four friends and their families vacationed at a friend's cabin in Steamboat Springs, Colorado in the scenic Rocky Mountains. Their names are Kay Hiramine, Mike McCausland, Rob Mabary and Michael Mastrodonato. Each had successful business or non-profit backgrounds and decided they wanted to do something together to give back to the world. Over many discussions, it was concluded that a non-profit humanitarian aid organization would be formed to help orphans, widows and needy around the world, especially in the most oppressive  areas of the globe. The four decided to have a meeting in Colorado Springs in mid -  September....and so it started.</p><br>

			<p>On September 10, 2001, HISG held its first strategy development meeting. The following day (9-11) we began to realize just how important this undertaking would be. A significant investment of time and personal funding was spent on due diligence to clearly understand the needs and challenges involving global crisis response and development operations. HISG principals interviewed many well known figures in the humanitarian aid arena and interfaced with multiple subject matter experts in the development of our organizational strategy.</p><br>

			<p>Within a few months, HISG wrote white papers and concept documents for USAID, the White House Faith Based and Community Initiatives Office, Department of State and Department of Defense. The papers addressed the need for strategic alignment and mobilization of private sector resources in line with the humanitarian imperative and international development initiatives. The private sector is defined as: corporations, non-profit groups, faith based groups and civic groups (i.e. Rotary, Kiwanis etc)</p><br>

			<p>By December 15, 2001, HISG was delivering medicines and medical supplies to a Red Crescent Psychiatric Hospital in Jalalabad, Afghanistan. Traveling from Peshawar, Pakistan to Jalalabad, Afghanistan over the Khyber pass, HISG delivered over $10,000 worth of medicines to the 250 person hospital. At the hospital, the doctor thanked the HISG team and cried openly as he looked at bottles of antibiotics he had not seen in years.</p><br>

			<p>HISG is a New York state non-profit corporation and a 501(c)3 tax exempt organization. HISG's incorporation date is December 14, 2001.  It specializes in private sector resource mobilization and management, and provides support services to US and international for-profit and non-profit organizations for crisis response and humanitarian developmental initiatives.</p><br>

			<p>Since 2001, HISG has mobilized, facilitated and moved over $20 Million in humanitarian aid with less than 1% handling costs. Having prototyped new and innovative solutions, HISG has established an institutional capability to mobilize and manage private sector resource capacity.</p><br>

			<p>HISG's vision is to support regional stabilization with sustainable solutions that benefit the indigenous population. As a result, we were initially drawn to support humanitarian initiatives in Afghanistan in December, 2001. Since then, HISG has conducted humanitarian activities on virtually every continent including such hot spots as the Sudan, Colombia, Afghanistan, Southern Philippines and Iraq.</p><br>
			

	</div>

{% endblock %}
