<!-- templates/about/vision.html -->
{% extends "about/base.html" %}

{% block subarrive %}0{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
<div style="padding:0 50px 0 50px;">
	<h1>HISG's Institutional Networks</h1><br>
	<br>
	<p>Our institutional networks touch tens of thousands of local communities, corporations, non-governmental organizations (NGOs), and civic and faith-based groups. These networks comprise multiple millions of participants and enable our team to mobilize and coordinate public and private sector resource capacity to support humanitarian and reconstruction efforts. Our ability to mobilize civil sector capacity across all societal sectors at the same time provides robust reach back and expertise for comprehensive solutions.</p><br>
	
	<h3>Private Sector Resource Capacity</h3><br>
	
	<p>NGO's have an estimated annual value exceeding $1,000,000,000,000. That's one Trillion Dollars! Faith-based groups are calculated to have over $400 Billion in liquid annual assets. The Rotary Club (civic group) has over 1 million members in 166 nations. They exist to mobilize resources and give them away. Through our institutional networks, HISG's goal is to strategically connect this vast resource capacity in support of targeted initiatives.<br><br>

	Sample Contact Networks (This is only a small sampling):</p><br>
	
	<h3>International Organizations (IOs) and Non-Governmental Organizations (NGOs)</h3><br>
	
	<p>UN HCR, UN OCHA, UN DPKO, The Vatican and Catholic Relief Services, InterAction (165 NGOs), AERDO (45 NGOs), Viva (17,000 children focused NGOs), NGOVoice (200 EU based NGOs), Compassion International (500,000 children sponsored), World Vision, CARE, Project CURE, IFRC, Peace Corps, plus hundreds of other US and international organizations.</p><br>
	
	<h3>US &amp; International Corporations</h3><br>
	
	<p>Xerox, FedEx, Coca Cola, Eli Lily, King and other major pharmas, Nokia, IBM, Dollar, Halliburton KBR, American Management System, Maersk Shipping, Chiquita, General Electric, Westinghouse, etc.</p><br>
	
	<h3>Faith-Based Groups</h3><br>
	
	<p>Transform World (every nation), Focus on the Family (3 million daily listeners), Christian Copyright Licensing Inc. (250,000 churches worldwide), National Association of Evangelicals (125,000 US churches), Global Prayer Movement (12,000 ethno linguistic people groups), plus hundreds of other church and para-church organizations.</p><br>
	
	<h3>Civic Groups</h3><br>
	
	<p>Rotary Club (1 million members, 166 nations), Lions Club, Masons, Kiwanis, etc.</p><br>
	
	<h3>Sector-Specific Subject Matter Experts</h3><br>
	
	<p>Physician's Network with 80,000 members, Educational Network with 12,000 PhDs, Attorney Network with 30,000 members, 50% of US power utilities, major telecom organizations, shipping companies, water organizations, law enforcement agencies, etc.</p><br>
	
	<h3>US Government Humanitarian Contacts</h3><br>
	
	<p>Department of State Population and Refugee Migration (UN Funding), USAID Office of Foreign Disaster Assistance (OFDA), Disaster Assistance Response Team (DART) leaders, multiple Ambassadors and USAID Country Mission Directors.</p><br>

</div>
{% endblock body %}








