<!-- templates/about/office_d.html -->
{% extends 'about/base.html' %}

{% block subarrive %}4{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ brickgroup.brick1.link }}"><div class="brickpic"><img src="{{ brickgroup.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick1.link }}"><div class="brick">{{ brickgroup.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ brickgroup.brick2.link }}"><div class="brickpic"><img src="{{ brickgroup.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick2.link }}"><div class="brick">{{ brickgroup.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ brickgroup.brick3.link }}"><div class="brickpic"><img src="{{ brickgroup.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick3.link }}"><div class="brick">{{ brickgroup.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ brickgroup.brick4.link }}"><div class="brickpic"><img src="{{ brickgroup.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick4.link }}"><div class="brick">{{ brickgroup.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
		<h2>{{ office }}</h2><hr>
		{% if office.photo %}
			{% for photo in office.photo.all %}
			<div style="display:inline; float:right; margin:5px;"><img src="{{ photo.get_display_url }}" /></div>
			{% endfor %}
		{% endif %}
		<p>{{ office.description|safe }}</p>
		
		{% if office.video %}
			{% for video in office.video.all %}
			{{ video.name }}-{{ video.caption }}
			<EMBED SRC="/site_media/{{ video.path }}" WIDTH=320 HEIGHT = 256
			 AUTOPLAY=false CONTROLLER=true LOOP=false
			 PLUGINSPAGE=http://www.apple.com/quicktime/ ><br><br>
			{% endfor %}
		{% endif %}
		<br><br>
		<div style="text-align:center;clear:both;">
			<a href="{% url office %}">Back to offices Page</a>
		</div>
{% endblock %}



