<!-- templates/about/staff.html -->
{% extends "about/base.html" %}
{% load pagination_tags %}

{% block head_title %}Staff{% endblock %}
{% block subarrive %}3{% endblock subarrive %}

{% block brick %}
	{% include "brick/brick.html" %}
{% endblock brick %}

{% block body %}
	<h2 class="center">
		Staff
	</h2><hr/>
	{% autopaginate staff_list 5 %}
	{% for staff in staff_list %}
		<div class="staff">
			{% for photo in staff.photo.all %}
				{% ifequal forloop.counter 1 %}
					<a href="{% url staff_detail staff.id %}">
						<img class="gold5" style="float:right;margin:0 0 0 15px;" src="{{ photo.get_medium_url }}" />
					</a>
				{% endifequal %}
			{% endfor %}
			<div class="right">
				<h4><a href="{% url contactperson staff.id "about" %}">Email {{ staff.firstname }}</a></h4>
			</div>
			<a href="{% url staff_detail staff.id %}">
				<h3 style="padding:0 0 0px 0;">{{ staff }}</h3>
			</a>
			<h4>
				{{ staff.title }}
			</h4>
			<p>
				{{ staff.bio|safe|truncatewords:50 }}
			</p><br/>
			<div class="clearer"></div>
		</div>{# end of staff #}
	{% endfor %}
	{% paginate %}

{% endblock %}


