<!-- templates/about/staff_detail.html -->
{% extends 'about/base.html' %}

{% block subarrive %}3{% endblock subarrive %}

{% block brick %}
	{% include "brick.html" %}
{% endblock brick %}

{% block body %}
	<h2>{{ staff }}</h2>
	<h3>{{ staff.title }}</h3><hr>
		{# {% if staff.photo %} #}
		{# 	<div class="news-detail-photo"> #}
		{# 		{% for photo in staff.photo.all %} #}
		{# 			{% ifequal forloop.counter 1 %} #}
		{# 				<div id="mainpic"> #}
		{# 					<img class="gold5" src="{{ photo.get_display_url }}" /> #}
		{# 				</div> #}
		{# 				<div class="caption" style="padding:0 0 15px 0;"> #}
		{# 					{{ photo.caption }} #}
		{# 				</div> #}
		{# 			{% endifequal %} #}
		{# 		{% endfor %} #}
		{# 		<div> #}
		{# 			{% for photo in staff.photo.all %} #}
		{# 				{% ifnotequal forloop.counter 1 %} #}
		{# 					<span id="thumbpic{{ forloop.counter }}" style="padding:0 2px 3px 0;"> #}
		{# 						<img class="gold5" src="{{ photo.get_smallish_url }}"></img> #}
		{# 					</span> #}
		{# 				{% endifnotequal %} #}
		{# 			{% endfor %} #}
		{# 		</div> #}
		{# 	</div> #}
		{# {% endif %} #}
		
		<p>{{ staff.bio|safe }}</p><div class="clearer"></div>
		<br/><br/>
		{% if staff.video %}
			{% for video in staff.video.all %}
				{% include "projects-models/detail_video.html" %}
			{% endfor %}
		{% endif %}
		
		
		<br><br>
		<div style="clear:both;text-align:center;">
			<a href="{% url staff %}">Back to Staff Page</a>
		</div>
{% endblock %}