<!-- templates/about/staff_detail.html -->
{% extends 'about/base.html' %}

{% block subarrive %}3{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<h2>{{ staff }}</h2>
	<h3>{{ staff.title }}</h3><hr>
		{% if staff.photo %}
			<div class="news-detail-photo">
				{% for photo in staff.photo.all %}
					{% ifequal forloop.counter 1 %}
						<div id="mainpic">
							<img class="gold5" src="{{ photo.get_display_url }}" />
						</div>
						<div class="caption" style="padding:0 0 15px 0;">
							{{ photo.caption }}
						</div>
					{% endifequal %}
				{% endfor %}
				<div>
					{% for photo in staff.photo.all %}
						{% ifnotequal forloop.counter 1 %}
							<span id="thumbpic{{ forloop.counter }}" style="padding:0 2px 3px 0;">
								<img class="gold5" src="{{ photo.get_smallish_url }}"></img>
							</span>
						{% endifnotequal %}
					{% endfor %}
				</div>
			</div>
		{% endif %}
		
		<p>{{ staff.bio|safe }}</p><div class="clearer"></div>
		<br/><br/>
		{% if staff.video %}
			{% for video in staff.video.all %}
				{% include "projects-models/detail_video.html" %}
			{% endfor %}
		{% endif %}
		
		
		<br><br>
		<div style="clear:both;text-align:center;">
			<a href="{% url staff %}">Back to Staff Page</a>
		</div>
{% endblock %}