<!-- templates/about/vision.html -->
{% extends "about/base.html" %}

{% block subarrive %}5{% endblock subarrive %}

{% block brick %}
	{% include "brick.html" %}
{% endblock brick %}

{% block body %}
	<h2 class="center">HISG - Purpose &amp; Vision</h2><hr>
	
	<h4>PURPOSE, VISION, MISSION, &amp; STRATEGIC INITIATIVES</h4>
	<p>The Purpose, Vision, Mission and Strategic Initiatives for HISG provide the foundation and 
		focus for all activities and initiatives undertaken by the organization. This information 
		is being provided to show the relationship between the underlying strategy and all the 
		accomplishments listed.</p><br>
	<h3>PURPOSE</h3><br>
	<p>HISG exists to support civil operations* in areas of need. Civil Operations includes relief 
		and development across all impacted sectors of society.</p><br>
	<h3>VISION</h3><br>
	<p>Our vision is to establish a stable environment with sustainable solutions that benefit the 
		indigenous population.</p><br>
	<h3>MISSION & STRATEGIC INITIATIVES</h3><br>
	<p>Our mission is to connect resource providers to end users in areas of need by focusing on 
		accomplishment of the following strategic initiatives:</p><br>
	<ol>
		<li>Develop a humanitarian operations resource network.</li>
		<li>Mobilize action-oriented coalitions of related practitioners.</li>
		<li>Facilitate the development of stakeholder and societal sector networks.</li>
		<li>Establish a global network of local community and regional coordination centers.</li>
		<li>Organize networking and training venues.</li>
	</ol>
{% endblock body %}