.DS_Store
*.pyc
/projects/complete_project/site_media/videos
/projects/complete_project/site_media/images
/projects/complete_project/site_media/photologue
/projects/complete_project/site_media/flash
/projects/complete_project/dev.db3
/projects/complete_project/dev.db
/projects/complete_project/dev3.db
/projects/complete_project/dev.db4
/projects/complete_project/local_settings.py
