{# templates/training-models/histmodel.html #}
{% extends 'training-models/base.html' %}
{% block subarrive %}3{% endblock subarrive %}
{% load markup %}

{% block brick %}{% include "brick/brick.html" %}{% endblock brick %}

{% block body %}

	<h3>Holistic Integrated Sustainable Transformation</h3>
	<h2>Model</h2>
	<hr />
	
	<div class='right' style='padding:20px 0 15px 20px;'>
		<object width="400" height="220">
			<param name="allowfullscreen" value="true" />
			<param name="allowscriptaccess" value="always" />
			<param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11722290&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" />
			<embed src="http://vimeo.com/moogaloop.swf?clip_id=11722290&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="220"></embed>
		</object>
		<p class='caption'>HIST Model introduction with Tom Jennings.</p>
	</div>
	<div>
		<p>HIST is an acronym for Holistic, Integrated, Sustainable Transformation. Simply put, this model is about empowering lasting, positive change for individuals and entire communities. It is moving communities from dependency to dignity by changing views of poverty and by challenging people to reach their full potential. It has been the foundation for scores of initiatives around the world that are succeeding where other approaches have failed.</p><br/>

		<p>The HIST Model is a fundamental piece of our community development programs, and we appreciate your taking the time to look at it. Tom Jennings will introduce the model in the video on the right.  You can click through the presentation at your own pace. Please <a href='{% url contact %}'>contact us</a> if you have any questions or comments.</p>
	</div><br/>
	<div class='clearer'></div>
	
	<div style="padding:20px 0 0 20px;">
		<object width="520" height="410">
			<param name="movie" value="http://static.hisg.org/hisg.org/flash/slideshow.swf">
			<param name=FlashVars Value="videoPath=http://static.hisg.org/hisg.org/flash/pics-hist-20110224/&totalPics=60"></param>
			<embed src="http://static.hisg.org/hisg.org/flash/slideshow.swf" width="520" height="410" FlashVars="videoPath=http://static.hisg.org/hisg.org/flash/pics-hist-20110224/&totalPics=60">
			</embed>
		</object>
	</div><br/><br/><br/>



	<div class="rower">	
		<h4 style="padding:5px 0 0 0;">
			12 Service Categories for Holistic Community Development
		</h4> <br/>	
		<ol class="numvis">
			<li>Agriculture and Animal Husbandry</li>
			<li>Arts, Entertainment and Sports</li>
			<li>Economic Development</li>
			<li>Information / Communications / Technology</li>
			<li>Education</li>
			<li>Family Development / Support</li>
			<li>Government</li>
			<li>Security, Justice, and the Rule of Law</li>
			<li>Health / Hygiene</li>
			<li>Medical</li>
			<li>Infrastructure</li>
			<li>Non-Profit Organizations</li>
		</ol>
	</div>{# end of rower #}

{% endblock %}




 
