<h1>HISG Models</h1><br/>

<hr/><br/>

<h2>Holistic, Integrated, Sustainable Transformation</h2>


<img src="/site_media/images/sections/projects/hist-icon.jpg" class="gold5 right" alt="idr-icon" style="margin: 0pt 0pt 15px 15px;" />

The Holistic, Integrated, Sustainable, Tranformation (HIST) model is intended as a guide for humanitarian aid workers who want real, lasting change in their community. It is a new paradigm developed through HISG leadership's decades of international experience. As you view the HIST model, try to view it in light of a project that you are familiar with.  Are the challenges and obstacles similar to those that your development project has faced?  Would this sort of plan and process have made your project easier to measure and manage? We believe that the HIST Model, more than anything else, provides the strategy for workers who want to move beyond <span class="italic">doing things right</span> to <span class="italic">doing the right things.</span><br /><br /><br/>

<h4>Model/Training Resources</h4><br/><br/>

<div class="left modelrow">
	<img src="http://static.hisg.org/common/icons/silk/images.png" class="pic" alt="images"></img>
	<p>View the <a href="/training-and-models/models/hist-model/">slideshow</a> of the HIST Model and the 12 HIST categories.</p>
</div>

<div class="left modelrow">
	<img src="http://static.hisg.org/common/icons/mini/icon_package_get.gif" class="pic" alt="powerpoint"></img>
	<p>Download the HIST Model presentation in <a href="http://static.hisg.org/hisg.org/powerpoints/HIST_Model_Level1v8.0.ppt">powerpoint</a> format.</p>
</div>

<div class="left modelrow">
	<img src="http://static.hisg.org/common/icons/mini/file_acrobat.gif" class="pic" alt="Presenter Notes"></img>
	<p>Download the accompanying <a href=".">presenter notes</a> in pdf format.</p>
</div>

<div class="left modelrow">
	<img src="http://static.hisg.org/common/icons/silk/television.png" class="pic" alt="videos"></img>
	<p>Watch the <a href="/training-and-models/training-videos/">videos</a> of HIST Training.</p>
</div>

<div class="clearer"></div><br/><br/><br/><hr/>



<h2>International Disaster Response</h2>

<img src="/site_media/images/sections/projects/idr-icon.jpg" class="gold5 right" alt="idr-icon" style="margin: 0pt 0pt 15px 15px;" />

The International Disaster Response (IDR) model provides a roadmap for private sector organizations to know exactly how, when, and where to engage in disaster response.  It is becoming more evident that communities need the combined efforts of the government and a full spectrum of private sector participants in order to effectively respond to and recover from a disaster.  HISG is a leader in connecting resources from across the private sector and organizing them for efficient and effective disaster response operations.<br /><br /><br/>



<h4>Model/Training Resources</h4><br/><br/>

<div class="left modelrow">
	<img src="http://static.hisg.org//common/icons/silk/images.png" class="pic" alt="slideshow"></img>
	<p>View the <a href="/training-and-models/models/idr-model/">slideshow</a> of the IDR Model and the 14 IDR service categories.</p>
</div>

<div class="left modelrow">
	<img src="http://static.hisg.org//common/icons/mini/icon_package_get.gif" class="pic" alt="powerpoint"></img>
	<p>Download the HIST Model presentation in <a href="http://static.hisg.org/hisg.org/powerpoints/2009_IDR_mw005_pt1.ppt">powerpoint</a> format.</p>
</div>

<div class="left modelrow">
	<img src="http://static.hisg.org//common/icons/mini/file_acrobat.gif" class="pic" alt="Presenter Notes"></img>
	<p>Download the accompanying <a href=".">presenter notes</a> in pdf format.</p>
</div>

<div class="left modelrow">
	<img src="http://static.hisg.org//common/icons/silk/television.png" class="pic" alt="videos"></img>
	<p>Watch the <a href="/training-and-models/training-videos/">video</a> of IDR Training.</p>
</div>

<div class="clearer"></div><br/><br/>
