
<h2 class="center">Let's Save One - Donate</h2><hr/>

<p>
	Let's Save One gives everyone the opportunity to personally connect with people in different 
	parts of the world who are in dire need. Your gift will go directly to the specific need 
	described in the case summary on the <a href="/initiatives/lets-save-one/cases/">Cases page</a>. You can 
	give by clicking on the "Donate" button, or by mailing a check or money order to the address 
	below. Thank you for your concern and generosity.
</p><br/>

<div class="right" style="padding:0 30px 0 0;">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="410235">
	<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="">
	<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>

<p>Let's Save One</p>
<p>c/o Humanitarian International Services Group</p>
<p>Attn: Steve Lencke</p>
<p>4700 Castleton Way #200</p>
<p>Castle Rock, CO 80109</p>

<div style="padding:40px 0 0 0;">
	<img class="gold5" style="width:610px;" src="/site_media/images/sections/featured/lso/lso.png"></img>
</div>
