{# clogin/login-success.html  #}
{% extends "base.html" %}

{% block extra_head %}
	<script type="text/javascript">
		$(document).ready(function() {
			var $_GET = {};
			document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
			    function decode(s) {
			        return decodeURIComponent(s.split("+").join(" "));
			    }
			    $_GET[decode(arguments[1])] = decode(arguments[2]);
			});
			next = $_GET["next"];
			logincomplete(next);
		});
	</script>
{% endblock %}

{% block body %}
	<h3>You logged in or out successfully!</h3>

	<a href='/'>Go to the home page</a><br/><br/>

	<div id='somediv'>somediv</div>
{% endblock %}




