<!-- templates/featured/hrn.html -->
{% extends 'featured/base.html' %}
{% block subarrive %}6{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<h2 class="center">Hope Resource Network</h2><hr/>
	<p>
		HISG is working toward the goal of recruiting more international warehouses into the Hope Resource Network (HRN).  The network currently exists as a partnership between a national network of warehouses and logistics providers in the United States and a growing network of participants around the world.  HISG's HRN manager is preparing to meet with individuals and organizations from a number of different countries that can play significant roles in global humanitarian aid distribution.  Expanding the network to include more of these international partners will allow the partnership to ship more supplies around the world to people in need.  The HRN was established as a means for warehouses and logistics providers to work together during disaster situations, and for general humanitarian relief.  It has proven remarkably effective shipping supplies to parts of Africa, Asia, the Middle East, and Latin America, and is an essential part of how HISG connects resources to needs. 
	</p><br/>
	
	<p>
		As described in previous Pulse Reports, HISG is shipping gift-in-kind supplies to underprivileged people all over the world, through a partnership called Hope Resource Network (HRN).  The Hope Resource Network has organized several large projects such as shipping water filters to Sudan, food to Africa to alleviate the shortage there, and supplies to Southeast Asia to assist in disaster relief.
	</p><br/>
	
	<p>
		Recently, the HRN network collaborated on a project that demonstrates the value in such a partnership.  A tornado forced a shoe factory in Texas to shut down, and the factory was trying to dispose of 180,000 pairs of shoes.  Several charities were interested, but none had a warehouse that could receive the 15 truckloads of shoes, so the factory was preparing to destroy the shoes.  HISG coordinated the distribution of the shoes to different members of the Hope Resource Network who all have the capability to ship the shoes to needy communities around the world.  The Hope Resource Network is a key piece of HISG's vision to serve underserved populations around the world, and continues to show how different aid organizations can accomplish more working together than individually.  For more information on how to connect with this vital partnership, please contact us.
	</p><br/>
	
	<p>
		HRN Resource Mobilization and Management 
		The HISG Hope Resource Network (HRN) was formed to network warehouses and logistics partners that are interested in working together for relief and development operations.  We currently have over 3 million sq. ft. of warehouse space and 40 members and locations in the network with operations expanding globally.
	</p><br/>		  

	<p>
		The HRN allows members of the HISG Starfish Community to mobilize a myriad of different types of gift-in-kind (GIK) resources for relief and development operations.  Through our own Hope Warehouse and the HRN, we have supported container shipments to over 30 countries each year with materials ranging from hospital and school supplies to warm clothing and shoes.  Contact the HISG HRN Manager if you would like to join this network.
	</p><br/>		 

	<p>
		Requests for GIK materials or logistics support can be made by completing and submitting a Resource Request Form to the HISG Grant Administrator. 
	</p><br/>
{% endblock %}