<h2 class="center">Hope Resource Network</h2><hr />

<p>
	<div class="right">
		<img class="gold5" style="width:300px;margin:0 15px 20px 20px;" src="/site_media/images/sections/featured/hrn/forklift.jpg">
		</img>
	</div>
	<div>
		In 2005, the response to Hurricane Katrina demonstrated how critically important it is for relief organizations to work together. 
		Since that time Humanitarian International Services Group (HISG) has been connecting like-minded resource and logistics providers 
		whose passion and purpose is the effective and efficient acquisition and distribution of valuable goods to worthy humanitarian 
		projects worldwide. This partnership, called the Hope Resource Network, is made up of warehousing, transportation, and 
		manufacturing firms, along with other NGOs, working together to provide aid in disaster situations as well as for general 
		humanitarian relief. HISG has developed partnerships with over 20 different warehouses in the United States and one in Hong 
		Kong, and has access to a number of other logistics providers through HISG's existing networks.
	</div><div class="clearer"></div>
</p><br/>
	
<p>
	The Hope Resource Network (HRN) is an essential part of how HISG connects resources to needs around the world. Building 
	relationships to work together allows these warehouses to ship more goods to needy people worldwide, access a wide variety 
	of goods to meet more specific needs, and cut down or even eliminate shipping costs. The HRN has been set up to serve the 
	entire supply chain; from the origin of the resource all the way to the organization or individual who receives the goods 
	and strives to see that they are effectively distributed to those in need in the field.
</p><br/>
		
<p>
	Members of the Hope Resource 
	Network have worked together to ship food to the Middle East and multiple countries in Africa; disaster relief supplies 
	to Central America; and medical equipment and supplies to Ghana and the Dominican Republic.
</p><br/>

<p>
	The Hope Resource Network offers a proven system to manage gift-in-kind donations and help deliver those donations to 
	the people around the world who are in great need. Please <a href="/about-hisg/contact/">contact us</a> for more information on how the network works and 
	how your organization can become a part of it.
</p>