{# templates/admin/training/event/emailpreview.html #}
{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
	<script type="text/javascript" src="../../../jsi18n/"></script>
	{{ media }}
	{# // <script type="text/javascript" src="/site_media/js/jquery-1.3.2.min.js"></script> #}
	<script type="text/javascript" src="/admin_media/jquery/jquery.qtip.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			
		});
	</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}
{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="/admin/">Home</a> › <a href="/admin/training/">Training</a> › <a href="/admin/training/event/">Events</a> › <a href="/admin/training/event/{{ event.id }}/">{{ event }}</a> › <a href="{% url tableview event.id %}">tableview</a> › emailpreview
	</div>
{% endblock %}{# end of breadcrumbs #}

{% block content %}
	<div id="content-main">
		<h1>Email Preview</h1><br/><br/>
		<div class="object-tools"><ul>
			<li><a href="{% url tableview event.id %}" class="historylink">Back to TableView</a></li>
			<li><a href="/admin/training/event/{{ event.id }}/" class="historylink">Back to Event</a></li></ul></div>
		<form action='' method="POST">
		
		
			<div class="emailtable">
				<h2>{{ event }}{{ template }}{{ email.rcount|length|add:-2 }}</h2>
				Event Name    Template in use   Number of student recipients
				To:{{ email.toemail }}
				From:{{ email.fromemail }}
				Subject:{{ email.subject }}
				Message:{{ email.content|linebreaks }}
			</div>
			
			
			<div id="attendeesendemail"><button type="submit">Send Email</button></div>
		</form>
	</div>{# end of content main #}
{% endblock %}




<form action="">
