{# templates/admin/training/event/tableview.html #}
{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
	<script type="text/javascript" src="../../../jsi18n/"></script>
	{{ media }}
	{# // <script type="text/javascript" src="/site_media/js/jquery-1.3.2.min.js"></script> #}
	<script type="text/javascript" src="/admin_media/jquery/jquery.qtip.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('.emailtemplatepicker').css({'display':'none'});
			var value = $("#function_select :selected").text();
			if( value == 'Email Registrant'){
				$('.emailtemplatepicker').css({'display':'inline'});
			}		
			$("#function_select").bind("change", function(){
				var value = $("#function_select :selected").text();
				$('.emailtemplatepicker').css({'display':'none'});
				if(value=="Email Registrant"){
					$('.emailtemplatepicker').css({'display':'inline'});
				}
			})
			$('#select_all').qtip({ 
				content: 'Select All',
				position: {corner: {tooltip: 'rightTop',target: 'leftBottom'}},
				style: {border: {width: 5,radius: 10},padding: 5, textAlign: 'center',tip: true, name: 'cream'} 
			}); //this pops up a tooltip around the select all box to let people know it is a select all box
			 
			var dude_select_all = false;
			$('input[name=dude_list]').attr('checked', false);
			$('#select_all').toggle(
				function(){
					$('input[name=dude_list]').attr('checked', true);
					dude_select_all = true;
				},
				function(){
					$('input[name=dude_list]').attr('checked', false);
					dude_select_all = false;
				}
			);
			
			
		});
	</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}
{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="/admin/">Home</a> › <a href="/admin/training/">Training</a> › <a href="/admin/training/event/">Events</a> › <a href="/admin/training/event/{{ event.id }}/">{{ event }}</a> › tableview
	</div>
{% endblock %}{# end of breadcrumbs #}

{% block content %}
	<div id="content-main">
		<h1>{{ event }}</h1><br/><br/>
		<div class="object-tools"><ul>
			<li><a href="/admin/training/event/" class="historylink">Back to List</a></li>
			<li><a href="/admin/training/event/{{ event.id }}/" class="historylink">Back to Event</a></li></ul>
		</div>

		<form action='' method="POST">
			<div class="attendee_table">{# table #}
				<div class="tableheader">{# tableheader #}
					<div id="select_all" class="checker">&radic;</div>
					<div class="firstname">Name</div>
					<div class="emailer">Email</div>
					<div class="attender">Att.</div>
					<div class="picturer">Picture Upload</div>
					<div class="dater">Sign Up Date</div>
					{% for q in questions %}
						<div class="generic">{{ q }}</div>
					{% endfor %}
					
				</div>{# end of tableheader #}
				
				<div class="tablebody">{# tablebody #}
					{% for dude in dudes %}
						<div class="tablerow">
							<div class="checker"><input type="checkbox" name="dude_list" value="{{ dude.username }}" /></div>
							<div class="firstname">{{ dude.first_name }}</div>
							<div class="emailer">{{ dude.email }}</div>
							<div class="attender{% if dude.attend %} checker-green{% endif %}">&nbsp;</div>
							<div class="picturer">{% if dude.pictureurl %}<img src="{{ dude.pictureurl }}"></img>{% else %}None uploaded yet{% endif %}</div>
							<div class="dater">{{ dude.date }}</div>
							{% for q in dude.custom %}
								<div class="generic">{{ q }}</div>
							{% endfor %}
							
						</div>{# end of tablerow #}
						
						<div class="clearer"></div>
					{% endfor %}
					<div class="tablerow totalrow">
						<div class="checker">&nbsp;</div>
						<div class="firstname">{{ stats.cursize }} Registered </div>
						<div class="emailer">of {{ stats.maxsize }} (class limit)</div>
						<div class="attender">{{ stats.attendsize }}</div>
						<div class="picturer"> Attended</div>
						<div class="dater"><span class="bold">Totals</span></div>
					</div>
					<div class="functionrow">
						<select name="function_select" id="function_select">
							<option value="attadd">Add Attendence</option>
							<option value="attrem">Remove Attendence</option>
							<option value="regdel">Delete Registration</option>
							<option value="regema">Email Registrant</option>
						</select>
						<select name="email_select" class="emailtemplatepicker">
							{% for email in email_list %}
								<option value="{{ email.id }}">{{ email.name }}</option>
							{% endfor %}
						</select>
						<button type="submit">Go</button>
					</div>
					<div class="tablerow">
						When the event is 75% or more registered it will display the class size and number of registrants on the signup page.
					</div>
				</div>{# end of tablebody #}
			</div>{# end of the table #}
		</form>
	</div>{# end of content main #}
{% endblock %}




{# <form action=""> #}
