{# templates/brick/brick.html #}
<div id="left-column">{# start of left-column #}
	<div id="left-backer" style="height:{{ brickheight.height }}px;">{# start of left-backer #}
		
		<div class="left-block" style="width:280px;height:{{ brickgroup.brick1.size }}px;background:url({{ brickheight.b1path }}) no-repeat;">
			<a href="{{ brickgroup.brick1.link }}" target="{% if brickgroup.brick1.linktarget %}_blank{% else %}_self{% endif %}">
				{{ brickgroup.brick1.body|safe }}
				
				{% if brickheight.b1gallery_latest %} {# this test to see whether it is the photo brick #}
					{# <div class="br_ph_title">{{ brickheight.b1gallery_latest.title }}</div> #}
					{# {% for photo in brickheight.b1gallery_latest_list %} #}
					{# 	<div class="br_ph_photo"><img src="{{ photo.thumbnail_url }}" class="gold5"></img></div> #}
					{# {% endfor %} #}
					{# <div class="clearer"></div> #}
					{# <div class="br_ph_body">{{ brickheight.b1gallery_latest.description|truncatewords:16 }}</div> #}
					{% include "brick/brickincludes/gallery_latest.html" %}
				{% endif %}
				
				{% if brickheight.b1videos_latest %} {# this test to see whether it is the video brick #}
					{# <div class="br_ph_title"> #}
					{# 	Visit our Videos section of the web site to see more videos about community development and disaster response. #}
					{# </div> #}
					{# {% for video in brickheight.b1videos_latest %} #}
					{# 	<div class="br_ph_photo"><img src="{{ video.frame.get_thumbnail_url }}" class="gold5"></img></div> #}
					{# {% endfor %} #}
					{# <div class="clearer"></div> #}
					{% include "brick/brickincludes/videos_latest.html" %}
				{% endif %}
			</a>
		</div>
		
		<div class="left-block" style="width:280px;height:{{ brickgroup.brick2.size }}px;background:url({{ brickheight.b2path }}) no-repeat;">
			<a href="{{ brickgroup.brick2.link }}" target="{% if brickgroup.brick2.linktarget %}_blank{% else %}_self{% endif %}">
				{{ brickgroup.brick2.body|safe }}

				{% if brickheight.b2gallery_latest %} {# this test to see whether it is the photo brick #}
					<div class="br_ph_title">{{ brickheight.b2gallery_latest.title }}</div>
					{% for photo in brickheight.b2gallery_latest_list %}
						<div class="br_ph_photo"><img src="{{ photo.get_thumbnail_url }}" class="gold5"></img></div>
					{% endfor %}
					<div class="clearer"></div>
					<div class="br_ph_body">{{ brickheight.b2gallery_latest.description|truncatewords:16 }}</div>
				{% endif %}
				
				{% if brickheight.b2videos_latest %} {# this test to see whether it is the video brick #}
					<div class="br_ph_title">
						Visit our Videos section of the web site to see more videos about community development and disaster response.
					</div>
					{% for video in brickheight.b2videos_latest %}
						<div class="br_ph_photo"><img src="{{ video.frame.get_thumbnail_url }}" class="gold5"></img></div>
					{% endfor %}
					<div class="clearer"></div>
				{% endif %}
			</a>
		</div>
		
		<div class="left-block" style="width:280px;height:{{ brickgroup.brick3.size }}px;background:url({{ brickheight.b3path }}) no-repeat;">
			<a href="{{ brickgroup.brick3.link }}" target="{% if brickgroup.brick3.linktarget %}_blank{% else %}_self{% endif %}">
				{{ brickgroup.brick3.body|safe }}
				
				{% if brickheight.b3gallery_latest %} {# this test to see whether it is the photo brick #}
					<div class="br_ph_title">{{ brickheight.b3gallery_latest.title }}</div>
					{% for photo in brickheight.b3gallery_latest_list %}
						<div class="br_ph_photo"><img src="{{ photo.get_thumbnail_url }}" class="gold5"></img></div>
					{% endfor %}
					<div class="clearer"></div>
					<div class="br_ph_body">{{ brickheight.b3gallery_latest.description|truncatewords:16 }}</div>
				{% endif %}
				
				{% if brickheight.b3videos_latest %} {# this test to see whether it is the video brick #}
					<div class="br_ph_title">
						Visit our Videos section of the web site to see more videos about community development and disaster response.
					</div>
					{% for video in brickheight.b3videos_latest %}
						<div class="br_ph_photo"><img src="{{ video.frame.get_thumbnail_url }}" class="gold5"></img></div>
					{% endfor %}
					<div class="clearer"></div>
				{% endif %}
			</a>
		</div>
		
		<div class="left-block" style="width:280px;height:{{ brickgroup.brick4.size }}px;background:url({{ brickheight.b4path }}) no-repeat;">
			<a href="{{ brickgroup.brick4.link }}" target="{% if brickgroup.brick4.linktarget %}_blank{% else %}_self{% endif %}">
				{{ brickgroup.brick4.body|safe }}
				
				{% if brickheight.b4gallery_latest %} {# this test to see whether it is the photo brick #}
					<div class="br_ph_title">{{ brickheight.b4gallery_latest.title }}</div>
					{% for photo in brickheight.b4gallery_latest_list %}
						<div class="br_ph_photo"><img src="{{ photo.get_thumbnail_url }}" class="gold5"></img></div>
					{% endfor %}
					<div class="clearer"></div>
					<div class="br_ph_body">{{ brickheight.b4gallery_latest.description|truncatewords:16 }}</div>
				{% endif %}
				
				{% if brickheight.b4videos_latest %} {# this test to see whether it is the video brick #}
					<div class="br_ph_title">
						Visit our Videos section of the web site to see more videos about community development and disaster response.
					</div>
					{% for video in brickheight.b4videos_latest %}
						<div class="br_ph_photo"><img src="{{ video.frame.get_thumbnail_url }}" class="gold5"></img></div>
					{% endfor %}
					<div class="clearer"></div>
				{% endif %}
			</a>
		</div>

		
	</div>{# end of left-backer #}
</div>{# end of left-column #}