<!-- template/projects-models/capability.html -->
{% extends 'projects-models/base.html' %}
{% block subarrive %}4{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ brickgroup.brick1.link }}"><div class="brickpic"><img src="{{ brickgroup.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick1.link }}"><div class="brick">{{ brickgroup.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ brickgroup.brick2.link }}"><div class="brickpic"><img src="{{ brickgroup.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick2.link }}"><div class="brick">{{ brickgroup.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ brickgroup.brick3.link }}"><div class="brickpic"><img src="{{ brickgroup.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick3.link }}"><div class="brick">{{ brickgroup.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ brickgroup.brick4.link }}"><div class="brickpic"><img src="{{ brickgroup.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick4.link }}"><div class="brick">{{ brickgroup.brick4.body }}</div></a>
{% endblock brick4 %}


{% block body %}
<h2 class="center">Capability Survey</h2><hr/>

<div style="width:200px;padding:100px 0 0 200px;">
	<a href="http://survey.hisg-it.net/"><img src="/site_media/images/pcs_button.png"></img></a>
</div>



{% endblock %}
