{# templates/projects-models/detail_video.html #}


		<div style="float:left;width:260px;height:230px;padding:0 20px 0px 0;">
			<object width="260px" height="230px">
			<param name="movie" value="/site_media/flash/hisgvideos/smallstan.swf">
			<PARAM NAME=FlashVars VALUE="videoPath=/site_media/{{ video.path }}">
			<embed src="/site_media/flash/hisgvideos/smallstan.swf" width="260px" height="230px" FlashVars="videoPath=/site_media/{{ video.path }}">
			</embed>
			</object>
		</div>
		<div class="clearer"></div><br/>
		<div class="caption">
			{{ video.caption|safe }}
		</div>
