############################### hist ##############################################################



12 Service Categories for Holistic Community Development


1. Agriculture and Animal Husbandry 
	1.1 Environmental Management 
	1.2 Crops / Irrigation Management
	1.3 Animal Husbandry


2.	Arts and Entertainment  
	2.1 The Arts
	2.2 Sports
	2.3 Recreation and Amusement
 
3.	Economic Development
	3.1 Micro-Economic Development (MED) 
	3.2 Small to Medium Sized Enterprises
	3.3 Ethical Trade and Labor Practices 
	3.4 Cooperatives / Associations
	3.5 Financial Institutions
 
4.	Information / Communications / Technology
	4.1 Personal Communications (Phone, Sat, HAM Radio)
	4.2 Mass Communications (Press/TV/Radio)
	4.3 Internet
	4.4 IT / Technology Consultation
 
5.	Education 
	5.1 Instruction 
	5.2 Administration
	5.3 Curriculum Development
 
6.	Family Development / Support
	6.1 Marriage Counseling  
	6.2 Parenting
	6.3 Childhood Development
	6.4 Widows
	6.5 Orphans / Children at Risk
	6.6 Elderly

7.	Government
	7.1 Community / Tribal Leadership
	7.2 City / Regional Leadership 
	7.3 National / International Leadership
 
8.	Security, Justice, and the Rule of Law
	8.1 Military
	8.2 Courts and System of Justice
	8.3 Law Enforcement /Security
	8.4 Legal Services

9.	Health / Hygiene
	9.1 Water
	9.2 Sanitation
	9.3 Hygiene 
	9.4 Diet and Nutrition 


10.	Medical
	10.1 Medical Professionals / Teams
	10.2 Medical Equipment and Supplies
	10.3 Medicine
	10.4 Clinics / Hospitals
	10.5 Epidemic Diseases


11.	Infrastructure 
	11.1 Warehousing / Supply Chain
	11.2 Transportation / Distribution 
	11.3 Power / Utilities
	11.4 Roads
	11.5 Ports / Airports
	11.6 Construction / Engineering 


12.	Non-Profit Organizations
	12.1 Civic Groups/Clubs/Associations
	12.2 Non-Governmental Organizations
	12.3 Religious Organizations





############################### idr ##############################################################





Humanitarian International Services Group (HISG)

15 Service Categories for Private Sector Disaster Responders

1. Water Services 
	1.1. Water Purification 
	1.2. Water Supplies 
	1.3. Well Drilling 
 
2. Food Services 
	2.1. Prepare Meals 
		2.1.1. Congregation Meal Preparation 
		2.1.2. At Home Meal Preparation 
		2.1.3. Shelter Meal Preparation 
		2.1.4. Partner Meal Preparation 
		2.1.5. Mass Meal Preparation 
	2.2. Serve Meals 
	2.3. Deliver Bulk Food - Prepared Meals  
 
3. Shelter Services 
	3.1. Shelter Evacuees 
		3.1.1. Formal Shelters 
		3.1.2. Pop-up Shelters 
	3.2. Shelter Relief Workers and Volunteers 
		3.2.1. Formal Shelters 
		3.2.2. Pop-up Shelters 
	3.3. Provide Hotel, Lodging, Rental Accommodations 
 
4. Medical Services 
	4.1. Advanced Medical Care 
	4.2. Basic Medical Care or First Aid 
	4.3. Prescription, Medication Service 
	4.4. Airlift, Ambulance, Transportation  
 
5. Individual Assistance Services 
	5.1. Provide Clothing- Adult, Infant, Baby 
	5.2. Provide Bedding, Blankets, Pillows  
	5.3. Provide Furniture, Appliances 
	5.4. Provide Glasses, Vision Impairment Services  
	5.5. Provide Clean Up Supplies, Cleaning Supplies 
 
6. Personal Hygiene Services 
	6.1. Supply and Service Toilets 
	6.2. Assemble/Distribute Toiletry & Cleaning Supplies 
	6.3. Provide Shower Facilities 
	6.4. Provide Laundry Services 
	6.5. Waste / Garbage Disposal 
 
7. Mental Health and Spiritual Support 
	7.1. Mental Health Services 
		7.1.1. Trauma Counseling 
	7.2   Spiritual Support Services 
 
8. Physical Reconstruction Services
	8.1. Debris and Tree Removal 
	8.2. Mud Removal and Cleanup 
	8.3. Building and Repair- Skilled Labor 
	8.4. Building and Repair- Supplies 
	8.5. Building and Repair- Contracting/Estimating 

9. Logistics Management and Services 
	9.1. Early Assessment Teams 
	9.2. Mid to Long Term Assessing Community Logistics Needs
	9.3. Transporting and Distributing Supplies 
	9.4. Provide Storage Space, Warehouse Facilities 
	9.5. Humanitarian Aid Warehouse 
 
10. IT/Communications 
	10.1. Web Development, Web Support 
	10.2. Ham Radio, Radio, TV 
	10.3. Phone, Cellular, Internet, Satellite Support 
	10.4. Call Bank Phone Support, Call Management 
	10.5. Interpreters
 
11. Transportation Management and Services 
	11.1. Evacuee Shuttles 
	11.2. Volunteer and Relief Worker Shuttles 
	11.3. Evacuation, Relocation of Evacuees 
	11.4. Access to Trucks, Transport Vehicles 
	11.5. Supplying Fuels- Gasoline, Diesel 
	11.6. Gasoline Cards, Vouchers 
	11.7. Minor Auto Repair 
 
12. Special Needs Services 
	12.1. Children's Services 
		12.1.1. Child Care Services 
		12.1.2. Recreational Activities 
		12.1.3. Educational Services 
	12.2. Services to Persons with Disabilities 
	12.3. Services to the Elderly 
	12.4. Volunteer Management Services 
 
13. Case Management Services 
	13.1. Providing Information 
	13.2. Referral Services 
	13.3. Form and Application Assistance 
	13.4. Advocacy 
	13.5. Legal Services 
 
14. Financial Aid 
	14.1. Donations 
	14.2. Financial Relief, Grants, Loans 
	14.3. Fund Raising 
 
15. Professional Responders 
	15.1. Law Enforcement
	15.2. Firefighting/EMT 
	15.3. Emergency Operation Centers (EOC) 
	15.4. Information Sharing  
	15.5. Other Public Sector
