<!-- templates/projects-models/histmodel.html -->
{% extends 'projects-models/base.html' %}
{% block subarrive %}2{% endblock subarrive %}
{% load markup %}

{% block brick %}
	{% include "brick.html" %}
{% endblock brick %}

{% block body %}

	<h3>Holistic Integrated Sustainable Transformation</h3>
	<h2>Model</h2>
	<hr />
	<div style="padding:20px 0 0 20px;">
		<object width="520" height="410">
			<param name="movie" value="/site_media/flash/slideshow.swf">
			<param name=FlashVars Value="videoPath=/site_media/flash/pics-hist/&totalPics=43"></param>
			<embed src="/site_media/flash/slideshow.swf" width="520" height="410" FlashVars="videoPath=/site_media/flash/pics-hist/&totalPics=43">
			</embed>
		</object>
	</div>


{% endblock %}