<!-- templates/projects-models/histmodel.html -->
{% extends 'projects-models/base.html' %}
{% block subarrive %}2{% endblock subarrive %}
{% load markup %}

{% block brick1 %}
	<a href="{{ brickgroup.brick1.link }}"><div class="brickpic"><img src="{{ brickgroup.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick1.link }}"><div class="brick">{{ brickgroup.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ brickgroup.brick2.link }}"><div class="brickpic"><img src="{{ brickgroup.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick2.link }}"><div class="brick">{{ brickgroup.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ brickgroup.brick3.link }}"><div class="brickpic"><img src="{{ brickgroup.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick3.link }}"><div class="brick">{{ brickgroup.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ brickgroup.brick4.link }}"><div class="brickpic"><img src="{{ brickgroup.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick4.link }}"><div class="brick">{{ brickgroup.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}

	<h3>Holistic Integrated Sustainable Transformation</h3>
	<h2>Model</h2>
	<hr />
	<div style="padding:20px 0 0 20px;">
		<object width="600" height="480">
			<param name="movie" value="/site_media/flash/hist.swf">
			<embed src="/site_media/flash/hist.swf" width="600" height="480">
			</embed>
		</object>
	</div>


{% endblock %}