<!-- templates/projects-models/index.html -->
{% extends 'projects-models/base.html' %}

{% block brick1 %}
	<a href="{{ brickgroup.brick1.link }}"><div class="brickpic"><img src="{{ brickgroup.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick1.link }}"><div class="brick">{{ brickgroup.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ brickgroup.brick2.link }}"><div class="brickpic"><img src="{{ brickgroup.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick2.link }}"><div class="brick">{{ brickgroup.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ brickgroup.brick3.link }}"><div class="brickpic"><img src="{{ brickgroup.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick3.link }}"><div class="brick">{{ brickgroup.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ brickgroup.brick4.link }}"><div class="brickpic"><img src="{{ brickgroup.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick4.link }}"><div class="brick">{{ brickgroup.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
<div class="twoway">
	<div class="fourway">{# start of fourway for HIST Projects #}
		<h2>
			<a href="{% url project %}">HIST Projects</a>
		</h2>
		{% for project in hist_list %}
			<div class="rower">
				{% for photo in project.photo.all %}
					{% ifequal forloop.counter 1 %}
						<div class="right">
							<a href="{% url project_detail project.id %}">
								<img class="gold5x" style="margin:0 0 0 4px;" src="{{ photo.get_news_size_url }}"></img>
							</a>
						</div>
					{% endifequal %}
				{% endfor %}
				<a href="{% url project_detail project.id %}">
					<h4>{{ project.name }}</h4>
				</a>

				{{ project.description|safe|truncatewords:16 }}
				<div class="clearer"></div>
				<span class="left">
					{% for country in project.country.all %}
						{{ country }},
					{% endfor %}
				</span>
				<span class="right">
					{{ project.year|date:"Y" }}
				</span>
			</div>
		{% endfor %}
	</div>{# end of fourway for HIST Projects #}
	<div class="fourway">
		<h2>
			<a href="{% url histmodel %}">HIST Model</a>
		</h2>
		<div class="rower">
			<a href="{% url histmodel %}">	
				<h4 style="padding:5px 0 0 0;">
					12 Service Categories for Holistic Community Development
				</h4> <br/>
			</a>	
			<ol class="numvis">
				<li>Agriculture and Animal Husbandry</li>
				<li>Arts and Entertainment</li>
				<li>Economic Development</li>
				<li>Information / Communications / Technology</li>
				<li>Education</li>
				<li>Family Development / Support</li>
				<li>Government</li>
				<li>Security, Justice, and the Rule of Law</li>
				<li>Health / Hygiene</li>
				<li>Medical</li>
				<li>Infrastructure</li>
				<li>Non-Profit Organizations</li>
			</ol>
		</div>{# end of rower #}
	</div>{# end of fourway #}
</div>
<div class="clearer"></div>

<div class="twoway">
	<div class="fourway">{# start of fourway for IDR Projects #}
		<h2>
			<a href="{% url idrproject %}">IDR Projects</a>
		</h2>
		{% for project in idr_list %}
			<div class="rower">
				{% for photo in project.photo.all %}
					{% ifequal forloop.counter 1 %}
						<div class="right">
							<a href="{% url idrproject_detail project.id %}">
								<img class="gold5x" style="margin:0 0 0 4px;" src="{{ photo.get_news_size_url }}"></img>
							</a>
						</div>
					{% endifequal %}
				{% endfor %}
				<a href="{% url idrproject_detail project.id %}">
					<h4>{{ project.name }}</h4>
				</a>

				{{ project.description|safe|truncatewords:16 }}
				<div class="clearer"></div>
				<span class="left">
					{% for country in project.country.all %}
						{{ country }},
					{% endfor %}
				</span>
				<span class="right">
					{{ project.year|date:"Y" }}
				</span>
			</div>
		{% endfor %}
	</div>{# end of fourway for HIST Projects #}
	
	<div class="fourway">
		<h2>
			<a href="{% url idrmodel %}">IDR Model</a>
		</h2>
		<div class="rower">
			<a href="{% url idrmodel %}">
				<h4 style="padding:5px 0 0 0;">
					14 Service Categories for Private Sector Disaster Responders
				</h4>
			</a>	
			<br/>
			<ol class="numvis">
				<li>Water Services</li>
				<li>Food Services</li>
				<li>Shelter Services</li>
				<li>Medical Services</li>
				<li>Individual Assistance Services</li>
				<li>Personal Hygiene Services</li>
				<li>Counseling and Spiritual Support</li>
				<li>Physical Reconstruction Services</li>
				<li>Logistics Management and Services</li>
				<li>IT/Communication</li>
				<li>Special Needs Services</li>
				<li>Donations Management</li>
				<li>Professional Responders</li>
				<li>Transition and Recovery</li>
			</ol>
		</div>{# end of rower #}

	</div>{# end of fourway #}
</div>



{% endblock %}