<!-- templates/projects-models/index.html -->
{% extends 'projects-models/base.html' %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
<div class="twoway">
	<div class="fourway">
		<h2>
			<a href="{% url project %}">Projects</a>
		</h2><hr />
		{% for project in project_list %}
			<div class="rower">
				<a href="{% url project_detail project.id %}">
					<h4>{{ project.name }}</h4>
				</a>
				{% for photo in project.photo.all %}
					{% ifequal forloop.counter 1 %}
						<div class="right">
							<img src="{{ photo.get_news_size_url }}"></img>
						</div>
					{% endifequal %}
				{% endfor %}
				{{ project.description|truncatewords:13 }}
				<div class="clearer"></div>
				<span>
					{% for country in project.country.all %}
						{{ country }},
					{% endfor %}
				</span>
				<span>
					{% for region in project.region.all %}
						{{ region }}
					{% endfor %}
				</span>
				<span style="padding-left:20px;">
					{{ project.year|date:"Y" }}
				</span>
			</div>
		{% endfor %}
	</div>
	<div class="fourway">
		<h2>
			<a href="{% url histmodel %}">HIST Model</a>
		</h2><hr />
		<h4>12 Service Categories for Holistic Community Development</h4> <br/>


		1. Agriculture and Animal Husbandry <br/>
		2. Arts and Entertainment <br/>
		3. Economic Development <br/>
		4. Information / Communications / Technology <br/>
		5. Education  <br/>
		6. Family Development / Support <br/>
		7. Government <br/>
		8. Security, Justice, and the Rule of Law <br/>
		9. Health / Hygiene <br/>
		10.	Medical <br/>
		11.	Infrastructure <br/>
		12.	Non-Profit Organizations <br/>
		
	</div>
</div>
<div class="twoway">
	<div class="fourway">
		<h2>
			<a href="{% url capability %}">Capability Survey</a>
		</h2><hr />
		<p>Please join us in helping to eliminate suffering by filling out the capability survey and sharing your skills and interests.</p>
		<a href="{% url capability %}">
			<div id="buttoner">
				Partner Capability Survey
			</div>
		</a>
	</div>
	<div class="fourway">
		<h2>
			<a href="{% url idrmodel %}">IDR Model</a>
		</h2><hr />

		<h4>15 Service Categories for Private Sector Disaster Responders</h4>
		<br/>
		1. Water Services<br/>
		2. Food Service<br/>
		3. Shelter Service<br/>
		4. Medical Service<br/>
		5. Individual Assistance Service<br/>
		6. Personal Hygiene Service<br/>
		7. Mental Health and Spiritual Suppor<br/>
		8. Physical Reconstruction Service<br/>
		9. Logistics Management and Service<br/>
		10. IT/Communication<br/>
		11. Transportation Management and Service<br/>
		12. Special Needs Service<br/>
		13. Case Management Service<br/>
		14. Financial Ai<br/>
		15. Professional Responder<br/>

	</div>
</div>



{% endblock %}