<!-- template/projects-models/project_d.html -->
{% extends "projects-models/base.html" %}
{% block subarrive %}1{% endblock subarrive %}
{% load markup %}
{% block body %}
	<h2>{{ project.name }}</h2><br/>
	{% if project.photo.all %}
		<div class="right">
			<div>
				{% for photo in project.photo.all %}
					{% ifequal forloop.counter 1 %}
						<img src="{{ photo.get_front_page_url }}" />
					{% endifequal %}
				{% endfor %}
			</div>
			{% for photo in project.photo.all %}
				{% ifnotequal forloop.counter 1 %}
					<span>
						<img src="{{ photo.get_thumbnail_url }}" />
					</span>
				{% endifnotequal %}
			{% endfor %}
		</div>
	{% endif %}
	{{ project.description|textile }}
	<div class="clearer"></div>
	{% if project.active_now %}
		<p>Active</p><br>
	{% else %}
		<p>Not Active</p><br>
	{% endif %}


	<span>
		{% for country in project.country.all %}
			{{ country }},
		{% endfor %}
		{% for region in project.region.all %}
			{{ region }}
		{% endfor %}
	</span><br/>
	{{ project.histidr.histidr }}<br/>
	<h3>Project Videos</h3>
	{% for video in project.video.all %}
		{{ video.name }}-{{ video.caption }}
		<EMBED SRC="/site_media/{{ video.path }}" WIDTH=320 HEIGHT = 256
		 AUTOPLAY=false CONTROLLER=true LOOP=false
		 PLUGINSPAGE=http://www.apple.com/quicktime/ ><br><br>
	{% endfor %}
	{% if project.news.all %}
		<h3>Related News</h3>
		These news stories are updates to this project
		{% for news in project.news.all %}
			<a href="{% url news_detail news.pk %}">
			{{ forloop.counter }}-{{ news.name }}</a>
		{% endfor %}
	{% endif %}
	<div class="clearer"></div>
	{{ world.name }}{{ maps_num }}
	<div id="map_canvas" style="width: 500px; height: 300px;"></div>
{% endblock %}
