{# templates/featured/lso/cases.html #}
{% extends 'featured/lso/base.html' %}
{% block subarrive %}2{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<h2>Cases</h2>
	<div>
		<ul>
			<li>Khadija</li>
		    <li>Abdulgabbar</li>
		    <li>Ummel</li>
		    <li>Wesal</li>
		    <li>Intisar</li>
		</ul>
	</div>

	<hr/>
	<h3>Khadija</h3>
	 	Khadija is a 40-year-old Internally Displaced Person living in Nyala, Darfur. Earlier this year her husband died of a bronchial infection leaving her to care for their three children.

	In mid-2008, Khadija was diagnosed with breast cancer. The cancer is operable, requiring a mastectomy; however, she is approaching a critical deadline, after which it will be too late. The medical facilities in Nyala are not adequate for this sort of procedure, so the operation must be done in Khartoum. This will require substantial travel resources, assistance staying in Khartoum, and most significantly, the cost of the operation itself.

	Khadija's husband was self-employed as a builder, and like most uneducated people in Darfur, did not or could not pay the "social insurance tax" while he was working. Thus, there are no social programs to assist Khadija in her time of need.

	Khadija's brother-in-law has graciously cared for her and her children, but they have no extra money to put toward an operation. Despite the tremendous emotional and financial burden placed on his family, Khadija's brother-in-law is determined to help.

	"This is the life and a man must take care of his family," he said. "I am thankful everyday for HISG and the opportunity they have given me and my family."

	The Let's Save One initiative was launched as a direct response to Khadija's need and the needs of countless other people just like her. It is a situation where this lady will die without direct assistance. Let's Save One gives everyone the opporunity to give through HISG to save a life.

	Update October 10, 2008
	We are overjoyed to report that Khadija is currently undergoing treatment in a hospital in Khartoum. The doctors who examined Khadija upon her arrival reported that she had arrived just in time; waiting just one more month would have most likely pushed her beyond the deadline for any hope of a successful operation. But thanks to the generosity of many, Khadija will have the operation within a few days.

	<hr/>
	<div class="right">
		<img src="/site_media/images/sections/featured/lso/LSO_Abdul.png" style="padding:0 0 10px 20px;"></img>
	</div> 	
	<h3>Abdulgabbar</h3>

	A doctor in Nyala, Darfur has approached HISG about a 3-year-old boy named Abdulgabbar. Abdulgabbar is the youngest of four children, and has a rare disease called "Hirschsprung's Disease," which occurs when certain nerve cells in the intestines do not develop properly. This prevents the intestines from functioning correctly, causing blockages that require surgeries. Abdulgabbar had his first surgery at the tender age of three weeks. After a series of operations, complications emerged that left the boy in critical conditions and on the verge of death. Six additional operations were needed to save Abdulgabbar's life, but he still suffered from malnourishment and psychological trauma. Doctors believe that one more operation will greatly improve his situation and put him on the road to recovery, but the family is emotionally exhausted and financially destitute.

	Time is running short for Abdulgabbar and his family. Please consider this opportunity to give through HISG to help this precious little boy. You can click here to make a tax-deductible donation. 	Abdulgabbar

	<hr/>
	<div class="right">
		<img src="/site_media/images/sections/featured/lso/LSO_Ummel.jpg" style="padding:0 0 10px 20px;"></img>
	</div>
	 	<h3>Ummel</h3>
	 	A lost hope...

	Ummel
	Ummel Hassan had given up hope. Two years ago, the Janjawid (militia, literally: "devils on horseback with guns") attacked her village in South Darfur. They killed her husband and three of her ten children. Then they shot Ummel in the face, both arms, and her leg, and slashed her left arm with a machete.

	Ummel was lucky to survive. She was treated in an emergency surgery two years ago, but the upper part of her left arm never healed properly. It is severely malformed, with the bone protruding through the skin and in danger of infection. Once infection sets in, gangrene is likely to follow, and her arm will need to be amputated. She is already destitute, struggling to provide for herself and her seven surviving children. If she loses her arm, she will never be able to work in the fields or do household chores to earn the money she needs to buy food for her children.

	A last chance...

	The HISG office in Nyala was contacted by a health care worker from Aide Médicale Internationale (AMI) who had heard how HISG's Let's Save One program had assisted others in critical medical need. Corrective surgery at the Chinese Hospital in Nyala required $1500 USD, and Let's Save One was the last hope of securing medical assistance for this unfortunate mother.

	Another one saved...

	Ummel
	When notified of Ummel's tragic story, HISG raised the money to cover her medical costs within only a matter of hours!
	<div class="right">
		<img src="/site_media/images/sections/featured/lso/LSO_Ummel2.jpg" style="padding:0 0 10px 20px;"></img>
	</div>
	Ummel, who still lives in Kurunge with her children, has been transported to Nyala for surgery. The operation is scheduled for early February 2009, waiting only for the delivery of prosthetic implants to not just save the arm, but also make it as close to fully functional as possible.

	The irony of this story is that most medical organizations like AMI are prohibited from using funds for preventative surgery like this; they can only designate funds when a patient's condition becomes life threatening. In Ummel's case, this means that after gangrene had set in, the arm could then be amputated. There are no social health programs to assist with a preventative surgery that would preclude the need for amputation. Let's Save One was Ummel's only option, and your generous giving saved her arm and allowed her to continue to care for her children.

	HISG staff in Nyala would like to thank everyone who contributed to Ummel's medical surgery. More updates on her condition and recovery will be posted soon. Thank you for supporting HISG.

	<hr/>
	<div class="right">
		<img src="/site_media/images/sections/featured/lso/LSO_Susan.jpg" style="padding:0 0 10px 20px;"></img>
	</div>
 	<h3>Wesal</h3>


	Susan and Wesal
	HISG's Susan Copenhaver with Wesal in 2007
	Wesal 2009
	Wesal in 2008, with her new hearing aid
	In HISG's Darfur Initiative, we described the plight of a girl named Wesal suffering from deteriorating hearing loss. She was in fact Let's Save One's first beneficiary even though the LSO concept had not yet been fully developed.

	Wesal had graduated from high school at the top of her class and earned a university scholarship, but was unable to attend college because the university in Nyala, where she lives, cannot accomodate special needs students. She needed a hearing aid, but her family of six, like much of Darfur, is extremely poor and would never be able to afford it. Our close friend and co-worker in the community brought her situation to our attention, and your generous support allowed HISG to provide Wesal with the hearing aid she needed to succeed in her studies.

	Wesal was fitted and equipped with hearing aids that provided immediate improvement in her ability to hear and communicate. The picture on the bottom right shows her immediate change in demeanor once she received her hearing aid. She enrolled in Nyala University in the fall of 2008, and is studying engineering. Wesal is bright young woman, and HISG and your support has changed her future from one likely trapped in poverty to one full of potential.

	Thank you for your generous assistance. Like the starfish thrown back into the the sea, it most certainly made a difference to this one.
	<div class="right">
		<img src="/site_media/images/sections/featured/lso/LSO_Wesal.jpg" style="padding:0 0 10px 20px;"></img>
	</div>

	<hr/>
	<div class="right">
		<img src="/site_media/images/sections/featured/lso/LSO_Intisar.jpg" style="padding:0 0 10px 20px;"></img>
	</div>
 	<h3>Intisar</h3>
	 	Intisar Intisar Ahmed Yasin is a 40-year old female, energetic and dedicated to her purpose in this life - being a primary school teacher that started 18 years ago in 1991. Her passion for her profession and for the children she has taught is conveyed in her words and actions. Even the local government of South Darfur, Sudan voices their strong positive opinion regarding her contribution to the community as a whole.

	CONDITION: Total hearing loss in both ears.

	Intisar's condition is not a life-threatening situation as in other "Let's Save One" beneficiaries, but we do see her handicap as negatively impacting her community. Once children reach school age, they start spending more time with their teachers than with their parents. This means that teachers aren't just imparting an education; they're affecting the emotional, intellectual, and social development of each student they encounter. The poet William Butler Yeats once said, "Education is not the filling of a pail, but the lighting of a fire." And, indeed, by giving kids the knowledge and skills they need to succeed as adults, by urging them to pursue their dreams, and by impressing on them the joy that comes from a lifetime of learning, teachers can be virtually limitless in their capacity to touch lives. And considering that on average teachers affect 3,000 kids over the course of their careers, the ripple effect of even a single teacher's impact can be astounding.

	Intisar's hearing started to deteriorate a few years ago right after the passing of her mother. She has been having mucus seep out of her ears, which the doctors believe caused her to become deaf. Along with the excess of mucus from her ears, she has been losing her ability to create saliva in her mouth, which has been making it increasingly harder for her to swallow any liquid or food. Both the seeping mucus and dry mouth have created a non-conducive environment for her to get sufficient sleep as she is woken up constantly during the night from fits of coughing, from the dry mouth, and the need to clean out any of the mucus from her ears to prevent further infection.

	Local doctors in Nyala and Khartoum have treated and analyzed Intisar's condition to the best of their ability. Doctor Hider Abukir, Khartoum Hospital Audiology Department, diagnosed her condition as possible damage to her eardrums and may require "plates" to be implanted into both ear canals, which will prevent the seepage of mucus and ear infection. The doctors cannot guarantee surgery will fully realize a complete reversal of Intisar's hearing impairment, but undoubtedly will significantly help. The Federal Ministry of Health National Medical Commission Board has recommended she be seen at a hospital in Cairo, Egypt for further diagnosis and treatment. Intisar is financially unable to raise the funds for this costly operation.

	Due to her loss of hearing, Intisar is not able to teach. Not only the students at her school but the entire community feels the impact with the loss of such a skilled and dedicated educator. The Commissioner of the South Sudan Federal Humanitarian Aid Commission has personally requested Let's Save One review Intisar's case and provide any assistance available. Intisar desires more than anything to go back to teaching - her calling in life. Unfortunately, without surgery, Intisar will not be allowed to regain her teaching position at the Nyala Primary School.

	We view this case not simply as a way to assist this educator, and actually only considered helping after fully realizing the impact a teacher has on the community, especially in Darfur where teachers are far and few between. Additionally, we have discussed with Intisar partnering with us in developing academic and vocational training for the hearing impaired in a new (never before existing) handicap educational facility that we are actively working to have constructed. Our long-term hope in this assistance can pave the way in asking her to join this new school and help the handicap children become more efficient members of their community. Instisar has already voiced she can be of great assistance to the hearing impaired after going through this experience and readily agrees to assist.

	Click Here to Donate
{% endblock %}