<h2 class="center">Let's Save One</h2><hr/>

<div class="right">
	<img src="/site_media/images/sections/featured/starfish/starfish_story.png" style="padding:0 0 10px 20px;width:350px;"></img>
</div>
<p>
	When the question "What is the yardstick for success in Darfur?" was put to HISG's Country Director for Sudan, he thought about 
	all the people living in the less-than-human conditions in the Internally Displaced Person (IDP) camps, and then answered: "If 
	we only ever save but one, then we will have done more than we could ever have accomplished sitting at home."
</p><br/>

<p>
	This dialogue provided the foundation for the Let's Save One campaign. It is a campaign to provide direct assistance to 
	individuals in critical need. The initial case was Khadija, a woman from Darfur suffering from breast cancer. She was 
	running out of time, but thanks to the Let's Save One initiative, and the generosity of people determined to make a 
	life-saving difference in the life of one widow, she was able to receive the surgery she needed. You can read more about 
	each of the individuals helped by the Let's Save One campaign by clicking on the "Cases" link at the top of this page.
</p><br/>

<div class="left">
	<img src="/site_media/images/sections/featured/starfish/starfish.png" style="padding:0 20px 0 20px;">
	</img>
</div>
<p>
	HISG was established out of a passion to care for widows, orphans, and other vulnerable members of society who have no 
	one else to care for them. We thank you in advance for choosing to be a part of the Let's Save One initiative, and 
	thank you for helping us bring hope and healing to broken lives.
</p><br/>
