{% load i18n %}
{% load chunks %}
{% load locvals %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>HISG : {% block pagetitle %}{% endblock %}</title>
        <!--[if IE]><style>
            div {zoom: 1; /* trigger hasLayout */}
        </style><![endif]-->
		<link rel="icon" type="image/png" href="/site_media/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="/site_media/css/second.css">
		<link rel="stylesheet" type="text/css" href="/site_media/css/logquicksearch.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="/site_media/js/navigate.js"></script>
		<script type="text/javascript">
			var sfp_config = new Array();
			sfp_config['pathtosfp'] = '{% pathtosfp %}';   	// custom template tag:gets setting from local_settings and passes it on the js at sfp
			sfp_config['sitepubkey'] = '{% siteserver %}';
			sfp_config['next'] = '{% if next %}{{ next }}{% else %}{{ request.path }}{% endif %}';
			sfp_config['screenname'] = '{{ request.user.username }}';
			sfp_config['uid'] = '{{ request.user.last_name }}';
			sfp_config['sid'] = '{{ request.session.thesid }}';
			sfp_config['profileurl'] = '{{ profileurl }}';
			function nativelogincomplete(next,profileurl){
				if(profileurl != ''){
					window.location.replace(String(next) + '?profileurl=' + String(profileurl));
				}else{
					window.location.replace(next);
				}
			}
		</script>
		<script type="text/javascript" src="{% sfpjs %}"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			<!--
			showsecond({% block arrive %}0{% endblock arrive %},{% block subarrive %}0{% endblock subarrive %});
			hoversecond();
			quickpick();
			tininav();
			//-->// Stuff to do as soon as the DOM is ready;
		});
		</script>
		<style type="text/css">
			div#sfp_StarfishLoginWidget{float:right;margin:10px 100px 0px 0px;}
		</style>
        {% block extra_head %}{% endblock %}
		{# old google analytics #}
		{# <script type="text/javascript"> #}
		{#   var _gaq = _gaq || []; #}
		{#   _gaq.push(['_setAccount', 'UA-19762554-1']); #}
		{#   _gaq.push(['_trackPageview']); #}
		{#  #}
		{#   (function() { #}
		{#     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; #}
		{#     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; #}
		{#     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); #}
		{#   })(); #}
		{# </script> #}
		
		{# google analytics #}
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-20976218-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
    </head>
	<body {% block body_load %}{% endblock %}><!--start of the wrapper for whole page-->
		<div id="doc-wrapper">
			<div id="doc"><!--start of the custom document declaration-->
				<div id="hd"><!--this is the start of the header-->
					<div id="one">
						{% include 'includes/logquicksearch.html' %}
					</div>{# end of one #}
					<div id="two">
						<img src="/site_media/images/second/globe.jpg" id="globepic"></img>
						<a href="{% url home %}">
							<img src="/site_media/images/hisg2.jpg" id="hisgpic"></img>
						</a>
						<img src="/site_media/images/second/{% block labelpic %}{% endblock labelpic %}" id="labelpic"></img>
					</div>{# end of two #}
				</div><!--this is the end of the Header-->	
			
				<div id="bd"><!--this is the start of the body-->
					{% block navigation %}{% endblock %}{# start and end of navigation #}
					
					{% block brick %}{% endblock brick %}{# start and end of left-column #}
					
					<div id="right-colomn">
						{% block tininav %}{% endblock %}
						{% block body %}{% endblock body %}
					</div>{# this is where the main content goes. Look in site_base. #}
					
				    {% block extra_body %}{% endblock %}{# if you need extra? #}
					<div style="clear:both"></div>
					
					<div id="ft">{# this is the start of the footer #}
						{% block footer %}{% endblock %}{# in site_base.html #}
					</div>{# this is the end of the footer #}
				</div>{# this is the end of the body #}
			</div>{# this is the end of doc #}
		</div>{# end of doc-wrapper #}

		{# <script type="text/javascript"> #}
		{# 	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); #}
		{# 	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); #}
		{# </script>					 #}
		{# <script type="text/javascript"> #}
		{# 	try { #}
		{# 	var pageTracker = _gat._getTracker("UA-300821-5"); #}
		{# 	pageTracker._trackPageview(); #}
		{# 	} catch(err) {} #}
		{# </script> #}
    </body>
</html>
