{% load i18n %}
{% load chunks %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{ site_name }} : {% block pagetitle %}{% endblock %}</title>
        <!--[if IE]><style>
            div {zoom: 1; /* trigger hasLayout */}
        </style><![endif]-->
		<link rel="icon" type="image/png" href="/site_media/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="/site_media/css/second.css" >
		<script type="text/javascript" src="/site_media/js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="/site_media/js/navigate.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			<!--
			showsecond({% block arrive %}{% endblock arrive %},{% block subarrive %}0{% endblock subarrive %});
			hoversecond();
			quickpick();
			tininav();
			//-->// Stuff to do as soon as the DOM is ready;
		});
		</script>
        {% block extra_head %}{% endblock %}
    </head>
	<body {% block body_load %}{% endblock %}><!--start of the wrapper for whole page-->
		<div id="doc-wrapper">
			<div id="doc"><!--start of the custom document declaration-->
				<div id="hd"><!--this is the start of the header-->
					<div id="one">
						<div id="quickdiv">
							<ul class="quickpick">
								{% if searchpage %}
									<li>Quick Pick</li>{# this is a patch to fix search #}
								{% else %}
									{% chunk "quickpicks" %}
								{% endif %}
							</ul>{# end of quickpick #}
						</div>{# end of quickdiv #}
						<div id="searchdiv">
							<form action="{% url search %}" method="GET" id="sitesearchform">
								<label for="searchinput">SEARCH</label>
								<input type="text" id="q" name="q" value="{{ query|escape }}">
								<input type="image" src="/site_media/images/magnifier_small.png" alt="search" id="magnifier">
								<input style="visibility:hidden;" type="checkbox" name="all" value="all" checked="checked">
							</form>
						</div>{# end of searchdiv #}
					</div>{# end of one #}
					<div id="two">
						<img src="/site_media/images/second/globe.jpg" id="globepic"></img>
						<a href="{% url home %}">
							<img src="/site_media/images/hisg2.jpg" id="hisgpic"></img>
						</a>
						<img src="/site_media/images/second/{% block labelpic %}{% endblock labelpic %}" id="labelpic"></img>
					</div>{# end of two #}
				</div><!--this is the end of the Header-->	
			
				<div id="bd"><!--this is the start of the body-->
					{% block navigation %}{% endblock %}{# start and end of navigation #}
					
					{% block brick %}{% endblock brick %}{# start and end of left-column #}
					
					<div id="right-colomn">
						{% block tininav %}{% endblock %}
						{% block body %}{% endblock body %}
					</div>{# this is where the main content goes. Look in site_base. #}
					
				    {% block extra_body %}{% endblock %}{# if you need extra? #}
					<div style="clear:both"></div>
					
					<div id="ft">{# this is the start of the footer #}
						{% block footer %}{% endblock %}{# in site_base.html #}
					</div>{# this is the end of the footer #}
				</div>{# this is the end of the body #}
			</div>{# this is the end of doc #}
		</div>{# end of doc-wrapper #}
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-300821-5");
		pageTracker._trackPageview();
		} catch(err) {}
		</script>
    </body>
</html>
