<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>HISG : Out of Service</title>
        <!--[if IE]><style>
            div {zoom: 1; /* trigger hasLayout */}
        </style><![endif]-->
		<link rel="icon" type="image/png" href="/site_media/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="/site_media/css/second.css">
    </head>
	<body><!--start of the wrapper for whole page-->
		<div id="doc-wrapper">
			<div id="doc"><!--start of the custom document declaration-->
				<div id="hd"><!--this is the start of the header-->
					<div id="one">
						{# {% include 'includes/logquicksearch.html' %} #}
					</div>{# end of one #}
					<div id="two">
						<img src="/site_media/images/second/globe.jpg" id="globepic"></img>
						<a href="/">
							<img src="/site_media/images/hisg2.jpg" id="hisgpic"></img>
						</a>
						<img src="/site_media/images/second/connect.jpg" id="labelpic"></img>
					</div>{# end of two #}
				</div><!--this is the end of the Header-->	
			
				<div id="bd"><!--this is the start of the body-->

					<div style="float:left;width:250px;padding-top:20px;text-align:center;color:#999;font-weight:bold;">
						<p style="font-size: 35px;">We'll Be</p>
						<p style="font-size: 35px;">Right Back</p>
					</div>

					<div style="margin: 60px 0px 100px 270px;">
						<h3>This site is down temporarily for maintenance.</h3>
						<p style = "margin: 20px 100px 0px 30px;">
							We're sorry for the inconvenience. We're working hard to get things back online as quickly as possible.
						</p>
					</div>
					<div style="clear:both"></div>

					
					<div id="ft">{# this is the start of the footer #}
						<div class="legal">
						    <a href="/">SEARCH</a> | <a href="/info/first-time-here/">FIRST TIME HERE</a> | <a href="/">FAQS</a>
						    | <a href="/">SITE MAP</a> | &copy; 2001-2009 HISG<br>
							Humanitarian International Services Group &nbsp;| &nbsp;4700 Castleton Way, Suite 200, Castle Rock, CO 80109 Phone:(303) 662-0845 &nbsp;| &nbsp;HISG is a non-profit 501(c)3 tax exempt organization
						</div>
					</div>{# this is the end of the footer #}
				</div>{# this is the end of the body #}
			</div>{# this is the end of doc #}
		</div>{# end of doc-wrapper #}
    </body>
</html>
