{% extends "base.html" %}

{% load i18n %}

{% block navigation %}
	<div id="nav"><!-- These are the top level navigation links -->
		<ul id="navigation">
			<li id="li1">
				<a id="nav1" href="{% url home %}">
					<span>HOME</span>
				</a>
			</li>
			<li id="li2">
				<a id="nav2" href="{% url newsphotos %}">
					<span>NEWS &amp; photos</span>
				</a>
			</li>
			<li id="li3">
				<a id="nav3" href="{% url featured %}">
					<span>featured INITIATIVES</span>
				</a>
			</li>
			<li id="li4">
				<a id="nav4" href="{% url projectsmodels %}">
					<span>PROJECTS &amp; models</span>
				</a>
			</li>
			<li id="li5">
				<a id="nav5" href="{% url about %}">
					<span>about HISG</span>
				</a>
			</li>
			<li id="li6">
				<a id="nav6" href="{% url donation %}">
					<span>DONATION portal</span>
				</a>
			</li>
		</ul><!-- end of navigation -->
		<div id="subnavigation">
			<ul class="subnav">
				<li class="sub0" id="testify">Welcome to HISG</li>
				<li class="sub1" id="sub11"><a href="{% url home %}">Home</a></li>
				
				<li class="sub2" id="sub21"><a href="{% url news %}">News | </a></li>
				<li class="sub2" id="sub22"><a href="{% url gallery %}">Photos | </a></li>
				<li class="sub2" id="sub23"><a href="{% url videos %}">Videos | </a></li>
				<li class="sub2" id="sub24"><a href="{% url blog %}">Blog</a></li>

				<li class="sub3" id="sub31"><a href="{% url star %}">Starfish Community | </a></li>
				<li class="sub3" id="sub32"><a href="{% url lso %}">Let's Save One | </a></li>
				<li class="sub3" id="sub33"><a href="{% url orphan %}">Orphan Care | </a></li>
				<li class="sub3" id="sub34"><a href="{% url darfur %}">Darfur Initiative | </a></li>
				<li class="sub3" id="sub35"><a href="{% url gic %}">Global Informatinon Center | </a></li>
				<li class="sub3" id="sub36"><a href="{% url hrn %}">Hope Resource Network</a></li>

				<li class="sub4" id="sub41"><a href="{% url project %}">Projects | </a></li>
				<li class="sub4" id="sub42"><a href="{% url histmodel %}">HIST Model | </a></li>
				<li class="sub4" id="sub43"><a href="{% url idrmodel %}">IDR Model | </a></li>
				<li class="sub4" id="sub44"><a href="{% url capability %}">Capability Survey</a></li>
			
				<li class="sub5" id="sub51"><a href="{% url history %}">History | </a></li>
				<li class="sub5" id="sub52"><a href="{% url directors %}">Directors | </a></li>
				<li class="sub5" id="sub53"><a href="{% url staff %}">Staff | </a></li>
				<li class="sub5" id="sub54"><a href="{% url office %}">Offices | </a></li>
				<li class="sub5" id="sub55"><a href="{% url vision %}">Purpose and Vision | </a></li>
				<li class="sub5" id="sub56"><a href="{% url contact %}">Contact Us</a></li>    

				
				<li class="sub6" id="sub61"><a href="{% url donation_login %}">Donor Login</a></li>
			
		{% if user.is_authenticated %}
				<li class="inyes" id="adminfirst">
					<a href="{% url profile_detail user %}">{{ user }} | </a>
				</li>
				<li class="inyes">
					<a href="{% url acct_logout %}">logout</a>
				</li>
				{% if perms.tribes %}
				<li class="inyes">
					<a href="/admin/"> | admin</a>
				</li>
				{% else %}
					{% if perms.partners %}
						<li class="inyes">
							<a href="{% url partners_starfish %}">starfish</a>
						</li>
					{% endif %}
				{% endif %}
			</ul>
		{% else %}
				<li class="inyes" id="adminfirst">
					<a href="{% url acct_login %}">Login</a>/
					<a href="{% url acct_signup %}">Signup</a>
				</li>
			</ul>
		{% endif %}
		</div><!-- end of subnavigation block -->
	</div><!-- end of nav (top level navigation) -->
	
{% endblock %}
{% block subnavigation %}
		{% if user.is_authenticated %}
		<div id="admin">
			<ul id="administration">
				<li>
					<a href="{% url profile_detail user %}">{{ user }}</a>
				</li>
				<li>
					<a href="{% url acct_logout %}">logout</a>
				</li>
				{% if perms.tribes %}
				<li>
					<a href="/admin/">admin</a>
				</li>
				{% else %}
					{% if perms.partners %}
						<li>
							<a href="{% url partners_starfish %}">starfish</a>
						</li>
					{% endif %}
				{% endif %}
			</ul>
		</div>
		{% else %}
		<div id="admin">
			<ul id="administration">
				<li>
					<a href="{% url acct_login %}">Login</a>/
					<a href="{% url acct_signup %}">Signup</a>
				</li>
			</ul>
		</div>
		{% endif %}
{% endblock subnavigation %}

{% block footer %}
<div class="legal">

    <a href="{% url search %}">SEARCH</a> | <a href="/">FAQS</a>
    | <a href="{% url terms %}">SITE MAP</a> | &copy; 2001-2009 HISG<br>
	Humanitarian International Services Group &nbsp;| &nbsp;4700 Castleton Way, Suite 200, Castle Rock, CO 80109 Phone:(303) 662-0845 &nbsp;| &nbsp;HISG is a non-profit 501(c)3 tax exempt organization
</div>
{% endblock %}
