{# templates/admin/homepage/nav/change_list_special.html #}
{% extends "admin/base_site.html" %}

{% block extrastyle %}
	<link rel="stylesheet" href="/admin_media/css/ui-darkness/jquery-ui-1.8.12.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<style type="text/css" media="screen">
		#nav{background:white;margin-top:2em;padding:20px;}
		#sortable{}
		#sortable li{margin:10px;padding:5px 12px;width:200px;-moz-border-radius:5px;-webkit-border-radius:5px;list-style:none;cursor:pointer;}
		#sortable li.rank_2{margin-left:50px;}
		#sortable li.rank_3{margin-left:100px;}
		#sortable li.rank_4{margin-left:150px;}
	</style>
{% endblock %}
{% block extrahead %}
	{# // <script src="/site_media/js/jstree/jquery.jstree.js" type="text/javascript" charset="utf-8"></script> #}
	<script type="text/javascript" charset="utf-8">
		listlev = 1;
		$(document).ready(function() {
			$("#sortable").sortable({
				revert: true
			});
			$("#draggable").draggable({
				connectToSortable: "#sortable",
				helper: "clone",
				revert: "invalid"
			});
			$("ul, li").disableSelection();
			listlev = 1;
			oldid = 0;
			{% for nav in navs %}
			nlistlev = {{ nav.rank }};
			liel = '<li class="ui-state-default rank_{{ nav.rank }}" id="nav_{{ nav.id }}">{{ nav.displayname }}</li>';
			$('#sortable').append(liel);
			listlev = nlistlev;
			oldid = {{ nav.id }};
			{% endfor %}
		});
	</script>
{% endblock %}


{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="../../">Home</a><a href="../">Homepage</a><div class="endofbreadcrumbs">Nav List Fancy</div>
	</div>
{% endblock %}

{% block content %}
	<div id="content-main">
		<ul class="object-tools" style='margin-top:0em;'>
			<li>
				<a href='/admin/homepage/nav/'>Normal ChangeList</a>
			</li>
		</ul>
		
		<div id='nav'>
			<h1>Navigation Items</h1>
			<ul id='sortable' class='ui-sortable ul_1'>
				
			</ul>

		</div>
	</div>{# end of content-main #}
{% endblock %}
