
from hisg.models import News
news_dict = {"queryset": News.objects.all().order_by('-date'),}

admin.autodiscover()

urlpatterns = patterns('',
    # url(r'^$', direct_to_template, {"template": "homepage.html","queryset": News.objects.all(),}, name="home"),
	url(r'^$', 'django.views.generic.list_detail.object_list', dict(news_dict, template_name='homepage.html'), 'home'),


























<div id="custom-doc" class="yui-t2"><!--this is the start of the custom document declaration-->
	<div id="hd"><!--this is the start of the header-->
		<div id="ygma"><!--this is the start of Header Picture-->
			<img src="/site_media/site_images/header8.png" />
		</div><!--this is the end of Header Picture-->
		<div id="sitesearch"><!--this is the start of site search-->
			<form action="" id="sitesearchform">
				<input type="text" id="searchinput" name="p">
			</form>
		</div><!--this is the end of site search-->
		{% block navigation %}{% endblock %}
		<div id="imagewheel"><object id="imagewheel" width="150" height="100">
			<param name="imagewheel" value="imagewheel.swf">
			<embed src="/site_media/flash/imagewheel.swf" width="150" height="100">
			</embed>
		</object></div>
	</div><!--this is the end of the Header-->
	<div id="bd"><!--this is the start of the body-->
		<div id="yui-main"><!--this is the start of the outermost yui main it has a left margin to center it on the page-->
			<div class="yui-b"><!--this is the start of the outermost yui b. It has a left margin to move past the navigation-->
  				<div class="yui-ge"><!--this is the start of yui-ge. This is a wrapper for the center and right columns-->
	  				<div class="yui-u first center_column"><!-- start of center column. This is where the main content/PageHeaders/site announcements/messages live. -->
						{% if site_wide_announcements %}
				            <div id="site_wide_announcements"><!-- you can insert announcements from the admin and they will be tossed in here. -->
				                <ul>
				                    {% for announcement in site_wide_announcements %}
				                    <li>
				                        <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
				                        <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
				                    </li>
				                    {% endfor %}
				                </ul>
				            </div><!-- end of site-wide announcements -->
				        {% endif %}
						<div><!-- start of pageheader div -->
							{% block pageheader %}{% endblock %}<!-- If you include a page header in your template this is where it will be inserted -->
						</div><!-- end of pageheader div -->
			            {% if messages %}
			                <ul id="messages">
			                    {% for message in messages %}
			                    <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
			                    {% endfor %}
			                </ul>
			            {% endif %}
			            {% block body %}{% endblock %}<!-- this is where the main content goes. Look in homepage.html to find the tags. -->
					</div><!-- end of center column. This is where the main content/PageHeaders/site announcements/messages live. -->
					<div class="yui-u"><!--this is the start of the right column sidebar-->
						{% block featured_content %}{% endblock %}<!-- look in site_base.html to find the contents -->
					</div><!--this is the end of the right column sidebar-->
				</div><!--this is the end of yui-ge. This is a wrapper for the center and right columns-->
			</div><!--this is the end of the outermost yui b-->
		</div><!--this is the end of the outermost yui main-->
		<div class="yui-b" id="tocWrapper"><!-- this is the start of yui-b Left column Navigation -->
			
		</div><!--this is the end of of yui-b Left column Navigation-->
	</div><!--this is the end of the body-->
	<div id="ft"><!--this is the start of the footer-->
		{% block footer %}{% endblock %}<!-- look in site_base.html for the contents of the footer -->
	</div><!--this is the end of the footer-->
	<script src="{{ MEDIA_URL }}jquery.js" type="text/javascript"></script>
    {% load analytics %}
    {% urchin %}
    {% block extra_body %}
    {% endblock %}
    <script src="{{ MEDIA_URL }}base.js" type="text/javascript"></script>
</div><!--this is the end of the custom document declaration-->

TQ32R-WFBDM-GFHD2-QGVMH-3P9GC


DATABASE_ENGINE = 'postgresql'    # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'ado_mssql'.
DATABASE_NAME = 'mynewdb'       # Or path to database file if using sqlite3.
DATABASE_USER = '_postgres'             # Not used with sqlite3.
DATABASE_PASSWORD = 'postgres'         # Not used with sqlite3.
DATABASE_HOST = ''             # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT = ''             # Set to empty string for default. Not used with sqlite3.




<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-78.88,35.5,-73.14,43.7&layer=mapnik" style="border: 1px solid black"></iframe><br /><small><a href="http://www.openstreetmap.org/?lat=39.6&lon=-76.00999999999999&zoom=6&layers=B000FTFT">View Larger Map</a></small>

<div id="sub1" class="{% block subnav1 %}snia{% endblock %}"><!-- Home -->
	<ul>
		<li><a href="{% url home %}">Models</a></li>
	</ul>
</div>
<div id="sub2" class="{% block subnav2 %}snia{% endblock %}"><!-- Donations -->
	<ul>
		<li><a href="{% url donations_detail 2 %}">Disaster Fund</a></li>
		<li><a href="{% url donations_detail 3 %}">General Fund</a></li>
		<li><a href="{% url donations_detail 4 %}">China Fund</a></li>
		<li><a href="{% url donations_detail 5 %}">Let's Save One</a></li>
		<li><a href="{% url donations_detail 6 %}">Myanmar Fund</a></li>
	</ul>
</div>
<div id="sub3" class="{% block subnav3 %}snia{% endblock %}"><!-- Projects -->
	<ul>
		<li><a href="{% url pro_index %}">HISG Projects</a></li>
		<li><a href="{% url pro_detail 1 %}">Goods &amp; Materials</a></li>
	</ul>                                   
</div>                                      
<div id="sub4" class="{% block subnav4 %}snia{% endblock %}"><!-- News -->                   
	<ul>                                    
		<li><a href="{% url news_latest %}">Latest</a></li>
		<li><a href="{% url news_index %}">Index</a></li>
		<li><a href="{% url news_count %}">Count</a></li>
	</ul>                                   
</div>                                      
<div id="sub5" class="{% block subnav5 %}snia{% endblock %}"><!-- Orphan Care -->            
	<ul>                                    
		<li><a href="{% url donations_detail 1 %}">Resources</a></li>
		<li><a href="{% url donations_detail 1 %}">Projects</a></li>
		<li><a href="{% url donations_detail 1 %}">Network</a></li>
		<li><a href="{% url donations_detail 1 %}">Get Involved</a></li>
	</ul>                                   
</div>                                      
<div id="sub6" class="{% block subnav6 %}snia{% endblock %}"><!-- Featured  -->              
	<ul>                                    
		<li><a href="{% url donations_detail 1 %}">Darfur Initiative</a></li>
		<li><a href="{% url donations_detail 1 %}">Let's Save One</a></li>
		<li><a href="{% url donations_detail 1 %}">GIC</a></li>
		<li><a href="{% url donations_detail 1 %}">Int. Offices</a></li>
		<li><a href="{% url donations_detail 1 %}">HRN</a></li>
	</ul>                                  
</div>                                     
<div id="sub7" class="{% block subnav7 %}snia{% endblock %}"><!-- About -->                 
	<ul>                                   
		<li><a href="{% url donations_detail 1 %}">About HISG</a></li>
		<li><a href="{% url donations_detail 1 %}">History</a></li>
		<li><a href="{% url donations_detail 1 %}">Directors</a></li>
		<li><a href="{% url donations_detail 1 %}">Staff</a></li>
		<li><a href="{% url donations_detail 1 %}">Vision</a></li>
		<li><a href="{% url donations_detail 1 %}">Network</a></li>
		<li><a href="{% url donations_detail 1 %}">Contact Us</a></li>
	</ul>                                  
</div>                                     
<div id="sub8" class="{% block subnav8 %}snia{% endblock %}"><!-- Gallery -->               
	<ul>                                   
		<li><a href="{% url donations_detail 1 %}">Videos</a></li>
		<li><a href="{% url donations_detail 1 %}">Gallery by Country</a></li>
	</ul>
</div>