<h2>HISG Partner's Products</h2>

<p>HISG's partners have developed these products to help people in disaster response and community development.</p><br/>

<img src="/site_media/images/sections/featured/zebgear.png" class="right" alt="zebgear" style="padding:0 0 20px 20px;"></img>
<h3><a href="http://www.zebgear.com/" target="_blank">Zebgear.com</a></h3>
<h4>Go-Bags</h4>
<img src="/site_media/images/sections/featured/gobag.gif" class="gold5" alt="zebgear-gobag"></img>
<img src="/site_media/images/sections/featured/gobag2.png" class="gold5" alt="zebgear-gobag" style="margin:0 0 0 20px;padding: 0 0 0 20px;height:127px;"></img>
<br/><br/>

<p>
	Theres nothing standard about this Go-Bag configuration. Our Go-Bags feature the best military and first responder technologies which have been tested under the most extreme conditions.
</p><br/><br/>

<p class="bold">
	Enter "<span class="errorlist">IDRN</span>" in the coupon code when checking out to let ZebGear know that you are a part of the HISG network
</p>

<div class="clearer"></div><br/><br/>

<img src="/site_media/images/sections/featured/lifesaver.jpg" class="right" alt="lifesaver" style="padding:0 0 20px 20px;"></img>
<h3><a href="http://www.lifesaversystems.com/index.html" target="_blank">Lifesaver Water Systems</a></h3>
<img src="/site_media/images/sections/featured/bottle.jpg" class="gold5 left" alt="lifesaver-bottle" style="margin:0 20px 20px 0;"></img>

<p>
	“The ‘Lifesaver bottles’ were tested using micro organisms in far greater numbers than could ever be found in natural water sources. This is the worse-case scenario approach recommended by the EPA (Environmental Protection Agency) and their guidelines have been used to draw up our own protocols for testing of all Microbiological Water Purifiers. As well as using modified tap water for our tests we use samples taken from a pond or stream as our challenge test water to simulate ‘real-life’ situations as per EPA guidelines.”
</p><br/><br/>
<img src="/site_media/images/sections/featured/bottle2.png" class="gold5 right" alt="lifesaver-bottle" style="margin:0 0 20px 20px;"></img>
<p>
	Under the conditions of testing in our laboratory as shown in this report, our results show that the ‘Lifesaver Bottle’ removed all bacteria and viruses from a contaminated water source in excess of legal requirements and as such, complies with all British, US and European Drinking Water Regulations for Microbiological Reduction.
</p>

<div class="clearer"></div><br/>

<img src="/site_media/images/sections/featured/tbm.jpg" class="right" alt="Texas Baptist Men" style="padding:0 0 20px 20px;"></img>
<h3><a href="http://www.texasbaptistmen.org/DNN/Ministries/WaterPurificationMinistry/Products/tabid/484/Default.aspx" target="_blank">Texas Baptist Men</a></h3>
<img src="/site_media/images/sections/featured/tbm-filter.jpg" class="gold5 left" alt="Water filter" style="margin:0 20px 20px 0;"></img>

<p>
	The Water Purification team builds systems with various components, according to the needs of the area being served. Here are some of the systems we build and train others to build.A gravity drip system using plastic buckets is ideal for small families or areas where there is no electricity. Simple construction techniques make these systems easy to build and maintain.
</p><br/><br/>
<img src="/site_media/images/sections/featured/tbm-filter2.jpg" class="gold5 right" alt="Water filter in the field" style="margin:0 0 20px 20px;"></img>
<p>
	A ceramic filter containing silver-impregnated activated carbon is placed between plastic buckets. Water is filtered as it flows from the top bucket to the bottom. Small, suitcase-sized units are used in areas where electricity is available.  They're typically used at disaster scenes to provide clean water for kitchens, laundries, and showers.
</p>

<div class="clearer"></div>