<!-- templates/projects-news/hub_index.html -->
{% extends "projects-news/base.html" %}

{% block subarrive %}1{% endblock subarrive %}

{% block brick %}
	{% include "brick/brick.html" %}
{% endblock brick %}


{% block extra_head %}
	{# // <script src="http://maps.google.com/maps?file=api&v=2&key={{ gmapkey }}&sensor=false" type="text/javascript"></script> #}
	<script type="text/javascript">
		$(document).ready(function(){
			
		});		
	</script>
	
{% endblock %}



{% block body %}
	<h2 class="center">All Hubs</h2><hr/>

	{% for hub in hubs %}
		<div class="offices">
			<a href='{% url hub_detail hub.slug %}'>{{ hub.name }}</a><br/>
			{{ hub.description }}
		</div>{# end of offices #}<div class='clearer'></div>
	{% endfor %}





{% endblock %}
