{# templates/projects-news/idrproject.html #}
{% extends 'projects-news/base.html' %}
{% block subarrive %}2{% endblock subarrive %}
{% load markup %}
{% load pagination_tags %}

{% block brick %}
	{% include "brick/brick.html" %}
{% endblock brick %}

{% block body %}

	<h1 Style="Text-Align:Center;">IDR Projects</h1><hr />
	<ul class="sorter">
		<li>
			{% ifequal sort "country"  %}
				Sort by Country |
			{% else %}
				<a href="{% url idrproject %}">Sort by Country</a> |
			{% endifequal %}
		</li>
		<li>
			{% ifequal sort "region"  %}
				Sort by Region |
			{% else %}
				<a href="{% url idrproject_region %}">Sort by Region</a> |
			{% endifequal %}
		</li>
		<li>
			{% ifequal sort "date"  %}
				Sort by Date |
			{% else %}
				<a href="{% url idrproject_date %}">Sort by Date</a>
			{% endifequal %}
		</li>
	</ul>
	<hr />
	{% if project_list %}
		{% autopaginate project_list 5 %}
		{% for project in project_list %}
			<div class="rower2">
				<div class="right">
					{% for photo in project.photo.all %}
						{% ifequal forloop.counter 1 %}
							<img class="gold5x" style="margin:0 0 0 6px;" src="{{ photo.get_medium_url }}" />
						{% endifequal %}
					{% endfor %}
				</div>
		
				<h3>
					<a href='{% url idrproject_detail project.id %}'>
						{{ project.name }}-{{ project.year|date:"Y" }}
					</a>
				</h3>
		
				{{ project.description|safe|truncatewords:40 }}<br/>
		


				<div class="clearer"></div>
				{% for country in project.country.all %}
					<span>
						{{ country }}
					</span>
				{% endfor %}
				{% for region in project.region.all %}
					<span style="padding:0 0 0 100px;">
						{{ region }}
					</span>
				{% endfor %}
				{# <hr /> #}
			</div>
		{% endfor %}
		{% paginate %}
	{% else %}
		<p>No Projects.</p>
	{% endif %}

{% endblock %}