<p>
	<span class="bold">Affected Population:</span> The cyclone hit the Southeast Asian nation early on Saturday, May 3. Parents have 
	told stories of having children ripped from their arms by the ferocious winds and swirling tides. More 
	than 77,000 people have been confirmed dead and another 55,000 people are missing. Many observers expect 
	the death toll to continue to rise because some of the hardest hit areas along the Irrawaddy River are 
	still inaccessible.
</p><br/>

<p>
	<span class="bold">HISG Relief Effort:</span> HISG sent staff into Myanmar and helped build a coalition of local organizations 
	working together for cyclone relief. The coalition has been recognized by the junta government of 
	Myanmar and is allowed to receive and distribute international aid. This partnership is one of the 
	few organizations to be given such permission.
</p><br/>

<p>
	Secondly, HISG coordinated medical teams that set up clinics in different parts of the city of Yangon, 
	treating over 600 patients in a matter of days. The medical teams also rebuilt orphanages around the 
	city that had been damaged by the storm. 
	<a href="http://www.thedenverchannel.com/video/17205109/">Click here for video from the trip</a>.
</p><br/>

<p>
	Third, HISG staff trained Myanmar nationals from Southeast Asia in large-scale disaster relief. This 
	training is especially critical because the government of Myanmar has been extremely reluctant to allow 
	foreign aid workers into the country. The Myanmar nationals will have easier access to the disaster zone.
</p><br/>

<p>
	Fourth, HISG shipped hundreds of water purification systems for distribution in areas where no clean 
	water was available. The water filters are easy to install and simple to maintain, and each one can 
	provide enough water for an entire family for 12 months. In addition to the water filters, HISG provided 
	several hand pumps that can be installed in a few hours and will reach down to underground sources of 
	drinkable water. HISG delivered 200 bags of rice to the villages along with the water pumps. The rice 
	was used for food, as well as seed for farmers whose crops were ruined by the massive swells of salt 
	water during the cyclone.
</p><br/>

<p>
	Finally, HISG purchased property to establish an orphan and foster care facility in the Irrawaddy 
	Delta region for the children who lost their homes and families in the storm. HISG also purchased 
	goats to be raised on the property. The sales of milk and offspring from the goats will make the 
	project self-sustaining and fund the orphan care program. Four children (pictured) are already living 
	at the facility.
</p><br/>

<p>
	The scope of these projects ranges from immediate disaster relief to caring for the most vulnerable 
	children in the community, but one common thread is that most of them empower local people to reach 
	out to their communities. The orphan care program, the relief coalition, and the disaster response 
	training are all examples of how HISG is able to connect to local networks and contacts to maximize 
	the impact of each project.
	<a href="{% url capability %}">Click here to find how how you can get involved</a>.
</p><br/>

<p>
	<span class="bold">Urgent Needs:</span> Medicine and medical supplies are much needed. In 2000 the World Health Organization 
	ranked Myanmar's overall health care system as the second worst in the world. Food is another need, 
	as prices have skyrocketed, with some staples tripling in cost. Many communities desperately need 
	clean water and water purifiers because thousands of displaced people are living in close quarters 
	where infectious diseases are easily spread. There is also an urgent need for tents and other temporary 
	shelters for all the families whose homes have been destroyed. Aside from these physical needs there 
	are other challenges for aid organizations. Communication is a problem because most powerlines and 
	phone lines have been knocked down. Transportation is also difficult because of fuel shortages, blocked 
	roads, and many of the smaller boats that would be used to reach flooded areas were destroyed by the 
	cyclone.
</p><br/>

<p>
	<span class="bold">HISG Presence:</span> HISG has strong relationships with local aid organizations in Southeast Asia. We were 
	heavily involved in <a href="/projects-and-models/projects/43/">relief projects after the 2004 Asian Tsunami</a>. Our warehouse sent several containers 
	to affected areas of Indonesia and outfitted a hospital near ground zero. HISG has also helped start 
	small businesses to assist in the community development of the affected areas. In addition, HISG staff 
	has taught disaster response in Malaysia, Singapore, the Philippines and Thailand, which neighbors Myanmar.
</p><br/>

<p>
	Please consider a <a href="{% url donate %}">donation to HISG</a> disaster relief efforts in Myanmar. Thank you for your care and 
	concern for the people affected by this catastrophe.
</p><br/>

<p>
	<span class="bold">Reference Links for More Information:</span>
</p><br/>

<ul>
    <li>&bull; <a href="http://pdmin.coe-dmha.org/apdr/">Asia-Pacific Daily Report</a>, provided by the Center for Excellence in Disaster Management and Humanitarian Assistance</li>
    <li>&bull; <a href="http://www.irrawaddy.org/">Irrawaddy.org</a>, a newsmagazine covering Burma (Myanmar) and Southeast Asia</li>
    <li>&bull; <a href="http://www.logcluster.org/mm08a">UN Logistics Reports for Myanmar</a></li>
    <li>&bull; <a href="http://www.usaid.gov/our_work/humanitarian_assistance/disaster_assistance/countries/burma/template/index.html">United States Office of Foreign Disaster Assistance's Myanmar Relief Page</a></li>
    <li>&bull; <a href="http://www.usaid.gov/locations/asia/countries/burma/cyclone_nargis/">United States Agency for International Development's Myanmar Relief Page</a></li>
    <li>&bull; <a href="http://www.reliefweb.int/rw/dbc.nsf/doc104?OpenForm&rc=3&cc=mmr">ReliefWeb's Myanmar Page</a>, provides updates by sector, maps, and news alerts</li>
    <li>&bull; <a href="http://unosat.web.cern.ch/unosat/">UNOSAT</a>, maps useful to the humanitarian community</li>
    <li>&bull; <a href="http://worldwidehelp.blogspot.com/">Worldwide Help Group</a></li>
    <li>&bull; <a href="http://www.feedthehungry.org/">Feed the Hungry</a></li>
    <li>&bull; <a href="http://www.imrhq.org/">International Medical Relief</a>, organization helping HISG coordinate volunteer teams</li>
</ul>