{# templates/admin/newadmin/hidden.html #}
{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrahead %}
	<style type="text/css" media="screen">
		.colM{padding:0;margin:0;height:0;width:0;}
	</style>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block body %}
	<div class="newadmin-home">
		<div id="newadmin-left">
			<h2>Hidden</h2>
			<h3><a href="/admin/countries/">Countries</a></h3>
			<h3><a href="/admin/emailconfirmation/">Email Confirmation</a></h3>
			<h3><a href="/admin/robots/">Robots</a></h3>
			<h3><a href="/admin/sites/site/">Sites</a></h3>
			<h3><a href="/admin/threadedcomments/">Threaded Comments</a></h3>
		</div>
		
		<div id="newadmin-right">
			<h2>hidden</h2>

		</div>
	</div>
{% endblock %}


