{# templates/featured/dbsp/base.html #}
{% extends 'featured/base.html' %}
{% block subarrive %}4{% endblock subarrive %}

{% block body %}
	<h2 class="center">Dyanmic Business Start-Up Project</h2><hr/>
	
	
	<ul class="sorter">
	

		<li>
			<a href="/initiatives/dynamic-business-startups/">DBSP</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		</li>
		<li>
			<a href="/initiatives/dynamic-business-startups/goals/">Goals</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		</li>
		<li>
			<a href="/initiatives/dynamic-business-startups/methods/">Methods</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		</li>
		<li>
			<a href="/initiatives/dynamic-business-startups/success/">Success</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		</li>
		<li>
			<a href="/initiatives/dynamic-business-startups/events/">Events</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		</li>
		<li>
			Contact DBSP
		</li>
	</ul>
	<hr /><br/>

{% endblock %}
