<!-- template/partners/country_e.html -->
{% extends 'partners/base.html' %}

{% block body %}
<h1>
	<span>Edit {{ page.title }}</span>
	<span style="font-size:.8em;padding:0 0 0 100px;">
		<a href="{% url partners_country_detail page.slug %}">
			back to {{ page.title }}</a> |
		<a href="{% url partners_country %}">back to Countries</a>
	</span>
</h1>

<div style="float:left;width:600px;" class="countryedit">
	{{ page.country }}<br />
	{{ page.region }}<br />
	<form action="" method="POST">
		{{ message }}
	<br />
	{{ form.slug.errors }}{{ form.slug }} Slug<br />
	{{ form.content.errors }}{{ form.content }}<br />
	<input type="submit" value="Update">
</div>
<div style="float:left;width:300px;">
	<p>This wiki uses the <b>Textile</b> markdown language</p>
	<h2>Editing Guide</h2>
	<div class="guide">
		<table border=1>
			<tr>
				<th>To get this effect...</th>
				<th>Type this...</t>
			</tr>
			<tr>
				<td><b>Bold Phrase</b></td>
				<td>*Bold Phrase*</td>
			</tr>
			<tr>
				<td><i>Italic Phrase</i></td>
				<td>_Italic Phrase_</td>
			</tr>
			<tr>
				<td>
					<ul>
						<li style="padding:0 0 0 10px;">&#8226; Bulleted list</li>
						<li style="padding:0 0 0 10px;">&#8226; Bulleted list</li>
					</ul>
				</td>
				<td>
					* Bulleted list<br />
					* Bulleted list
				</td>
			</tr>
			<tr>
				<td>
					<ol>
						<li style="padding:0 0 0 10px;">1. Numbered list</li>
						<li style="padding:0 0 0 10px;">2. Numbered list</li>
					</ol>
				</td>
				<td>
					# Numbered list<br />
					# Numbered list
				</td>
			</tr>
			<tr>
				<td><div style="padding:0 0 0 15px;">Indented block</div></td>
				<td>> Indented block</td>
			</tr>
			<tr>
				<td><h1 style="color:#12436b;">Big header</h1></td>
				<td>h1.Big header</td>
			</tr>
			<tr>
				<td><h2 style="color:#12436b;">Normal header</h2></td>
				<td>h2.Normal header</td>
			</tr>
			<tr>
				<td><a href="http://hisg.org">hisg.org</a></td>
				<td>"hisg.org":http://hisg.org</td>
			</tr>
			<tr>
				<td><img src="http://hisg.org/logo.png"></img></td>
				<td>!http://hisg.org/logo.png!</td>
			</tr>
		</table><br />
		<p>Be sure to include a blank line after "header" lines.</p>
	</div>
</div>
<div class="clear"></div>
<hr />
<div class="caption">Author: {{ page.author }}</div>

{% endblock %}