<!-- template/partners/docs_com.html -->
{% extends 'partners/docs.html' %}
{% block com %}id="whited"{% endblock %}

{% block brick %}
	{% include "brick/brick.html" %}
{% endblock brick %}

{% block docs %}

<h3 style="padding:0 0 10px 0;">The HISG Starfish Community</h3>

How can you get involved?

<p>In the previous section, we explored the actions being taken to transform HISG into a decentralized starfish organization.  We also reviewed the capabilities that HISG has developed and made available to the HISG Starfish Community including infrastructure, services, and products.</p><br /> 

<p>In this section, we will explore how interested organizations and individuals can immediately plug into the HISG Starfish Community and begin making a difference. A flowchart is provided as Attachment 1.  The following concepts are included.</p>
<ul>
	<li>Sample Network Partners </li>
	<li>HISG Starfish Community Participation  </li>
	<li>HISG Starfish Community Members – Practical Stories </li>
	<li>HISG Contact Information</li>
</ul> 

<h3>Sample Network Partners</h3>

<p>HISG has already established strong working relationships with many organizations that partner with us for relief and development operations.  Listed below are a few of the organizations partnering with HISG that encompass a variety of relief and development categories.  Our future plans are to list partnering organizations across the 12 development and 14 disaster response categories on the website so that all members of the HISG Starfish Community have access to and are knowledgeable of organizations that they can partner with.  </p><br />
<ul>
	<li>AME Brazil – Deployable disaster response teams from Brazil that specialize in medical response and clean up. </li>
	<li>Angel Alert Network – Specializes in risk assessment and security training for organizations working in high-risk areas. </li>
	<li>Generations of Virtue – A full range of resources enabling parents to raise virtuous children in these challenging times. </li>
	<li>Greater Global Good Support Services – Works with academic institutions to provide internship opportunities for emerging young leaders at the HISG Global Information Center and Mustang Productions. </li>
	<li>Global Physicians Network – Networks doctors of all types for long-term support to medical professionals in developing nations. </li>
	<li>Global Transformations – A professional training and consulting company specializing in rapid, large-scale change management and culture transformation initiatives. </li>
	<li>HELP – Operates the HISG Colorado warehouse with assistance from a team of local volunteers. </li>
	<li>International Medical Relief – Organizes and manages relief and development medical teams throughout the world with a network of 2,000 medical professionals. </li>
	<li>Just Water for You – Water experts that provide relief and development support worldwide. </li>
	<li>Mustang Productions – A professional television production studio closely partnered with HISG.</li>
	<li>Sudan Oasis Guesthouse – A for-profit guesthouse in Sudan that also provides oversight to our relief and development initiatives in the Darfur region. </li>
	<li>TECH – A group of over 60 organizations focused on providing top quality gift-in-kind medical supplies. </li>
	<li>Texas Baptist Men – Provides feeding stations for disaster relief operations.  Partnering with HISG to provide medical and water sanitation services training for any HISG Starfish Community members.</li>
</ul><br />

<h3>HISG Starfish Community Participation</h3><br /> 

<p>The HISG Starfish Community is a global network based on strong personal relationships.  Many members of the community have been working together for years, while others are relatively new.  Regardless of how long a member has been interactive in the network, we all have one thing in common-- a desire to bring hope and a future to the underprivileged of the world.  As a network of networks, the HISG Starfish Community is committed to “Connecting Resources to Needs”. Our goal is to provide a venue for ordinary people to make an extraordinary difference in the lives of those we serve.</p><br />

<p>The following activities provide a number of potential opportunities for interested parties to join the community and begin making a difference today!</p><br /> 

<h4>Join the HISG Starfish Community</h4>

The HISG Starfish Community is a relational network.  There is no paperwork or agreement to sign in order to join the community.  There are no dues or fees.  Since the community is based upon relationships of trust, the way you join the network is to determine that you want to work together with friends!  Once you join, make sure you sign up on the website to receive our monthly Pulse Reports. 



<h4>Learn about the cultural DNA of this Tribe</h4> 
<p>It is important that joining members feel they belong to our “tribe”.  The culture and ideology of the HISG Starfish Community tribe will be shared by fellow members and posted on the website.  We request that all community members learn and adhere to our cultural DNA.  Not all newcomers will belong to, or feel a part, of this tribe and there is nothing wrong with that.  We are all called to work together with someone or some group.  Our hope is that each person will find the right place of fit!</p><br /> 


<h4>Form an HISG Starfish Community Circle of Influence</h4> 
<p>Small (6-12 members) relational Circles are the best vehicles to engage the HISG Starfish Community.  As a member of a small relational Circle (circles of influence), members find community, equality and camaraderie.  Once the Circle is formed, members can work together to select a specific category of focus and regional location for operations in support of relief or development projects. Review of the HIST and IDR Models on the website will provide some baseline information helpful in making this decision.  Once a decision has been made, members can work with HISG to begin moving forward.  HISG support could range from training and guidance, to field connections and project oversight.</p> 

<h4>Review and Learn about the HIST and IDR Models</h4>

<p>Since everything we do is based on the HIST (Development) and IDR (Relief) Models, we highly recommend that all members of the community review these models.  They can be found online at www.HISG.org.</p> 

<h4>Receive Training on the HIST and IDR Models</h4> 
<p>Interested individuals and organizations can receive training on the HIST and IDR Models.  Training venues include interactive classroom style lectures and soon to be provided, web-based videos.   Those interested in interactive presentations should contact the HISG Training Director.</p> 

<h4>Select a Category of Focus and Location for Operations</h4> 
<p>Selecting a category of focus (12 Development and 14 Relief Categories), is easier accomplished upon completion of the HIST and IDR Model review.  Members are encouraged to select any area of operation in which they have an interest or skill.  HISG focuses primarily on the most difficult, unstable and underdeveloped regions of the world, but the Starfish Community will cover a much broader geographic region.  If you need help talking through this decision, give us a call!</p> 
















•	Build Your Network 
Once you have launched a starfish Circle, chosen your area of focus, and determined where you would like to work, you can immediately begin making a difference.  Start by building your relational network to support your project.  Find out who would be interested in helping.  Find experts in your category of focus and learn from them.  Read articles and search out the website to gain more understanding.  Determine what resources you have at your disposal.  Develop a simple plan to move forward.  Call us if you need help! 
•	Complete the Capabilities Survey 
Completion of the online Capabilities Survey registers individuals and organizations into the HISG Data Fusion Suite (DFS).  Registration in the DFS serves two purposes.  First, those registered in the DFS will be provided with opportunities to network with others of similar interest across the network.  This is accomplished through access to a password protected website with Country Wiki Reports and Regional and Sector Blogs.  Second, registrants will be provided opportunities to join a support team when their specific skill set is requested by a local organization in the field.  The Capabilities Survey can be completed on our website at www.HISG.org. 

•	Make Connections on the Ground 
When you are ready to move forward with implementation, interact with the HISG Starfish Community to identify connections in the location where you would like to work.  Ask them what they need and how you can help.  These communications will help you more accurately define your simple action plan. 

•	Begin Resource Sharing 
Resource sharing can include a wide variety of options including elements of both giving and receiving.  Maybe you have funding that can help with a Grant or Business Startup.  Maybe you have a container of material that you want to ship to your location of operation but you need help with logistics.  Maybe you have a specific skill and you want to join a team that will travel to your area of interest, and you want to go with others who might be interested.  Completion of a Resource Request Form can help address all of these opportunities and more. 


•	Qualify to become an IDR Network (IDRN) Response Team Member  
Those who choose to become part of the global IDR Network Response Team can get additional training to qualify them for participation.  Level 2 Training qualifies participants to participate as an IDRN Response Team Member within his or her own country.  Level 3 qualifies members to participate as part of an international response effort.  Qualified members can establish direct contact with the Global Operations Center (GOC) during disasters and receive our Spot and Situation Reports. 

 
•	Share Information with the Global Information Center (GIC)
Once your Circle is up and running with community development initiatives, sharing information through Project Updates and Resource Sharing Forms with the GIC will enhance the ability of the whole HISG Starfish Community to support your efforts through resources sharing.  




•	Invite others into the HISG Starfish Community 


The HISG Starfish Community is a network of relationships.  If you like what we are doing, bring a friend.  If you have problems, call us.  We are here to serve those who want to make a difference!


HISG Starfish Community Members – Practical Stories 

The following stories are real-life examples of HISG Starfish Community members that have participated in community development and disaster response initiatives.  They are provided as practical examples for how community members can engage and participate in resource sharing across the community.  

Community Development
•	Medical Supplies in Indonesia – A successful businessman in Indonesia built a local hospital to serve the poor.  The hospital is in need of medical equipment and supplies to outfit their operations.  The HISG Hope Resource Network has contacted medical providers within the community that are now responding to the need.   The HISG Starfish Community has multiple partners and networks that provide medical supplies at low to no cost. 
•	Field Assignments – An experienced NGO worker in Europe was looking for a long-term assignment in the field.  HISG built a Guest House in Darfur Sudan that was in need of a manager and hired the worker.  There are many partnering organizations scattered throughout the world that are seeking personnel for long-term field assignments. 
•	15 Truckloads of Shoes – A tornado tore the roof off a shoe-manufacturing warehouse in the central United States.  The business owner called and asked if the community could use the shoes. The HISG Hope Resource Network (HRN) accepted and transported all the shoes within a couple weeks.  The HRN was established to address issues such as these where it would be very difficult for a single organization to respond to or absorb such an offer. 
•	Business Conference in Mali – Local business leaders in Mali requested practical training for business startup, operations, and management.  A trainer in South Africa responded by offering a one-month intensive training program.  Another community member provided the funding. 
•	Education in Argentina – A small city in Argentina has been in great need of educational curriculum for many of their schools.  A native from Ecuador had moved to the US and came in contact with one of the community members.  A local donor responded to the need and subject matter experts reviewed two curriculum providers within the community to identify the best solution set.  City leaders are now engaging this project as a pilot for their region. 
•	Computers in Ecuador – The First Lady of Ecuador requested computers for their school system.  One of the community members donated 400 computers with software for school children.  Another partner in the community transported the shipment.  
•	Global Information Center Internship – A college student wanted an internship that was focused on their specific area of study.  The HISG Global Information Center provides summer internship opportunities and the two of them were connected.  There are short-term internship opportunities throughout the HISG Starfish Community. 
•	Hope Resource Network Warehouses  – A successful business leader with significant warehouse space across the US wanted to participate in the community.  They recently joined the Hope Resource Network with over 2.8 million square feet in their operation.  
•	Logistics Partner – A number of logistics partners have been excited about what HISG is doing and wanted to join the Starfish Community.  Many have now moved multiple container shipments in response to needs within the community and have even funded the transport. 
•	Medical Initiatives in Philippines – A local doctor in the Philippines wanted to help respond to the medical needs of the poor.  Through their circles of influence they mobilized medical professionals from four cities to collaborate on a week-long initiative.  The military provided transport and a community member funded the project. 
•	World Cup Soccer Player Benefit Tour – Following Cyclone Nargis in Myanmar, world cup soccer players in Brazil wanted to support reconstruction efforts for local communities.  A community member in Brazil coordinated the effort by raising support and managing the tour.  They connected with a community member in South East Asia to support in-country arrangements. 
•	Students Support Efforts – A professor that teaches disaster relief operations wanted to get his students practically involved in relief operations.  They talked with HSIG about supporting the Global Operations Center during disasters.  Future plans call for these students to help gather disaster related information during a real event. 
•	HIST and IDR Training to Community Leaders – An NGO in the Southern Philippines wanted to conduct disaster preparedness and response training for local volunteers.  A community member stepped up to provide the training, which was attended by government, military, police and business leaders within the community.  This has opened the door to ongoing community development training and projects. 
•	School Supplies for Filipino Children – A housewife wanted to respond to the needs of schools children in the Philippines that had no school supplies.  She worked with her local Girl Scout troop to put together simple backpacks, each containing a specific amount of school supplies. They provided over 400 backpacks that were transported by a community member and endorsed by the President of the country.
•	Canada Office opens China Office  - HISG Starfish Community Offices are located in multiple locations around the world.  They function as independent and autonomous organizations that are connected to the community.  Some are even launching their own satellite offices in new regions of the world.  Circles birthing new circles; simple, effective, and reproducible. 
•	Academic Institutions – One of the HISG Starfish Community members is an academic institution that focuses on practical learning and holistic development.  They have been interested in partnering with an organization that can provide their students practical opportunities for internships, especially in the international arena.  The HISG Starfish Community has a host of organizations with internship programs.  
•	Block Factory in Yemen – A business leader wanted to go to Yemen to see how he could help the poor with job creation.  He toured a local community and talked with residents about a project to manufacture blocks.  Working with a local NGO, he financed the project to launch the operation and he revisits the site periodically to provide business expertise to the operations.  

Disaster Response
•	Let’s Save One – A young couple was very interested in the work of the HISG Starfish Community.  As they explored the many opportunities to get involved, they were moved by the needs of a young mother in Sudan that was featured in our Let’s Save One program.  They provided a financial donation that helped enable a critically-required surgery.  They helped save a life!  Each person in the Let’s Save One program is in a life and death situation.  
•	Clothes for Syrian Refugees – A church member in the US was motivated by an incoming family from Syria to go and see the needs of Iraqi refugees in North Syria first hand.  She was able to meet with the UN and establish the ground work for receiving container shipments of winter clothes.  One HISG Starfish Community member provided the clothing shipment and another member paid for the transport.  Warm clothes are now on the way to needy refugees. 
•	Feeding Stations in Texas – An HISG Starfish Community member located a community of over 20,000 people without food and water following a recent hurricane.  One of the partners established a feeding station to respond to the needs of this community.  This same partner has offered to train HISG Starfish Community volunteers in food station operation to support future response initiatives. 
•	Myanmar Coalition – Cyclone Nargis relief efforts in Myanmar were hampered by restricted access.   A community member facilitated a regional meeting in Bangkok that was attended by Myanmar leaders and a large contingent of NGOs.  Another Starfish Community member funded the meeting.  The meeting resulted in the formation of a Coalition that was later recognized by the Myanmar government and accomplished many significant response initiatives. 
•	Myanmar Medical Teams – HISG Starfish Community members from three nations combined their efforts for a collaborative medical response to Cyclone Nargis.  Medical professional from the US, Brazil and Singapore responded as a single unit to bring medical relief and water filtration systems to the impacted people of the Delta region.  Four different members within the community combined their resources to fund the initiative.  
•	Sichuan Province – Disaster response to the Sichuan Earthquake in China was also met with access restrictions. One of the HISG Starfish Community members had founded the premier local response organization more than 20 years earlier.  Being respected by the local government, community members were allowed to be one of the first organizations to enter the earthquake zone with the Chinese Red Cross and the Chinese Army to support the response effort.  
•	Gaza Medical Teams – A medical response team from Hungary approached one of the HISG Starfish Office members for financial support to respond to the crisis in Gaza. They had gained permission to enter the region through another partner.  Two member of the community responded to fund the medical response effort


{% endblock %}