<!-- template/partners/docs_org.html -->
{% extends 'partners/docs.html' %}
{% block org %}id="whited"{% endblock %}
{% block docs %}

<h3 style="padding:0 0 10px 0;">The HISG Starfish Organization</h3>

<h4>What is HISG doing?</h4> 

<p>In the previous, we explored the different characteristics of social networking, decentralized starfish networks and the emergence of mass movements.  The attributes and characteristics of these social network concepts were then combined and viewed from an operational perspective.</p> 

<p>The purpose of this section is to explain how HISG is evolving into a decentralized starfish organization with the intent to facilitate the emergence of a mass movement built around a common cause.  The following concepts are included:
<ul>
	<li>People Groups and Tribes </li>
	<li>Operational Concepts for the HISG Starfish Organization  </li>
	<li>HISG Services to the Starfish Community</li>
</ul></p>

<h4>People Groups and Tribes</h4> 

<p>There are over 12,000 distinct ethno-linguistic people groups in the world.  Though each may have its own unique customs and culture, globalization is having an interesting impact.  People groups come in many different sizes but one of the fastest growing people groups in the world is that of “expatriates”, or expats for short.  Expats could be defined as people living in a culture or location that is foreign to their native culture. Through globalization, people of all races, colors and creed are being interspersed throughout the world and an interesting phenomenon is occurring.  Expats living outside their native culture are finding like-minded people from totally foreign cultures that seem to be of the same tribal mindset or cultural DNA.  There are new “tribes” emerging that transcend local culture.  These new tribes have their own unique set of customs and culture that are global in nature with relational bonds that can even supersede local cultural ties.</p>  

<p>HISG is focused on connecting a global “tribe” with a common cause to help widows, orphans and the poor.  This HISG Mission is “Connecting Resources to Needs”.  As such, we are working to identify like-minded tribal members all over the world and connect them together into a decentralized starfish community that can share information, communications and resources.  The Starfish Community transcends all sectors of society and encompasses representatives from across the private sector, including businesses, NGOs, faith-based and civic groups, and academic institutions.  It costs nothing to add new members to the community and with each new member resources across the network grow.</p>  

<p>Not all people we meet will become part of this tribe, have the same cultural DNA, or fit into this network.  But our hope is that all who want to participate will have a place to immediately plug in, become part of the community, and help change the world.  We want to birth a movement out of the HISG Starfish Community where ordinary people can make a significant difference in the life of someone in need.</p> 

<h4>Operational Concepts for the HISG Starfish Organization</h4> 

<p>In the previous, we addressed the operational requirements to catalyze, support, empower, and influence the establishment of a decentralized starfish mass movement. Concepts were provided in the context of an operational nature in order to identify potential areas of support and focus for the Starfish Network to catalyze a movement.  This section will be focused on addressing specific issues related to HISG operations using the same categories including: 
<ul>
	<li>Culture and Ideology </li>
	<li>A Common Cause </li>
	<li>Structure </li>
	<li>Leadership and Management  </li>
	<li>Knowledge, Information, and Communications  </li>
	<li>Finances and Resources </li>
	<li>Training </li>
	<li>Operations</li>
	<li>Performance </li>
	<li>Change Management</li>
</ul></p>

<h4>Culture and Ideology</h4> 
<p>The following list of attributes defines the culture and ideology of HISG Starfish Community members.  Each of these attributes will be expanded with correlating behavior statements developed so everyone can understand specifically what is being presented as our culture and ideology.   
<ul>
	<li>Culture </li>
	<li>Work together with friends </li>
	<li>Work hard and have fun </li>
	<li>Learn and be learners, learn from mistakes</li>
	<li>Share resources </li>
	<li>Communicate openly and speak the truth </li>
	<li>Share the credit (don’t plant banners)   </li>
	<li>Ideology</li>
	<li>Liberating the poor  </li>
	<li>Community and equality </li>
	<li>Trust and commitment</li>
	<li>Losing self identity to gain a community identity marked by committed service and fun</li>
</ul></p>

<p>Our values will be inculcated throughout the network by:
<ul>
	<li>Defining correlating behavior statements indicative of the values </li>
	<li>Promoting and recognizing those who embody the new behaviors</li>
</ul></p>

<h4>A Common Cause</h4> 
<p>Our common cause is to “Connect Resources to Needs” for the poor and underprivileged. 
<ul>
	<li>Present and promote the common cause in such a way as to ensure it provides an 	“immediate hope” to the discontented, frustrated, disenfranchised, and disillusioned. </li>
	<li>Link our common cause to a glorious past. </li>
	<li>Ensure all adherents to the network experience success as a result of their participation.  A potential slogan could be “Ordinary people making an extraordinary difference!”</li>
</ul></p>

<p>Our common enemies are ignorance, hopelessness, apathy, lack of resources, and lack of preparedness.</p>  

<h4>Structure</h4>
<p>For a starfish network or mass movement, small Circles provide the ideal communal structure and are the key to successful operations.</p>  
<h4>What is the structure of the circles?</h4>  
<p>Circles should be comprised of 8-12 members that are working together towards a common cause.  They should be able to operate independently and with autonomy.  Circles should also be able to communicate with the larger HISG Starfish Community to share information and resources and conduct collaborative initiatives.  Since the breadth and scope of the HISG social network is very large, communications and connectivity will initially be established through trusted relationships and expanded to new Circles of influence by going to the website (www.HISG.org) and completing the online Capabilities Survey.</p>  

<p>Ongoing interaction with the HISG Starfish Community can occur through collaborative initiatives, resource sharing (giving and receiving), and interactive online initiatives like country specific wiki reports, and regional and sector blogs (under development).</p> 

<h4>How do Circles form?</h4> 
<p>Circles can be formed by anyone, anywhere that wants to join the HISG Starfish Community.  When forming, Circle members should determine what type of project they would like to focus on.  This could include any one or more of the 14 disaster relief services or 12 development categories outlined in the HISG Relief (IDR) and Development (HIST) Models provided on the website.</p> 

<p>It is recommended that Circle members set some type of schedule to ensure they meet on a regular basis.  Equality and community is a driving desire of most adherents.  Being able to meet together regularly and successfully, accomplishing initiatives around a common cause, creates a strong sense of community and equality.</p> 

<p>Drawing from our exploration of the concept of social networking, the Network Weaver builds  or knits the network in the following four stages.  These stages should be referred to for establishment of the Circles. 
<ul>
	<li>Scattered Fragments </li>
	<li>Single Hub and Spoke </li>
	<li>Multi-Hub Small-World Network  </li>
	<li>Core/Periphery</li>
</ul></p> 

<h4>How do Circles interact?</h4> 
<p>Any Circle can communicate with and work with any other Circle anywhere in the network.  There are no limitations or controls on who or how they can interact.  By completing the Capabilities Survey on the HISG website, Circles can be linked with or connected to other Circles of similar interest.  Regional and Sector Blogs (under development) will also provide a platform for interaction and connectivity.</p> 

<h4>How are Circles empowered to have ownership?</h4> 
<p>Each Circle will be independently in control of their initiatives and activities.  They are free to choose their focus, where they want to engage, and how much they want to do.  As the saying goes, “People only commit to what they help create”.  Circles will be in complete control of what they create.  Access to the HISG Starfish Community will provide a platform to empower Circles with 5 types of resources including venues for Grant Requests, Business Startup Capital, Gift-in-Kind, Logistics Support, and 26 different types of subject matter expert teams (14 disaster response services and 12 development categories)</p> 

<p>Almost every decentralized organization that has been successful was launched from a pre-existing platform. Circles provide the infrastructure for people to get involved and take ownership of a new idea.  Circles provide the vehicle to put people together in a close-knit community of empowered members with shared values and a belief that everyone is equal.  Loose knit social networks provide the ideal breeding ground for decentralized circles and typically have a higher tolerance for innovation.
<ul>
	<li>How will the HISG Starfish Community be promoted across pre-existing social networks? </li>
	<li>How do we capture knowledge and information from the edge of the networks ?</li>
	<li>How do we share information across the network?</li>
	<li>How do we promote communications across the network?  </li>
	<li>What are the value-added services we can provide to the networks ?</li>
	<li>How do we mobilize networks to respond to a specific situation?</li>
</ul></p>

<h4>Leadership and Management</h4> 
<p>All leadership and management in the HISG starfish organization will actively engage in defining and carrying out the functions outlined below.  As the HISG starfish organization engages the larger starfish community, leadership and management will be decentralized across the network. 
The primary focus of Inspirational Leadership will be to:
<ul>
	<li>Clearly define, promote, and embody the values, or cultural DNA of the network </li>
	<li>Develop, cultivate, and address relational issues related to trust and unity across the network </li>
	<li>Weave or knit the network into Small Circles of committed adherents focused on common issues </li>
	<li>Facilitate network expansion once it expands beyond single hub and spoke </li>
	<li>Bridge networks for increased creativity, innovation and resource sharing </li>
	<li>Provide a platform for network leaders to interact, build trust, and collaborate on projects </li>
	<li>Provide a platform for diverse networks to work together for problem solving, creativity and innovation </li>
	<li>Inspire network adherents to unified action </li>
	<li>Globally monitor locations where environmental factors are ripe for a mass movement</li>
	<li>Present our common cause (Connecting Resources to Needs) in such a way that it ensures an “immediate hope” for the discontented, frustrated, disenfranchised, and disillusioned</li>

	<li>primary focus of Operational Management will be to:</li>
	<li>Identify social needs of network adherents, and ensure those needs are being met by the network.</li>
	<li>Map out the social networks, so there is an understanding of the complex human system we are embedded within. </li>
	<li>Create the vehicle or venue by which all newcomers to the network can be quickly and effectively assimilated into the community. </li>
	<li>Create doctrine, dogma and rituals to enhance identity with community. </li>
	<li>Develop a venue that supports centralized data fusion and provision of a common operating picture.</li>
	<li>Provide a venue for network members to conduct resource sharing. </li>
	<li>Provide adequate operational guidance and direction so that network members can focus their actions.</li>
	<li>Identify focused actions to continue decentralization of HISG operations. </li>
	<li>Address issues related to financial sustainability as HISG decentralizes operations. </li>
	<li>Identify ways to ensure all network adherents experience success through their participation. </li>
	<li>Measure the vitality of the Small Circles to ensure success, particularly in relation to a sense of community and equality. </li>
	<li>Identify opportunities for collaborative actions involving network leadership.</li>
</ul></p> 


<h4>Knowledge, Information, and Communications</h4>  
<p>Knowledge and information will be decentralized and distributed across all adherents to the network through such things as increased communications, interactive Internet platforms, and gatherings.</p> 

<p>Communications will be encouraged through facilitation of leadership venue, development and implementation of models, regional networking initiatives, collaborative projects and resource sharing</p> 

<h4>Finances and Resources</h4> 
<p>HISG will not charge any fee for participants to join the network.  Adherents are expected to acquire and manage their own funding.</p> 

<p>Each unit within HISG will be encouraged to identify and pursue options to achieve financial sustainability.  The following opportunities will be explored:
<ul>
	<li>Value-added fee for services to the global network </li>
	<li>Product sales </li>
	<li>Donor development </li>
	<li>Corporate sponsorships</li>
</ul>
</p>

<h4>Training</h4> 
<p>HISG will provide four types of training for the HISG Starfish Community including:
<ul>
	<li>Starfish Concepts </li>
	<li>HIST Model on community development </li>
	<li>IDR Model on disaster response </li>
	<li>Staff Development</li>
</ul></p> 

<p>Training on the Starfish Concept is provided to share the HISG Starfish Community cultural DNA, concept and network.  Training on the HIST and IDR Models is provided as a proven process for practically engaging a comprehensive range of practitioners in community development and disaster response operations.  Staff development ensures quality of training delivery.</p> 

<h4>Operations</h4>
<p>Small Circles will be promoted and developed across the network.  Circles should be used to address issues and resolve challenges that the network might face.</p>  

<p>Since HISG is a hybrid starfish organization, we can further decentralize the experience of our network users through User Ratings and Posted Comments.</p> 

<h4>Performance</h4>
<p>Success will ultimately be measured by the vitality and effectiveness of the Circles.  Are they doing projects?  Are they giving and or receiving resources?  Are people being helped?  Are ordinary people able to make a significant impact in the lives of others?</p> 

<p>In our social network, strength of the network and performance might be measured through such metrics as centrality (degree, betweenness, closeness), network centralization, network reach, boundary spanners, and peripheral players.  A well-connected node (individual or organization):
<ul>
	<li>Hears about, and understands, what is happening in the network before others do</li>
	<li>Influences others through direct and indirect ties </li>
	<li>Acts as a broker of key information and knowledge among various parts of the network </li>
	<li>Combines information and knowledge gathered from various parts of the network to develop innovative products and services</li>
</ul></p> 

<h4>Change Management</h4> 
<p>Change management and adaptability across the network will be enhanced by:
<ul>
	<li>The formation of small Circles that can act independently with autonomy.  Empowerment is further enhanced by encouraging the Circles to be financially self-sustained </li>
	<li>Establishing information sharing venues to decentralize information across the network </li>
	<li>Facilitating leadership venues for increased interaction and information sharing </li>
	<li>Further decentralizing operations to increase creativity and innovation</li>
</ul></p>


<h4>HISG Services to the Starfish Community</h4> 

<p>This final section provides a look at all the value added services and capabilities that HISG has developed and are now available to the HISG Starfish Community.  With each new member joining the network, the overall resources available to members will grow.  Available capabilities will be explained within the following categories below and posted on the website for interested viewers and updated on an ongoing basis. 
<ul>
	<li>Infrastructure </li>
	<li>Services </li>
	<li>Products</li>
</ul></p>

<h4>Infrastructure</h4> 
<p>HISG leadership made a strategic decision to invest in infrastructure that could serve the greater starfish network.  The majority of this infrastructure is operational and available to support the larger network.</p> 
<p>Texas Global Information/Operations Center  
The HISG Global Information Center (GIC) located in Texas, houses our Data Fusion Suite (DFS) that supports critical decision-making and development of a host of different types of information reports.  The GIC is also home to our VOIP phone network that currently has 40 nodes for connectivity.</p> 

<p>The GIC shifts to a Global Operations Center (GOC) for disaster response operations.  Alert Levels range from Alert Level 1 that represents the GIC in steady state operations to Alert Level 4 that includes a full-blown activation and response.  Alert Level T (Transition) defines de-escalation of response activities back to steady state.</p> 


<h4>New York Training Facility</h4>

<p>The HISG Training Facility is located in upstate New York, near Rochester.  Situated on one of the Finger Lakes, the Mission has 110,00 sq. ft., 130 bedrooms with baths, and is located on 55 acres.  This facility is currently capable of supporting training events about 8 months out of the year. Renovations have been completed on about 35% of the property.</p> 


<h4>Colorado Operations Center</h4> 
<p>The Colorado Operations Center is being planned for implementation in mid 2009.  This center will provide a hub for operational support to decision-makers and network leaders across the HISG Starfish Community.</p> 

<h4>International Offices</h4>
<p>HISG currently supports international offices in the following locations.  Each office functions independently within their own Circles of influence and may have multiple other projects and initiatives occurring simultaneously and in addition to HISG initiatives.  Each office is encouraged to network their respective projects with the HISG Starfish Community to leverage their impact and increase the potential for resource sharing across the network. 
<ul>
	<li>Vancouver, Canada </li>
	<li>London, UK</li>
	<li>Beirut, Lebanon (under development) </li>
	<li>Nairobi, Kenya  </li>
	<li>Dubai, UAE (under development) </li>
	<li>Khartoum, Sudan </li>
	<li>Singapore </li>
	<li>Jakarta, Indonesia (under development)</li>
</ul></p> 

<p>Additionally, HISG is looking for organizations and individuals to partner with for establishment of an HISG Starfish Community point of contact in a host of additional locations such as:
<ul>
	<li>Buenos Aires, Argentina</li>
	<li>Sao Paolo, Brazil </li>
	<li>Dakar, Senegal</li>
	<li>Bamako, Mali </li>
	<li>Addis Ababa, Ethiopia </li>
	<li>Cape Town, South Africa </li>
	<li>Geneva, Switzerland </li>
	<li>Istanbul, Turkey</li>
	<li>Islamabad, Pakistan </li>
	<li>Manila, Philippines</li>
</ul>
</p>

<p>Any organization interested in partnering with the HISG Starfish Network as a regional point of contact should contact the applicable HISG International Director or anyone within the HISG leadership structure.</p> 


<h4>VOIP Phone Network</h4> 
<p>HISG currently has a 40-node Voice Over Internet Protocol (VOIP) Phone Network.  VOIP phones are currently being distributed across the HISG disaster response network.  Additionally, qualified disaster response partners will be able to directly connect their VOIP Phone to the HISG network for immediate connectivity for collaborative disaster response operations.</p> 

<h4>HIST and IDR Models</h4> 
<p>HISG International Directors have worked with a host of globally experienced professionals to develop and implement two of the most comprehensive and effective models for relief and development. These models provide the basis for all HISG operations and can be found on our website at www.HISG.org.</p> 

<p>The HISG development model is called HIST which stands for Holistic Integrated Sustainable Transformation.  Our development model provides a paradigm shift from needs based development to a new concept called Asset Based Community Development (ABCD).  The model also highlights 12 different develop categories for mobilization of subject matter experts teams that can deploy anywhere in the world to support development operations.</p>  

<p>The HISG relief model is called IDR, which stands for International Disaster Response.  The IDR Model identifies 14 different services that can be mobilized from the private sector to support international disaster response operations.</p> 

<h4>International Disaster Response Network (IDRN)</h4>
<p>HISG is working with partners around the world to identify, train, and collaborate on disaster response initiatives.  Once qualified, IDRN partners from around the world are capable of deploying together in response to a disaster situation.  Qualified partners have access to a growing network of skilled practitioners for training and preparedness and direct connectivity to the HISG Global Operations Center during a disaster.</p>  

<p>During disaster response operations, the HISG Global Operations Center establishes connectivity with a host of public and private Emergency Operations Centers and front-line implementing partners to gather and exchange information relative to relief operations.  This information is published in our Spot and Situation Reports that can be received by direct email or accessed through our website.  HISG is also working with prominent members of the United Nations to ensure effective connectivity to the IDRN for disaster response operations.</p> 

<h4>GOCONX Secure Email</h4> 
<p>Secure email is a requirement for many people operating in challenging environments and unstable regions of the world.  The problem is that most local people in developing countries cannot afford to pay for this service.  In response to this need, HISG has developed a capability, which is currently providing over 3,000 secure email accounts around the world.  If you are interested in a free, secure email account, please contact the HISG IT Director.</p> 

<h4>Services and Support to the Starfish Community</h4> 
<p>The services outlined below, are currently operational within HISG and available to network partners.  Due to the nature of the services provided, there may be fees added to cover the cost of providing certain services in the field.</p> 
<h4>Online Capabilities Survey</h4> 
<p>HISG now has a Capabilities Survey that can be taken online at www.HISG.org.  The survey is designed to capture and register interested participant across 26 different subject matter expert skill sets (12 HIST/14 IDR Categories).  Interested participants are asked to identify which areas they are interested in focusing on or supporting, along with nations of interest for which they would be willing to deploy in support of relief and development operations.  Information gathered can be used to respond to resource requests for skilled teams.</p> 

<p>HISG is also offering organizations a unique service to conduct a Capabilities Survey across their organization. By doing so, participating organizations will gain a more accurate understanding of the types of skilled resource and areas of interest that exist within their own organization.  Organizations interested in receiving this service should contact the Director of Operations to receive an organizational specific code that responders will use to enter their data online.  The code will enable the Global Information Center to provide an organizational specific printout of the survey results.  Organizations participating in this service can also request HIST and IDR Training to provide recipients with a better understanding of the overall process and opportunities related to relief and development across the network.</p>

<h4>HIST and IDR Training</h4> 
<p>HISG staff currently conduct HIST and IDR Training around the world.  Training can be requested by completing a Training Request Form and submitting it to the HISG Training Director. Once approved, training will be jointly scheduled between HISG and the requesting organization.</p>  

<p>HISG continues to look for organizations to partner with for provision of training services, especially those that can provide training on more technical or in-depth subject matter. Organizations or individuals interested in participating should contact the HISG Training Director.</p> 

<h4>Rapid Disaster Assessment and Response</h4> 
<p>HISG is partnered with a growing number of organizations that specialize in rapid disaster response and assessment activities.  Organizations receiving IDR training can be qualified at three levels in the IDR Network including:
	<ul>
		<li>Level 1 – Introduction to the IDR Network </li>
		<li>Level 2 – Qualified to respond in-country as part of the IDR Network </li>
		<li>Level 3 – Qualified to respond internationally as part of the IDR Network</li>
	</ul>
</p> 

<p>Organizations interested in participating on the global IDR Network disaster response teams should contact the HISG Disaster Response Director.</p> 

<h4>HRN Resource Mobilization and Management</h4> 
<p>The HISG Hope Resource Network (HRN) was formed to network warehouses and logistics partners that are interested in working together for relief and development operations.  We currently have over 3 million sq. ft. of warehouse space and 40 members and locations in the network with operations expanding globally.</p>  

<p>The HRN allows members of the HISG Starfish Community to mobilize a myriad of different types of gift-in-kind (GIK) resources for relief and development operations.  Through our own Hope Warehouse and the HRN, we have supported container shipments to over 30 countries each year with materials ranging from hospital and school supplies to warm clothing and shoes.  Contact the HISG HRN Manager if you would like to join this network.</p> 

<p>Requests for GIK materials or logistics support can be made by completing and submitting a Resource Request Form to the HISG Grant Administrator.</p> 

<h4>Resource Sharing</h4> 
<p>In the past, HISG has specialized in mobilizing and providing the five types of resources listed below.  As the HISG Starfish Network has been developing, we now have many partners within the network that are providing resources as well.  The overall intent of the network has been for members to engage in resource sharing through both giving and receiving.  Those who have been on the receiving end in the past are now beginning to give back into the network.  Many times the giving can involve time or experience; it does not need to be financial.  Each new member that joins the network continues to increase the overall assets of the network for relief and development.</p>  

<p>Resource sharing can be conducted by completing and submitting a Resource Request Form to the HISG Resource Administrator.  The request form includes the following types of resources: 
<ul>
	<li>Grant Requests </li>
	<li>Business Startup Capital </li>
	<li>Gift-in-Kind Materials </li>
	<li>Logistics Support </li>
	<li>26 Subject Matter Expert Deployable Teams (12 HIST/14 IDR Categories) </li>
	<li>Short-Term Internships (1-2 Months) </li>
	<li>Long-Term Field Assignments (1-2 Years)</li>
</ul>
</p> 

<h4>HISG Pulse Reports</h4> 
<p>The HISG Pulse Report is published every 2-3 weeks.  The purpose of the Pulse Report is to provide interested partners with updates across multiple dimensions of the network including:
	<ul>
		<li>Relief Operations </li>
		<li>Development Initiatives </li>
		<li>Operational Focus </li>
		<li>Department, Unit, or Service Focus </li>
		<li>Sector and Regional Focus – As the HISG Starfish Network expands, we will be adding these two new categories to the Pulse Report.</li>
	</ul>
</p> 

<p>Pulse Reports can be obtained by direct email through contacting the HISG Public Relations Manager or through downloading off the HISG website.</p> 

<h4>HISG Website</h4> 
<p>The HISG Website provides a host of useful information to support relief and development operations around the world.  Many different types of useful data and interactive opportunities are available including: 
<ul>
	<li>Operational Support Information</li>
	<li>Google Maps – IDRN, HRN Warehouses/Logistics, Guest Houses </li>
	<li>ISG decentralizes our operations, we are supporting the larger HISG Starfish Community by centralizing information useful to field operations.  One such project is our Google Maps Project.  We are currently working to develop a Google Maps application to provide web-based maps with the following information:</li>
	<li>All HISG Starfish Network Project Locations </li>
	<li>IDR Network Partner Locations </li>
	<li>Hope Resource Network Warehouse Locations </li>
	<li>Hope Resource Network Logistics Support Locations </li>
	<li>Guest House Locations </li>
	<li>Project Reports – A host of Project Reports are uploaded to the website to provide interested partners with updated information relative to current HISG project initiatives and locations. </li>
	<li>HIST and IDR Models – Both the HIST and IDR Models are provided on the website through Power Point format. </li>
	<li>Disaster Spot Reports – The HISG Global Operations Center produces Spot Reports to help implementing partners maintain a heightened state of awareness for impending disaster situations. Organizations interested in receiving the Spot Reports directly by email should contact the HISG GOC.</li>
	<li>Disaster Situation Reports – Through the compilation of data from a host of implementing partners, the HISG Global Operations Center produces regular Situation Reports for disaster response operations that have escalated to the Alert Level 3 and 4 stages.  Organizations interested in receiving the Situation Reports directly by email should contact the HISG GOC. </li>
	<li>Let’s Save One – A special section on the website devoted to a unique opportunity to save the life of an individual in critical need. </li>
	<li>Widows and Orphans – A special section on the website devoted to networking organizations and initiatives focused on addressing the needs of widows and orphans around the world. </li>
	<li>Network Capabilities – Our future plans call for a posting and regular updating of all the network capabilities available to members across the HISG Starfish Network. </li>
	<li>Interactive Opportunities </li>
	<li>Capabilities Survey – Provides individuals and organizations with an opportunity to register with the HISG Starfish Network in relation to a specific skill set and geographic area of interest. </li>
	<li>Resource Request Forms – Designed to provide HISG Starfish Network partners with a platform for resource sharing across the network. </li>
	<li>Country Wiki Reports – Future plans call for interactive Country Wiki Reports to be hosted on the HISG website. Functioning similar to Wikepedia, the Country Wiki Reports will enable knowledgeable individuals the opportunity to provide accurate country-specific, ground-level information to support relief and development operations.  </li>
	<li>Regional and Sector Blogs – Future plans call for the HISG website to host Regional and Sector Blogs that will provide interested members of the network with a interactive platform for information sharing and collaboration on relief and development concepts and projects.</li>
</ul>
</p> 

<h4>Business Partners Alliance (BPA)</h4> 
<p>HISG is in the process of launching a new network called the Business Partners Alliance. The purpose of the BPA is to provide business leaders with practical opportunities to fulfill their purpose in life and support corporate social responsibility initiatives in line with their business operations.  Once participants have engaged the HISG Starfish Community and successfully conducted some type of project, these business leaders are then empowered to launch their own small Circle of influence and select their own area of focus.  BPA participants are encouraged to attend one of our “Get to Know Us” events or travel with HISG partners on international trips to explore all the options of joining the community.  Interested business professionals should contact the HISG Catalyst.</p> 

<h4>Let’s Save One</h4> 
<p>Let’s Save One was birthed out of a desire to make a significant difference in the life of one person.  HISG members, along with many of our partners, do great work on the front lines of relief and development operations around the world.  Often, we find unique situations where there are special needs required to save a life.  Let’s Save One provides the platform to share this need and mobilize the resources necessary to effectively respond.  Let’s Save One requests are captured and published on the HISG website.  Partners interested in submitting a request for life-saving support should contact the HISG Public Relations Manager.</p> 

<h4>Widows and Orphans</h4> 
<p>HISG networks organizations and initiatives focused on the needs of widows and orphans around the world.  The HISG website has a special section devoted to networking of interested organizations.  For more information, please contact the HISG Widows and Orphans Project Manager.</p> 

<h4>Internships and Field Assignments</h4> 
<p>The HISG Starfish Network provides unique short-term internships (1-2 months) and longer-term field assignments (1-2 years) for individuals interested in supporting relief and development operations in developing countries.   Interested applicants should complete and submit a Resource Request Form to the HISG Resource Administrator.</p> 

<h4>Non-Profit Status for Fund Raising</h4> 
<p>Many people wanting to participate in the HISG Starfish Community and form their own Circles do not have a vehicle for managing donations to support their efforts.  HISG will provide the non-profit status and administrative support for Circles wanting to come under the HISG covering.  A processing and management fee will be required to provide this service.  Interested partners should contact the HISG Financial Controller.</p> 

<h3>Products</h3> 
<p>The following products are currently available.  As additional products are developed, they will be posted on the HISG website.</p>
<h4>Shelter Box</h4> 
<p>The Shelter Box is designed to provide a family of up to 10 people with the basic supplies to sustain life in a disaster situation for up to 6-9 months.  An initial provision of food and water for one month will be supplied, but additional supplies will be required for a longer period of time. The Shelter Box contains a long-lasting and durable tent, warm wool blankets, cooking supplies, fuel, lighting, and a water filter.  Cost of the Shelter Box will be approximately $1,000.  Shelter Box content and price will be posted to the website in the first quarter of 2009.</p> 


<h4>Spot Reports</h4> 
<p>The HISG Global Operations Center (GOC) produces Spot Reports to alert partners relative to impending natural disasters.  Spot Reports are produced at Alert Levels 1 and 2.  They are emailed to IDR Network partners and posted on the HISG website.  Please contact the Public Relations Manager to be added to the Spot Report email distribution list.</p> 
<h4>Situation Reports</h4> 
<p>Upon occurrence, or the imminent occurrence, of natural or man-made disasters.  The HISG Global Operations Center (GOC) produces Situation Reports when the Alert Level is escalated to Level 3 or 4.   Situation Reports provide a broad range of general information along with sector specific information across 14 categories of private sector response being provided by partnters. Please contact the Public Relations Manager to be added to the Spot Report email distribution list.</p> 
<h4>Country Reports</h4>
<p>The HISG Global Information Center (GIC) is capable of producing Country Reports focused on ground level front-line operations.  Organizations desiring to conduct business or humanitarian operations in a selected country may find these reports especially useful in providing the most up-to-date validated operational information.</p> 

{% endblock %}