<!-- template/partners/docs_change.html -->
{% extends 'partners/docs.html' %}
{% block change %}id="whited"{% endblock %}
{% block docs %}

<h3 style="padding:0 0 10px 0;">A World of Accelerating Change</h3>

<h4>Where are we?</h4>


<blockquote style="padding:0 0 10px 300px;">
	Come gather 'round people wherever you roam<br /> 
	And admit that the waters around you have grown<br /> 
	And accept it that soon you'll be drenched to the bone.<br />
	If your time to you is worth savin'<br /> 
	Then you better start swimmin'<br />
	Or you'll sink like a stone<br /> 
	For the times they are a-changin'.<br />
	Bob Dylan
</blockquote>


<p>We are living in an age of accelerating change.  There is a global acceleration of knowledge that is unbridled by wisdom.  In the late 90’s we were told that knowledge on the face of the earth was doubling every eighteen months.  A recent internet video states that by the year 2010, technical knowledge will be doubling every 72 hours! I think its obvious to all that the rate of change is escalating.  How do we live in these times of change?  One thing is for sure; life, as we know it, will never be the same.</p><br />  

<p>Change is accelerating, but what does that mean?  Yes, knowledge is increasing.  But there are a lot of other things that are accelerating as well.  There is acceleration in communications. In less than thirty years we have gone from the introduction of the cell phone to 3.3 billion subscriptions.  In less than twenty years, the Internet has gone from commercial introduction to 1.5 billion users.  These innovations have drastically changed the way we communicate and share information on a daily basis …globally.</p><br /> 

<p>There is acceleration in social networking.  A social network is a social structure made of nodes (which are generally individuals or organizations) that are tied by one or more specific types of interdependency, such as values, visions, ideas, financial exchange, friendship, kinship, dislike, conflict or trade. The resulting graph-based structures are often very complex as shown below.</p><br />

<p>Social networks are the current rage of the Internet.  With the Internet now providing the ideal platform for networking, the top three social networking sites (MySpace, Facebook, and Reunion) have grown to over 220 million users with over 500,000 new accounts being added daily.</p><br /> 

<p>Increased connectivity is accelerating globalization resulting in a flat and decentralized world.  As Thomas Friedman writes, in “The World is Flat”, globalization is leveling the playing field, in terms of commerce, to the point where all competitors have an equal opportunity. A one-man shop in India can effectively compete for business against a large corporation in America.  Ori Brafman, in “The Starfish and the Spider”, adds that the Internet is now enabling organizations and networks to decentralize their operations through distributive networks. These decentralized networks can create dis-economies of scale that can disrupt whole industries.  A shy engineer named Craig Newmark never dreamed that the introduction of his website called Craig’s List could single handedly nearly bankrupt the entire newspaper industry.</p><br /> 

<p>There is acceleration in natural disasters resulting in chaos and disruptions to social structures.  In the last 4 years, we have experienced four natural disasters with some of the greatest loss of human life in history.  They include the 2004 Asian Tsunami (225,000+ dead), the 2005 Pakistan Earthquake (80,000+ dead), the 2008 Nargis Cyclone (100,000+ dead), and the 2008 Sichuan Earthquake (80,000+ dead).</p><br />   

<p>As of 2006, there were over 20 million refugees in the world. In addition, there are currently reported to be over 25 million Internally Displaced Persons (IDP), refugees within their own country, with 70-80% being women and children.  The Sichuan earthquake alone added another 3+ million IDPs to the list. Most are still living in tents this winter (2008-2009).</p><br /> 

<p>Presently, there are an estimated 130+ million orphans in the world with less than 400,000 being adopted on an annual basis.  These numbers appear to be escalating out of control. The years 2007–2008 saw dramatic rises in world food price, bringing a state of global crisis and causing political and economical instability and social unrest in both poor and developed nations. Over 1.1 billion people live in extreme poverty earning less than $1 USD per day and over half the population of planet earth live on less than $2.50 USD per day.</p><br />   

<h3>HISG is Taking Action </h3>
<p>A growing number of individuals and organizations are becoming increasingly aware of the magnitude of these changes.  But what will they do about it?  “What can I do?” you may ask.  “I’m just one person.”  The answer is – a lot! You can make a big difference!  If each one of us was to do something, …anything, and we all worked together, we could have an extraordinary impact!  And that is precisely what HISG is attempting to do; help ordinary people make an extraordinary difference in the lives of the poor and needy people we serve in over 80 nations. That is what this concept paper is all about.  Emerging technologies and societal trends are setting the stage for a new way of impacting the world.  We are now able to effectively network people and resources across a wide range of private sector skills with participants from businesses, non-governmental organizations (NGO), faith-based and civic groups and academic institutions.</p><br />  

<p>HISG is using the Internet and social networking concepts to evolve our own organization from a centralized hierarchical infrastructure to a decentralized starfish-like network.  Simultaneously, we are working to understand the causal factors and principles that impact the emergence of mass movements in order to better influence the direction and outcomes of such a movement. </p><br /> 

<p>Our ultimate goal is to combine and leverage the attributes of social networking, decentralized starfish networks, and those of an emerging mass movement.  By doing so, we hope to catalyze, support, empower, and influence the establishment of a decentralized starfish-like mass movement that will enable ordinary people to make an extraordinary difference on a daily basis!</p><br />

{% endblock %}