{# templates/misc/sitemap.html #}

{% extends "misc/base.html" %}
{% block head_title %}Sitemap{% endblock %}
{% block brick %}{% include "brick/brick.html" %}{% endblock brick %}

{% block body %}
	<h2 class="center">Site-Map</h2><hr/>
	<div class="sitemap">
		<p style="top:15px;left:228px;font-size:12px;"><a href="/initiatives/orphan-care/">Orphan<br/>Care</a></p>
		<p style="top:-15px;left:328px;font-size:12px;"><a href="/initiatives/darfur-initiative/">Darfur<br/>Initiative</a></p>
		<p style="top:6px;left:158px;font-size:12px;"><a href="/initiatives/lets-save-one/">Let's Save<br/>One</a></p>
		<p style="top:-24px;left:385px;font-size:10px;line-height:9px;"><a href="/initiatives/gic/">Global<br/>Information<br/>Center</a></p>
		<p style="top:6px;left:124px;font-size:10px;line-height:9px;"><a href="/initiatives/starfish/">Starfish<br/>Community<br/>Portal</a></p>
		<p style="top:-22px;left:426px;font-size:10px;line-height:9px;"><a href="/initiatives/hrn/">Hope<br/>Resource<br/>Network</a></p>		
		<p style="top:-10px;left:260px;font-size:16px;"><a href="/initiatives/">Featured<br/>Initiatives</a></p>
		
		<p style="top:17px;left:132px;font-size:12px;"><a href="{% url idrmodel %}">IDR Model</a></p>
		<p style="top:7px;left:415px;font-size:12px;"><a href="{% url project %}">Projects</a></p>
		<p style="top:5px;left:30px;font-size:12px;"><a href="{% url histmodel %}">HIST Model</a></p>
		<p style="top:-5px;left:505px;font-size:12px;"><a href="{% url news %}">News</a></p>
		<p style="top:27px;left:18px;font-size:12px;"><a href="/training-and-models/models/">Models</a></p>
		<p style="top:17px;left:530px;font-size:12px;"><a href="{% url gallery %}">Photos</a></p>		
		<p style="top:2px;left:140px;font-size:16px;width:100px;"><a href="{% url trainingmodels %}">Training &amp;<br/>Models</a></p>
		<p style="top:-37px;left:378px;font-size:16px;width:100px;"><a href="{% url projectsnews %}">Projects &amp;<br/>News</a></p>
		<p style="top:-27px;left:39px;font-size:12px;"><a href="{% url training %}">Training</a></p>
		<p style="top:-38px;left:514px;font-size:12px;"><a href="{% url videos %}">Videos</a></p>
		
		<p style="top:-38px;left:255px;font-size:30px;"><a href="{% url home %}">Home</a></p>
		
		<p style="top:-2px;left:100px;font-size:12px;"><a href="{% url search %}">Search</a></p>		
		<p style="top:-21px;left:384px;font-size:16px;"><a href="{% url donation %}">Donation<br/>Portal</a></p>
		<p style="top:2px;left:20px;font-size:12px;"><a href="/info/first-time-here/">First Time<br/>Here</a></p>		
		<p style="top:-21px;left:205px;font-size:12px;"><a href="{% url faqs %}">FAQ's</a></p>		
		<p style="top:-44px;left:503px;font-size:12px;"><a href="{% url donation_login %}">Donor<br/>Login</a></p>		
		<p style="top:-4px;left:72px;font-size:12px;"><a href="{% url sitemap %}">Site Map</a></p>		

		<p style="top:7px;left:340px;font-size:16px;"><a href="/about-hisg/">About HISG</a></p>
		<p style="top:13px;left:215px;font-size:12px;"><a href="/about-hisg/history/">History</a></p>		
		<p style="top:0px;left:501px;font-size:12px;"><a href="{% url contact %}">Contact Us</a></p>		
		<p style="top:41px;left:246px;font-size:12px;"><a href="{% url directors %}">Directors</a></p>		
		<p style="top:19px;left:466px;font-size:12px;"><a href="/about-hisg/vision/">Purpose &amp;<br/>Vision</a></p>		
		<p style="top:48px;left:321px;font-size:12px;"><a href="{% url staff %}">Staff</a></p>		
		<p style="top:33px;left:414px;font-size:12px;"><a href="{% url office %}">Offices</a></p>		
	</div>
{% endblock body %}