<!-- templates/featured/orphan.html -->
{% extends 'featured/base.html' %}
{% block subarrive %}3{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<h2 class="center">Orphans and Vulnerable Children Initiative</h2><hr/>


	<p>Through its variety of humanitarian efforts around the globe, Humanitarian International Services Group has repeatedly witnessed glimpses of the horrifying reality of 143 million orphans and millions more children made vulnerable by HIV/AIDS, conflict, poverty, socio-political conditions, and disease. Recognizing the unique needs of this population, HISG is working on developing programs and partnering with organizations to respond specifically to the distinct situations faced by these children.</p><br/>

	<p>The following short list of organizations provides a few examples of the diverse responses to the extreme needs of the world's orphans and vulnerable children. It includes adoption assistance; support and training for children aging out of orphanages; empowering grassroots efforts; and lobbying for better government funding of child welfare.</p><br/>



	<h3>Brittany's Hope</h3>

	<p>Brittany's Hope is a non-profit foundation dedicated to aiding and facilitating adoptions of special needs children from around the world through child-specific advocacy of waiting international children. Children with special needs are often overlooked by families looking for a child to adopt. Brittany's Hope was created in the spring of 1999 with the goals of educating and encouraging families to consider the unique joys of parenting a special needs foreign child. Last year, Brittany's Hope aided in the placement of over 80 children through multiple U.S.-based adoption agencies.</p><br/>


	<h3>Children's HopeChest</h3>

	<p>Children's HopeChest is a faith-based nonprofit agency dedicated to providing practical help to orphans around the world. This Colorado organization helps prepare children for life after an orphanage. Its programs include sponsorship, humanitarian aid, medical supplies and equipment donation, foster-care program, orphanage media centers, transitional homes for orphanage graduates, technical life-skills development program, computer training, and counseling programs for orphans and orphanage graduates.</p><br/>


	<h3>Children’s Hope International</h3>

	<p>Children's Hope International is an international adoption agency, working in China, Colombia, Ethiopia, Guatemala, India, Kazakhstan, Russia and Vietnam. Although CHI had been incorporating humanitarian aid projects from its beginning in 1992, a separate humanitarian aid department was created in 2001. Today, although finding a family for every child remains the mission of Children's Hope International, their humanitarian aid programs are designed to specifically deal with the many needs of those orphans left behind. Current projects include providing orphan health and surgical services as well as implementation of long term foster care in Southwest China.</p><br/>


	<h3>Forgotten Voices International</h3>

	<p>Forgotten Voices International works with educational institutions in Zambia and Zimbabwe, identifying leaders who are working in or trying to build local orphan care programs. Leaders are selected and asked to develop Local Action Plans that outline what their community is trying to accomplish for AIDS orphan care, what resources are available, what gaps exist, and how to move forward. In partnership with the Local Action Plan, Forgotten Voices International:</p><br/>

	<ul>
		<li>
			Cultivates training for how to develop that plan, including design, implementation and evaluation
		</li>
		<li>
			Supplies funding for items in the plan
		</li>
		<li>
			Seeks partners from other local organizations, non-profit agencies working in the community or other groups that could meet other gaps identified in the plan
		</li>
		<li>
			Nurtures self-sustaining projects that provide for a community need and create income, when possible
		</li>
	</ul><br/>


	<h3>Global Action for Children</h3>

	<p>Launched in September 2003, Global Action for Children is an independent, collaborative campaign of nongovernmental, faith-based, and student organizations dedicated to supporting orphans and other vulnerable children (OVC) and the communities that care for them. GAC’s unique strength lies in the diversity of its coalition partners and allies and its ability to mobilize a broad range of constituencies in support of advocacy for OVC. Based in the U.S., GAC is involved with policy analysis and political advocacy; media outreach and public education; coalition building; and grassroots mobilization.</p><br/>
{% endblock %}