html {color: #000;background: #e1d09c;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style: normal;font-weight: normal;}
li {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
q:before,q:after {content: '';}
a:link, a:visited {text-decoration:none;color:#3f97ba;}
abbr,acronym {border: 0;font-variant: normal;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
input,textarea,select {font-family: inherit;font-size: inherit;font-weight: inherit;}
input,textarea,select {*font-size:100%;}
legend {color: #000;}
body {font: 13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;background: url(/site_media/images/bg3.jpg) no-repeat top center #d9bc65;}
table {font-size: inherit;font: 100%;}
p ul{margin-left:40px;padding-left:0px;}
pre,code,kbd,samp,tt {font-family: monospace;*font-size:108%;line-height: 100%;}
#doc-wrapper{margin: auto;width:1105px;min-width: 900px;background:url(/site_media/images/fg2.jpg) no-repeat  top center;}
#doc{margin: auto;text-align: left;width:1026px;}

input, textarea, select{background-color:#FFF;color:#63bde0;margin:0 0 0px 0;font-size:18px;}

/*==========================header=========================*/
#hd{}
#one{height:38px;}
#two{height:114px;}
#hisg{padding:30px 0 0 225px;}
#first-time{padding:35px 0 0 820px;}
#sitesearch{padding:10px 30px 0 0;float:right;color:#14436f;font-family:palatino,new york;}
.quickpick{display:inline;float:left;padding:3px 40px 2px 5px;background-color:white;border:1px gray solid;margin:0 20px 0 0;}
#nav{height:66px;}
ul#navigation {height:36px;padding:10px 0 0 1px;}
ul#navigation span{display:none;}
#li1{float:left;width:207px;}
#li2{float:left;width:216px;}
#li3{float:left;width:211px;}
#li4{float:left;width:153px;}
#li5{float:left;width:237px;}
ul#navigation li a {cursor:pointer;display:block;height:35px;}
ul#navigation li a#nav1 {background:transparent url(/site_media/images/nav1/nav1.jpg) no-repeat scroll 0 0;}
ul#navigation li a#nav2 {background:transparent url(/site_media/images/nav1/nav2.jpg) no-repeat scroll 0 0;}
ul#navigation li a#nav3 {background:transparent url(/site_media/images/nav1/nav3.jpg) no-repeat scroll 0 0;}
ul#navigation li a#nav4 {background:transparent url(/site_media/images/nav1/nav4.jpg) no-repeat scroll 0 0;}
ul#navigation li a#nav5 {background:transparent url(/site_media/images/nav1/nav5.jpg) no-repeat scroll 0 0;}
ul#navigation li a#nav1:hover, ul#navigation li a#nav2:hover, ul#navigation li a#nav3:hover, ul#navigation li a#nav4:hover, ul#navigation li a#nav5:hover {background-position:0 -36px;}
#subnavigation{background:url(/site_media/images/subback.bmp) repeat-y;color:#000;margin:0 0 0 1px;}
#subnavigation a {color:#000;}
.subnav{padding:0 0 0 50px;}
.sub1,.sub2,.sub3,.sub4,.sub5{display:none;}
.sub0{display:none;}
.inyes{display:none;}
#adminfirst{padding:0 0 0 400px;}
/*#administration{float:right;padding:0 100px 0 0;}
#administration li{display:inline;}*/
/*==========================impacter=========================*/
#impacter{height:395px;}
#left-impacter{float:left;padding:50px 30px 0 60px;width:290px;text-align:center;}
#right-impacter{float:right;padding:32px 25px 0 0;}
#iln{color:#ae5219;font-family:palatino;font-weight:bold;}
#ilb{color:#783a11;}
#irp{}
#phrase{height:115px;color:#783a11;font-size:20px;font-family:palatino,times;padding:15px 0 0 0;}
#phrase a{}
#buttoner{background-color:#14436f;height:20px;width:150px;padding:5px 0 2px 0;margin:0 10px 0 70px;color:#fffccf;font-family:palatino,times;font-size:14px;font-weight:bold;border:1px #fffccf solid;}
#buttoner a{color:red;}
#thumber{padding:10px 0 0 5px;}
/*==========================body=========================*/
#bd{width:1026px;min-height:70em;}
.homer{width:300px;padding:10px 0 0 30px;float:left;font-size:12px;}
.homer h3{font-size:15px;font-family:times;font-weight:bold;padding:0 0 20px 0;}
#lefthomer h3{color:#238fb0;}
#middlehomer h3{color:#ce9e4e;}
#righthomer h3{color:#ff0000;}
.homer h4{font-size:12px;font-weight:bold;padding:0 0 10px 0;}
.homer p{padding:0 0 30px 0;line-height:1.5em;}
.homer .date{font-size:9px;font-weight:bold;color:#626262;padding:0 0 7px 0;}
.homer .ican{color:#00a3e6;}

/*==========================footer=========================*/
#ft{text-align:center;padding:20px;font-size:12px;}
#ft a {color:#1a629d;}
#ft a:visited{color:#1a629d;}



/*==========================colors=========================*/
/* #dabc64  -- gold cukjati*/
/* #d9bc65 -- gold background cukjati*/
/* #fffccf -- light gold cukjati*/
/* #ae5219 -- brown text cukjati*/
/* #783a11 -- darker brown text cukjati*/
/* #3f97ba -- medium blue for links*/
/* #14436f  -- blue cukjati*/
/* #ce9e4e -- volunteer gold*/
/* #238fb0 -- updates blue*/
/* #ff0000 -- urgent red*/
/* #626262 -- date gray*/
/* #00a3e6 -- i can blue*/
/*==========================end=========================*/