#quickdiv{width:125px;height:17px;float:right;padding:0px;color:#14436f;font-family:palatino,new york;}
.quickpick{display:inline;padding:3px 5px 0px 5px;background-color:white;border:2px solid #00a3e6;margin:0 20px 0 0;width:100px;z-index:1;position:absolute;}
.quickhide{display:none;}
.quickpick .quickpickarrow{background:url(/site_media/images/arrow-blue.jpg)no-repeat 100% 0;}

#searchdiv{width:260px;height:28px;float:right;padding:0px 20px 0 0;}
#searchdiv #q{background:transparent #fff;border:2px solid #00a3e6;margin:0;padding:0 0 0 5px;height:18px;line-height:18px;float:right;}
#searchdiv #searchall{display:none;}
#magnifier{border-top:2px solid #00a3e6;border-bottom:2px solid #00a3e6;border-left:2px solid #00a3e6;margin:0;padding:0;height:18px;float:right;}

#loginadmin{float:right;width:40px;height:15px;border-top:2px solid #00a3e6;border-bottom:2px solid #00a3e6;border-left:2px solid #00a3e6;background:#fff;margin:0px;padding:3px 5px 0px 5px;}

#usernameblock{float:right;height:15px;border-top:2px solid #00a3e6;border-bottom:2px solid #00a3e6;border-left:2px solid #00a3e6;background:#fff;margin:0px;padding:3px 5px 0px 5px;}

#loginblock{float:right;height:15px;border:2px solid #00a3e6;background:#fff;margin:0px 20px 0 0;padding:3px 5px 0px 5px;}
