html {color: #000;background: #e1d09c;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style: normal;font-weight: normal;}
li {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}
h1{font-size:36px;font-family:times;color:#14436f;}
h2{font-size:30px;font-family:times;color:#14436f;padding-bottom:15px;}
h3{font-size:24px;font-family:times;color:#14436f;padding-bottom:12px;}
h4{font-size:18px;font-family:times;color:#14436f;padding-bottom:8px;}
q:before,q:after {content: '';}
a:link, a:visited {text-decoration:none;color:#3f97ba;}
abbr,acronym {border: 0;font-variant: normal;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
input,textarea,select {font-family: inherit;font-size: inherit;font-weight: inherit;}
input,textarea,select {*font-size:100%;}
legend {color: #000;}
body {font: 13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;background: url(/site_media/images/second/bg4.jpg) no-repeat top center #d9bc65;}
table {font-size: inherit;font: 100%;}
p ul{margin-left:40px;padding-left:0px;}
pre,code,kbd,samp,tt {font-family: monospace;*font-size:108%;line-height: 100%;}
#doc-wrapper{margin: auto;width:1026px;min-width: 900px;background:url(/site_media/images/second/fg5.jpg) no-repeat  top center;}
#doc{margin: auto;text-align: left;width:1026px;}
input, textarea, select{background-color:#FFF;color:#63bde0;margin:0 0 0px 0;font-size:18px;}

.numvis li{list-style-type:decimal;list-style-position:inside;padding:0 0 0 8px;}
/*==========================header=========================*/
#hd{}
#one{height:38px;}
#two{height:116px;}
#globepic{}
#hisgpic{padding:0 0 25px 10px;}
#labelpic{padding:0 0px 30px 30px;}

#quickdiv{width:150px;height:26px;float:left;padding:8px 0 0 550px;color:#14436f;font-family:palatino,new york;}
.quickpick{display:inline;padding:3px 5px 2px 5px;background-color:white;border:1px gray solid;margin:0 20px 0 0;width:100px;z-index:1;position:absolute;}
.quickhide{display:none;}
#searchdiv{width:275px;height:28px;float:left;padding:10px 0px 0 0;color:#14436f;font-family:palatino,new york;}
#magnifier{float:right;position:relative;top:-19px;left:-2px;}

#nav{height:66px;}
ul#navigation {height:36px;padding:10px 0 0 1px;}
ul#navigation span{display:none;}
#li1{float:left;width:129px;}
#li2{float:left;width:164px;}
#li3{float:left;width:213px;}
#li4{float:left;width:196px;}
#li5{float:left;width:134px;}
#li6{float:left;width:188px;}
ul#navigation li a {cursor:pointer;display:block;height:35px;}
ul#navigation li a#nav1 {background:transparent url(/site_media/images/nav2/nav1.jpg) no-repeat scroll 0 0;}
ul#navigation li a#nav2 {background:transparent url(/site_media/images/nav2/nav2.jpg) no-repeat scroll 0 0;}
ul#navigation li a#nav3 {background:transparent url(/site_media/images/nav2/nav3.jpg) no-repeat scroll 0 0;}
ul#navigation li a#nav4 {background:transparent url(/site_media/images/nav2/nav4.jpg) no-repeat scroll 0 0;}
ul#navigation li a#nav5 {background:transparent url(/site_media/images/nav2/nav5.jpg) no-repeat scroll 0 0;}
ul#navigation li a#nav6 {background:transparent url(/site_media/images/nav2/nav6.jpg) no-repeat scroll 0 0;}
ul#navigation li a#nav1:hover, ul#navigation li a#nav2:hover, ul#navigation li a#nav3:hover, ul#navigation li a#nav4:hover, ul#navigation li a#nav5:hover, ul#navigation li a#nav6:hover {background-position:0 -36px;}
#subnavigation{background:url(/site_media/images/subback.bmp) repeat-y;color:#000;margin:0 0 0 1px;}
#subnavigation a {color:#000;}
.subnav{padding:0 0 0 50px;}
.sub1,.sub2,.sub3,.sub4,.sub5,.sub6{display:none;}
.sub0{display:none;}
.inyes{display:none;}
#adminfirst{padding:0 0 0 400px;}
/*#administration{float:right;padding:0 100px 0 0;}
#administration li{display:inline;}*/

/*==========================impacter=========================*/
#impacter{height:407px;background: #DDD url(/site_media/images/impact2.jpg) no-repeat  top center;}
#left-impacter{float:left;padding:120px 30px 0 60px;width:290px;text-align:center;}
#right-impacter{float:right;padding:32px 25px 0 0;}
#iln{color:#ae5219;font-family:palatino;font-weight:bold;}
#ilb{color:#783a11;}
#irp{}

/*==========================body=========================*/
#bd{width:1026px;min-height:70em;}
#left-colomn{float:left;width:338;min-height:500px;padding:20px 0 10px 0;}
#left-backer{background-color:#d9bc65;width:300px;height:970px;margin:0 0 0 38px;padding:1px 0 0 0;}
.left-block{background-color:#f2e3a5;margin:10px;width:280px;height:230px;}
#right-colomn{float:left;min-height:500px;width:640px;margin:0 0 0 30px;padding:20px 0 0 0;}
.brick{font-family:times;font-weight:bold;text-transform:uppercase;background-color:#14436f;padding:3px 0 3px 0;width:200px;text-align:center;margin:40px 0 0 40px;}
.brickpic{padding:20px 0 0 10px;}
#toppic{background-color:#f2e3a5;padding:10px;}
#toppicin{background:url(/site_media/images/toppicin.jpg);height:257px;}
#toppicin div{float:left;}
#toppicintext{width:118px;padding:40px 20px 0 30px;text-align:right;color:#14436f;}
.newsbox{border:solid 1px #d9bc65;padding:10px;margin:0 0 20px 0;}
.inpagenav{font-size:10px;}
.inpagenav{padding:10px 0 20px 0;}
.inpagenav li{display:inline;padding:0px 10px 0px 0;}

.right{float:right;}
.left{float:left;}
.clearer{clear:both;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
.center{text-align:center;}
.caption{color:#666666;font-weight:bold;font-size:10px;}

.twoway{min-height:420px;}
.fourway{width:300px;float:left;padding:0 15px 15px 0px;}
.fourway span{color:#666666;font-weight:bold;font-size:10px;padding:8px 0 0 0;}
.fourway h2{text-align:center;}
.fourway h2 a{color:#14436f;}
.rower{min-height:80px;border-top:solid 4px #dabc64;padding:0 0 10px 0;margin:0 0 30px 0;}
.rower img{padding:0;margin:0;}

.rower2{min-height:50px;border-top:solid 4px #dabc64;padding:0px 0 20px 0;margin:10px 0 0px 0;}
.rower2 span{color:#ae5219;}
/*.rower2 img{padding:0 0 0 20px;}*/

.rowergallery{height:210px;border-bottom:solid 1px #dabc64;padding:10px 0 0 0;}
.rowergallery span{color:#ae5219;}
.rowergallery img{padding:0 0px 0 0;margin:0 40px 0 0;}
.brown{color:#dabc64;height:1px;border-width:0;background-color:gray;}

.news-detail-photo{padding:0 0 10px 20px;float:right;width:420px;}
.news-detail-country{color:#ae5219;font-weight:bold;font-size:13px;}

.gold5{border:5px solid #dabc64;}
.gold5x{border-bottom:5px solid #dabc64;border-left:5px solid #dabc64;border-right:5px solid #dabc64;}

.sorter li{display:inline;color:#14436f;}
#buttoner{background-color:#14436f;height:20px;width:180px;padding:5px 0 2px 8px;margin:30px 10px 0 70px;color:#fffccf;font-family:palatino,times;font-size:14px;font-weight:bold;border:1px #fffccf solid;}
#buttoner a{color:#3f97ba;}

.buttoner{background-color:#14436f;height:20px;width:180px;padding:5px 0 2px 8px;font-family:palatino,times;font-size:14px;font-weight:bold;border:5px #dabc64 solid;text-align:center;}
.buttoner a{color:#3f97ba;}

.feabox{border:1px solid #dabc64;padding:15px;margin:0 0 20px 0;}
.feabox img{margin:0 0 0 15px;}
.feabox h3{padding:0 0 20px 0;}

.tininav{background:#dabc64;padding:5px;margin:0 0 20px 0;}
.tininav li{display:inline;}
.tininav a{color:#14436f;}
.tininav a:active{text-decoration:none;color:#3f97ba;}
.tininav a:hover{text-decoration:none;color:#3f97ba;}

.director{border:3px solid #dabc64;padding:10px;margin:0 0 30px 0;min-height:130px;}
.staff{border:3px solid #dabc64;padding:10px;margin:0 0 30px 0;min-height:130px;}

.searchfilter{float:right;width:200px;}
.squareofsearch{border:3px solid #dabc64;width:400px;padding:5px;}

.sitemap{background:url(/site_media/images/sections/misc/sitemap.png) no-repeat; width:600px;height:900px;font-weight:bold;}
.sitemap p{position:relative;}
.firsttime{padding:8px 0 0 0;}
.firsttime p{color:#FFF;font-weight:bold;font-size:22px;text-align:center;}
.firsttime li{background:#fffccf;margin:4px;font-weight:bold;padding:3px 0 3px 5px;}

.intern{padding:0 0 80px 0;}
#intern1{margin:0 20px 5px 0;float:left;}
#intern2{margin:0 0 5px 20px;float:right;}
#intern3{margin:0 20px 5px 0;float:left;}
.internbutton{margin:0 0 0 200px;}

.formerror{font-weight:bold;color:#F00;font-size:11px;}
/*==========================footer=========================*/
#ft{text-align:center;padding:20px;font-size:12px;}
#ft a {color:#1a629d;}
#ft a:visited{color:#1a629d;}

/*==========================colors=========================*/
/* #dabc64  -- gold cukjati*/
/* #d9bc65 -- gold background cukjati*/
/* #fffccf -- light gold cukjati*/
/* #f2e3a5 -- left-colomn-gold*/
/* #ae5219 -- brown text cukjati*/
/* #783a11 -- darker brown text cukjati*/
/* #3f97ba -- medium blue for links*/
/* #14436f  -- blue cukjati*/
/* #ce9e4e -- volunteer gold*/
/* #238fb0 -- updates blue*/
/* #ff0000 -- urgent red*/
/* #626262 -- date gray*/
/* #00a3e6 -- i can blue*/
/* #666666 -- here is the caption color*/

/*==========================end=========================*/
