#photo_selected_title{float:left;width:1000px;margin:0 0 0 30px;padding:0 0 0 20px;}
#photo_selected_title .pttitle{width:400px;float:left;font-weight:bold;font-size:15px;margin:0 35px 10px 10px;}
#photo_selected_title .pt1{float:left;width:70px;color:#aaaaaa;}
#photo_selected_title .pt2{float:left;width:100px;color:#aaaaaa;}
#photo_selected_title .pt3{float:left;width:110px;color:#aaaaaa;}
#photo_selected_title .pt4{float:left;width:180px;color:#aaaaaa;}

#photo_unselected{border:1px solid #555555;width:400px;height:300px;float:left;margin:0 10px 0 30px;padding:10px;overflow:scroll;}
#photo_selected{border:1px solid #555555;width:400px;height:300px;float:left;margin:0 0 0 10px;padding:10px;overflow:scroll;}

#photo_select_buttons{float:left;width:18px;}
#photo_select_buttons #photo_select_add{background:url(/admin_media/img/admin/selector-add.gif) no-repeat;width:16px;height:50px;margin:100px 0 0 0;}
#photo_select_buttons #photo_select_remove{background:url(/admin_media/img/admin/selector-remove.gif) no-repeat;width:16px;height:50px;padding:1px;}

.photobox{background:#e8e8e8 url(/admin_media/img/admin/default-bg-lite.gif) repeat-x left top;margin:0 0 5px 0;padding:2px;height:35px;-moz-border-radius: 5px;
-webkit-border-radius: 5px;}
.photobox div{float:left;}
.photobox .photoboxid{width:30px;padding:9px 0 0 4px;height:30px;overflow:hidden;}
.photobox .photoboxname{width:130px;height:30px;font-weight:bold;padding:3px 0 0 0;overflow:hidden;}
.photobox .photoboxpicture{width:70px;height:36px;overflow:hidden;}
.photobox .photoboxtags{width:145px;height:39px;font-size:10px;overflow:hidden;}
.photoboxhighlighted{color:#FFFFFF;background:#7CA0C7 url(/admin_media/img/admin/default-bg.gif) repeat-x scroll left top;margin:0 0 5px 0;padding:2px;height:35px;-moz-border-radius: 5px;
-webkit-border-radius: 5px;}
.hiddenPhotobox{display:none;}

.photobox .photoboxtags .photoboxtagstags{width:145px;height:22px;font-size:10px;}
.photobox .photoboxtags .photoboxtagsorigs{width:145px;height:16px;font-size:9px;color:#417690;}

.photosearchbox{width:360px;height:26px;border:1px solid #555555;margin:0 0 0 30px;padding:4px 0px 4px 60px;background:url(/admin_media/img/admin/icon_searchbox.png) 40px 10px no-repeat;}
.photosearchboxinput{float:left;width:165px;}
.photosearchboxclear{float:left;width:15px;height:15px;background:url(/admin_media/img/admin/inline-delete.png) 0 0 no-repeat;margin:7px 0 0 5px;cursor:pointer;}


.clear{clear:both;}

