.aps_left{border:2px solid #555555;width:200px;height:300px;float:left;margin:0 50px 0 0;padding:10px;}
.aps_right{border:2px solid #555555;width:200px;height:300px;float:left;padding:10px;}
.aps_title{font-weight:bold;text-align:center;width:200px;font-size:14px;border-bottom:2px solid #5555555;}