<!-- templates/donation-portal/detail.html -->
{% extends 'donation-portal/base.html' %}

{% block brick %}
	{% include "brick/brick.html" %}
{% endblock brick %}

{# {% block extra_head %} #}
	{# <script src="/site_media/js/smugmug.js" type="text/javascript" charset="utf-8"></script> #}
	{# <script src="/site_media/js/slideshowsm.js" type="text/javascript" charset="utf-8"></script> #}
	{# <script type="text/javascript" charset="utf-8"> #}
	{#   	nick = "hisg.org"; #}
	{# 	$(function() { #}
	{# 		// $("#slideshow").slideShow({ #}
	{# 		// 	size: "Medium", #}
	{# 		// 	// albumID: "11782063", #}
	{# 			albumID= "19765539"; #}
	{# 		// 	delay: 5000 #}
	{# 		// }); #}
	{# 		$.smugmug.login.anonymously(function() { #}
	{# 			$.smugmug.images.get({AlbumID: albumID, Heavy: 1}, function(images) { #}
	{# 				le = 0 #}
	{# 				for (var i=0; i < images['Images'].length; i++) { #}
	{# 					le +=1; #}
	{# 				}; #}
	{# 				alert(le); #}
	{# 			}); #}
	{# 		}); #}
	{# 	}); #}
	{# </script> #}
{# {% endblock %} #}

{% block body %}
	<h2 class="center">Donor Login</h2><hr>

	<div class="right" style="padding:0 0 0 20px;">
		<img src="/site_media/images/sections/donation/front_pic.jpg"></img>
	</div>
	<span class='bold' style='font-size:15px;'>Coming soon</span> to the HISG Donation Portal, is the Donor Section. We will be presenting charts of your ongoing donations and providing	project updates to the initiatives you participated in. There will be a section to print out receipts for tax deductions. We will also be suggesting other <a href="{% url project %}">projects</a> from the same areas of the world and other projects with similiar	<a href="/training-and-models/models/hist-model/">HIST Model</a> and <a href="/training-and-models/models/idr-model/">IDR Model</a> characteristics. Check back soon so you will be able to see just how valuable your participation really is and how you are changing the face of global need for the better. 
	
	<div class="clearer"></div><br/><br/>
	<div>
		<img src="/site_media/images/sections/donation/chart.jpg"></img>
	</div>

{% endblock %}

