<!-- templates/donation-portal/detail.html -->
{% extends 'donation-portal/base.html' %}

{% block brick %}
	{% include "brick/brick.html" %}
{% endblock brick %}


{% block body %}
	<h2 class="center">Donor Login</h2><hr>

	<div class="right" style="padding:0 0 0 20px;">
		<img src="/site_media/images/sections/donation/front_pic.jpg"></img>
	</div>
	<span class='bold' style='font-size:15px;'>Coming soon</span> to the HISG Donation Portal, is the Donor Section. We will be presenting charts of your ongoing donations and providing	project updates to the initiatives you participated in. There will be a section to print out receipts for tax deductions. We will also be suggesting other <a href="{% url project %}">projects</a> from the same areas of the world and other projects with similiar	<a href="{% url histmodel %}">HIST Model</a> and <a href="{% url idrmodel %}">IDR Model</a> characteristics. Check back soon so you will be able to see just how valuable your participation really is and how you are changing the face of global need for the better. 
	
	<div class="clearer"></div><br/><br/>
	<div>
		<img src="/site_media/images/sections/donation/chart.jpg"></img>
	</div>
{% endblock %}