{# templates/admin/training/questionset/change_form.html #}
{% extends "admin/base_site.html" %}
{# {% load i18n admin_modify adminmedia %} #}

{% block extrahead %}
	<script src="/site_media/js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
	{# // <script src="/site_media/js/ordering.js" type="text/javascript" charset="utf-8"></script> #}
	{{ block.super }}
	<script type="text/javascript" src="../../../jsi18n/"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			var questions = new Array();
			var questionids = new Array();
			var newids = new Array();
			{% for q in questions %}
				questions[{{ forloop.counter0 }}] = '{{ q.question }}';
				questionids[{{ forloop.counter0 }}] = '{{ q.order }}';
			{% endfor %}
			for(i=0;i<questionids.length;i++){
				newids[i] = parseInt(questionids[i]);
			}
			$('#sortedquestions').val(newids);
			var clicked = 0;
			var clicked2 = 0;
			var dest = 0;
			// $('.questionordertitle').css({'color':'red'});
			
			
			$('.qup').click(function(){
				clicked = parseInt(this.id.split('_').shift());
				if(clicked!=0){
					dest = parseInt(this.id.split('_').shift()) - 1;
					$('#' + String(dest) + '_q').html(questions[newids[clicked]]);
					$('#' + String(clicked) + '_q').html(questions[newids[dest]]);
					clicked2 = newids[dest+1];
					newids[clicked]=newids[clicked-1];
					newids[dest]=clicked2
					$('#sortedquestions').val(newids);

				}
				// $('.somediv').append(' up-- clicked = ' + clicked + '  dest = ' + dest + '  newids = ' + newids +'<br/>');
			})
			
			
			$('.qdown').click(function(){
				clicked = parseInt(this.id.split('_').shift());
				if(clicked!=newids.length -1){
					dest = parseInt(this.id.split('_').shift()) + 1;
					$('#' + String(dest) + '_q').html(questions[newids[clicked]]);
					$('#' + String(clicked) + '_q').html(questions[newids[dest]]);
					clicked2 = newids[dest-1];
					newids[clicked]=newids[clicked+1];
					newids[dest]=clicked2
					$('#sortedquestions').val(newids);
				}
				// $('.somediv').append('down clicked = ' + clicked + '  dest = ' + dest + '  newids = ' + newids + newids.length + '<br/>');
			})
		});
	</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/admin_media/css/forms.css" />{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="/admin/">Home</a> › <a href="/admin/training/">Training</a> › <a href="/admin/training/questionset/">QuestionSets</a> › <a href="/admin/training/questionset/{{ questionset.id }}/">{{ questionset }}</a> › ordering
</div><div class="clearer"></div>
{% endblock %}{# end of breadcrumbs #}

{% block content %}
	<div id="content-main">
		<div class="object-tools"><ul><li><a href="/admin/training/questionset/{{ questionset.id }}/" class="historylink">Back to Question Set</a></li></ul></div>

		<div class="questionorder">
			<div class="questionordertitle">Questions</div>
			<div class="questionorderquestions">
				<table>
					<tbody>
						<tr>
							<th>Order</th><th>Question</th><th>Change</th>
						</tr>
						{% for q in questions %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td id="{{ forloop.counter0 }}_q" class="questionbox">{{ q.question }}</td>
								<td class="questionbox">
									<div class="littlequestion">
										<img src="/admin_media/img/admin/blue_arrow_up.gif" alt="up" class="qup" id="{{ forloop.counter0 }}_qup"></img>
										up
									</div>
									<div>
										<img src="/admin_media/img/admin/blue_arrow_down.gif" alt="down" class="qdown" id="{{ forloop.counter0 }}_qdown"></img>
										down
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<form  action='' method="POST">
			<div class="submit-row">
				<input type="hidden" id="sortedquestions" name="sortedquestions"></input>
				<input class="default" type="submit" name="_save" value="Save"/>
				<input type="submit" name="_continue" value="Save and continue editing"/>
			</div>
		</form>
	</div>{# end of content main #}
{% endblock %}






{# {% for photo in adminform.form.photo.field.queryset %} #}
{# allids[{{ forloop.counter0 }}] = '{{ photo.id }}'; #}
{# allnames[{{ forloop.counter0 }}] = '{{ photo }}'; #}
{# allurls[{{ forloop.counter0 }}] = '{{ photo.get_fingernail_url }}'; #}
{# alltags[{{ forloop.counter0 }}] = '{{ photo.tags }}'; #}
{# orig = '{{ photo.image }}' #}
{# allorigs[{{ forloop.counter0 }}] = orig.split('/').pop(); #}
{# allcaptions[{{ forloop.counter0 }}] = '{{ photo.caption|escapejs }}'; #}
{# {% endfor %} #}
