/* PAGE STRUCTURE */

body{background:url(/admin_media/img/admin/grass.jpg);}
/*#container { position:relative; width:100%; min-width:760px; padding:0;}*/
#container { position:relative; width:100%;width:1000px; padding:0;margin:0 auto;background: rgba(0,0,0,0.5);}
#content { margin:10px 15px; }
#header { width:100%;height:30px;}
#content-main { float:left; width:100%; }
#content-related { float:right; width:18em; position:relative; margin-right:-19em; }
#footer { clear:both; padding:10px; }

/*  COLUMN TYPES  */
.colMS { margin-right:20em !important; }
.colSM { margin-left:20em !important; }
.colSM #content-related { float:left; margin-right:0; margin-left:-19em; }
.colSM #content-main { float:right; }
.popup .colM { width:95%; }
.subcol { float:left; width:46%; margin-right:15px; }
.dashboard #content { width:500px; }

/*  HEADER  */
#header{background:#27aaee; color:#ffc; overflow:hidden;margin:10px 0 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}
#header a:link, #header a:visited{color:white;}
#header a:hover{text-decoration:none;}
#branding h1{padding:0px; font-size:16px; margin:2px 0 0px 20px; font-weight:bold; color:#FFF;letter-spacing:.6em;font-family:helvetica;}
#hisgadmin{margin:7px 0 0 120px;float:left;}
#branding h2{padding:0 10px; font-size:14px; margin:-8px 0 8px 0; font-weight:normal; color:#ffc;}
#user-tools{float:right;padding:0px 30px 0 0; font-size:11px; text-align:right;}

/* SIDEBAR */
#content-related h3 { font-size:12px; color:#666; margin-bottom:3px; }
#content-related h4 { font-size:11px; }
#content-related .module h2 { background:#eee url(../img/admin/nav-bg.gif) bottom left repeat-x; color:#666; }

#topglobe{height:25px;float:left;cursor:pointer;}

#holder{width:100%;height:175px;background:;display:none;padding:0 0 0 20px;}
#holder .holderthing{width:200px;height:40px;background:#fff;float:left;margin:8px 15px;-moz-border-radius:5px;-webkit-border-radius:5px;
	border:1px solid gray;padding:0 0 0 5px;font-size:9px;}
#holder .holderthing div{font-weight:bold;font-size:14px;margin:0 0 4px 70px;letter-spacing:.2em;}
#holder .holderthing span{padding:0 0px 0px 10px;}

#hisgbutton{float:right;padding:0 20px 0 0;}



.newadmin-home{width:1000px;}
.newadmin-home h2{background:#27aaee;color:#fff;padding-left:20px;}
.newadmin-home h3{border-bottom:1px solid #27aaee;}

#newadmin-left{float:left;width:580px;background:#fff;min-height:200px;margin:10px 20px 10px 20px;padding:0 10px 10px 10px;}
.inleft{float:left;width:270px;margin:0 10px 0 0;}
#newadmin-right{float:left;width:320px;background:#fff;min-height:200px;margin:10px 20px 10px 0;padding:0 10px 10px 10px;}



/*  colors  */

/*  #27aaee   this is the blue at the top  */


/*   end   */