.preview-wrap{float:left;width:355px;margin:0 0 0 80px;}
.preview-wrap h2{width:290px;}

.wmd-preview{border:10px solid #D9BC65;width:280px;height:350px;
	background:url(/site_media/images/sections/misc/brick_blank_large.jpg) no-repeat;color:#14436F;}
.wmd-preview h1{font-size:36px;font-family:times;color:#14436f;background:none;}
.wmd-preview h2{font-size:30px;font-family:times;color:#14436f;padding-bottom:15px;background:none;}
.wmd-preview h3{font-size:24px;font-family:times;color:#14436f;padding-bottom:12px;background:none;}
.wmd-preview h4{font-size:18px;font-family:times;color:#14436f;padding-bottom:8px;background:none;}


.brick{text-align:center;font-size:24px;}
.brickhide{visibility:hidden;}
.br_ph_info{font-weight:bold;width:260px;padding:10px 0 0 10px;text-align:center;}
.br_ph_title{font-weight:bold;width:260px;padding:10px 0 0 10px;text-align:center;color:#14436f;}
.br_ph_photo{float:left;width:100px;padding:20px 0 0 22px;}
.br_ph_body{width:238px;padding:10px 0 0 22px;color:#14436f;}