{# templates/training-models/histmodel.html #}
{% extends 'training-models/base.html' %}
{% block subarrive %}3{% endblock subarrive %}
{% load markup %}

{% block brick %}{% include "brick/brick.html" %}{% endblock brick %}

{% block body %}

	<h3>Holistic Integrated Sustainable Transformation</h3>
	<h2>Model</h2>
	<hr />
	<div style="padding:20px 0 0 20px;">
		<object width="520" height="410">
			<param name="movie" value="/site_media/flash/slideshow.swf">
			<param name=FlashVars Value="videoPath=/site_media/flash/pics-hist/&totalPics=43"></param>
			<embed src="/site_media/flash/slideshow.swf" width="520" height="410" FlashVars="videoPath=/site_media/flash/pics-hist/&totalPics=43">
			</embed>
		</object>
	</div><br/><br/><br/>



	<div class="rower">	
		<h4 style="padding:5px 0 0 0;">
			12 Service Categories for Holistic Community Development
		</h4> <br/>	
		<ol class="numvis">
			<li>Agriculture and Animal Husbandry</li>
			<li>Arts, Entertainment and Sports</li>
			<li>Economic Development</li>
			<li>Information / Communications / Technology</li>
			<li>Education</li>
			<li>Family Development / Support</li>
			<li>Government</li>
			<li>Security, Justice, and the Rule of Law</li>
			<li>Health / Hygiene</li>
			<li>Medical</li>
			<li>Infrastructure</li>
			<li>Non-Profit Organizations</li>
		</ol>
	</div>{# end of rower #}

{% endblock %}