{# templates/training-models/idrmodel.html #}
{% extends 'training-models/base.html' %}
{% block subarrive %}4{% endblock subarrive %}

{% block brick %}{% include "brick/brick.html" %}{% endblock brick %}

{% block body %}

	<h3>International Disaster Relief</h3>
	<h2>Model</h2>
	<hr />
	<div style="padding:20px 0 0 20px;">
		<object width="520" height="410">
			<param name="movie" value="/site_media/flash/slideshow.swf">
			<param name=FlashVars Value="videoPath=/site_media/flash/pics-idr-20100212/&totalPics=80"></param>
			<embed src="/site_media/flash/slideshow.swf" width="520" height="410" FlashVars="videoPath=/site_media/flash/pics-idr-20100212/&totalPics=80">
			</embed>
		</object>
	</div>
<br/><br/><br/>


<div class="rower">
	<h4 style="padding:5px 0 0 0;">
		14 Service Categories for Private Sector Disaster Responders
	</h4>	
	<br/>
	<ol class="numvis">
		<li>Water Services</li>
		<li>Food Services</li>
		<li>Shelter Services</li>
		<li>Medical Services</li>
		<li>Individual Assistance Services</li>
		<li>Personal Hygiene Services</li>
		<li>Counseling and Spiritual Support</li>
		<li>Physical Reconstruction Services</li>
		<li>Logistics Management and Services</li>
		<li>IT/Communication</li>
		<li>Special Needs Services</li>
		<li>Donations Management</li>
		<li>Professional Responders</li>
		<li>Transition and Recovery</li>
	</ol>
</div>{# end of rower #}

{% endblock %}