{# templates/training-models/idrmodel.html #}
{% extends 'training-models/base.html' %}
{% block subarrive %}4{% endblock subarrive %}

{% block brick %}{% include "brick/brick.html" %}{% endblock brick %}

{% block body %}

	<h3>International Disaster Relief</h3>
	<h2>Model</h2>
	<hr />
	<p><script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>

	<p><a href='http://hstatic.net/hisg.org/audio/20100528_IDR_Sprenger Interview.mp3'>Click here to listen to Mark Sprenger talk about the IDR Model and the IDRN.</a></p></p><br/>
	<p>
		<img src="http://hstatic.net/hisg.org/images/marksprenger.JPG" class="gold5 right" alt="pic"></img>
		IDR is an acronym for International Disaster Response. This model exists to give responders a strategy for helping the victims of disasters. 
	</p>
	<div class='clearer'></div>
	<br/><br/>
	
	
	
	<div style="padding:20px 0 0 20px;">
		<object width="520" height="410">
			<param name="movie" value="http://hstatic.net/hisg.org/flash/slideshow.swf">
			<param name=FlashVars Value="videoPath=http://hstatic.net/hisg.org/flash/pics-idr-20100302/&totalPics=86"></param>
			<embed src="http://hstatic.net/hisg.org/flash/slideshow.swf" width="520" height="410" FlashVars="videoPath=http://hstatic.net/hisg.org/flash/pics-idr-20100302/&totalPics=86">
			</embed>
		</object>
	</div>
<br/><br/><br/>


<div class="rower">
	<h4 style="padding:5px 0 0 0;">
		14 Service Categories for Private Sector Disaster Responders
	</h4>	
	<br/>
	<ol class="numvis">
		<li>Water Services</li>
		<li>Food Services</li>
		<li>Shelter Services</li>
		<li>Medical Services</li>
		<li>Individual Assistance Services</li>
		<li>Personal Hygiene Services</li>
		<li>Counseling and Spiritual Support</li>
		<li>Physical Reconstruction Services</li>
		<li>Logistics Management and Services</li>
		<li>IT/Communication</li>
		<li>Special Needs Services</li>
		<li>Donations Management</li>
		<li>Professional Responders</li>
		<li>Transition and Recovery</li>
	</ol>
</div>{# end of rower #}

{% endblock %}