{# templates/training-models/signup-pic.html #}
{% extends 'training-models/base.html' %}
{% block subarrive %}1{% endblock subarrive %}
{% block brick %}{% include "brick/brick.html" %}{% endblock brick %}

{% block body %}

	{# <span class="right"> #}
	{# 	{% if user %}<a href="{% url profile user.id %}">{{ user }}</a> | <a href="{% url logout %}">Logout</a>{% endif %} #}
	{# </span><br/><br/> #}
	{# <div id="signup2"> #}
		
		{% if photo %}
			<div class="right" style="width:100px;">
				This photo is already uploaded.<br/>
				Upload a new photo to replace it.<br/>
				<img src="{{ photo.get_thumbvert_url }}"></img>
			</div>
		{% endif %}
		
		<h3>Photo Upload</h3>
		<h4>Please upload a photo to be used.</h4>

		<form enctype="multipart/form-data" action='' method="POST">
			<table>
				<tr><td id="first_col"></td><td id="second_col"><div class="required_circ_h">&#8855; Required Fields</div></td></tr>
				{% for field in form %}
					<tr><td></td><td>{{ field.errors }}</td></tr>
					<tr>
						<td>
							{{ field.label }}
						</td>
						<td>
							{% if field.field.required %} <div class="required_circ"> &#8855;</div>{% endif %}{{ field }}
							<div class="help_text">{{ field.help_text }}</div>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td><td></td>
				</tr>
				<tr>
					<td></td><td><button type="submit">Submit</button></td>
				</tr>
			</table>
		</form><br/><br/>
		<p>We need a forward-facing photo of your head and shoulders, with a plain colored background, to create your IDRN badge. It should be like a passport photo. You will receive the badge after your training is complete.</p>
	</div>
{% endblock %}


