{# templates/training-models/signup.html #}
{% extends 'training-models/base.html' %}
{% block subarrive %}1{% endblock subarrive %}



{% block brick %}{% include "brick/brick.html" %}{% endblock brick %}

{% block body %}

	<span>{% if user %}{{ user }} | <a href="{% url logout %}">Logout</a>{% endif %}</span>
	<div id="signup2">
		<h3>Sign Up to attend {{ event }}</h3>
		<form action='' method="POST">
			<table>
				<tr><td id="first_col"></td><td id="second_col"><div class="required_circ_h">&#8855; Required Fields</div></td></tr>
				{% for field in form %}
					<tr><td></td><td>{{ field.errors }}</td></tr>
					<tr>
						<td>
							{{ field.label }}
						</td>
						<td>
							{% if field.field.required %} <div class="required_circ"> &#8855;</div>{% endif %}{{ field }}
							<div class="help_text">{{ field.help_text }}</div>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td><td></td>
				</tr>
				<tr>
					<td></td><td><button type="submit">Submit</button></td>
				</tr>
			</table>
		</form><br/><br/>
	</div>
{% endblock %}


