<!-- template/news-photos/blog_d.html -->
{% extends "news-photos/base.html" %}
{% block subarrive %}4{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	{% if post %}
		<h2 class="center">{{ post.title }}</h2><hr/>

		<div class="news-detail-photo">
			<div id="mainpic">
				<img class="gold5" src="{{ post.photo.get_display_url }}" />
			</div>
			<div class="caption" style="padding:0 0 15px 0;">
				{{ post.photo.caption }}
			</div>
		</div>{# end of news-detail-photo #}

		<div class="news-detail-country">
			{{ post.department }}, {{ post.publish|date:"M d, Y" }}
		</div><br/>

		<p>{{ post.body|safe }}</p>
		
		<div class="clearer"></div><br/><br/>
		<div class="center"><a href="{% url blog %}">Back to list of posts</a></div>
	{% else %}
		Sorry, There was a problem getting this blog post.
	{% endif %}
{% endblock %}
