<!-- template/news-photos/blog_d.html -->
{% extends "news-photos/base.html" %}
{% block subarrive %}4{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<a href="{% url blog %}"><h2 style="text-align:center;">Blog</h2></a><hr/>
	{% if post %}
		<h3>{{ post.title }}</h3>
		<h4>{{ post.department }}-{{ post.publish|date:"M d, Y" }}</h4>
		<div style="float:right;padding:0 10px 0 0;">
			<img src="{{ post.photo.get_display_url }}" /><br>
		<div class="caption">{{ post.photo.caption }}</div></div>
		<p>{{ post.body|safe }}</p>
	{% else %}
		Sorry, There was a problem getting this blog post.
	{% endif %}
{% endblock %}