<!-- templates/news-photos/blog.html -->
{% extends 'news-photos/base.html' %}
{% block subarrive %}4{% endblock subarrive %}
{% load markup %}
{% load pagination_tags %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}

	<h1 Style="text-align:center;">Blog</h1><hr />
	<ul class="sorter">
		<li>
			{% ifequal sort "date"  %}
				Sort by Date |
			{% else %}
				<a href="{% url blog %}">Sort by Date</a> |
			{% endifequal %}
		</li>
		<li>
			{% ifequal sort "department"  %}
				Sort by Department |
			{% else %}
				<a href="{% url blog_department %}">Sort by Department</a> |
			{% endifequal %}
		</li>
		<li>
			{% ifequal sort "author"  %}
				Sort by Author
			{% else %}
				<a href="{% url blog_author %}">Sort by Author</a>
			{% endifequal %}
		</li>

	</ul>
	<hr />
	{% if post_list %}
		{% autopaginate post_list 5 %}
		{% for post in post_list %}
			<div class="rower2">
				<div class="right">
					<img src="{{ post.photo.get_medium_url }}" />
				</div>
				<h3>
					<a href='{% url blog_detail post.id %}'>
						{{ post.title }}
					</a>
				</h3>
				{{ post.body|truncatewords:30|safe }}<br/>
				<div class="clearer"></div>
					<span style="float:left;width:200px;display:inline;">
						{{ post.publish|date:"M d, Y" }}
					</span>
					<span style="float:left;width:300px;display:inline;">
						Department: {{ post.department }}
					</span>
					<span style="float:left;display:inline;">
						Posted by: {{ post.author }}
					</span>
			</div>
		{% endfor %}
		{% paginate %}
	{% else %}
		<p>No posts.</p>
	{% endif %}

{% endblock %}

