<!-- templates/news-photos/gallery.html -->
{% extends 'news-photos/base.html' %}
{% block subarrive %}2{% endblock subarrive %}
{% load pagination_tags %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}

	<h2 class="center">Photos</h2><hr />
	<ul class="sorter">
		<li>
			{% ifequal sort "date"  %}
				Sort by Date |
			{% else %}
				<a href="{% url gallery %}">Sort by Date</a> |
			{% endifequal %}
		</li>
		<li>
			{% ifequal sort "title"  %}
				Sort by Title
			{% else %}
				<a href="{% url gallery_title %}">Sort by Title</a>
			{% endifequal %}
		</li>

	</ul>
	<hr />
	{% if gallery_list %}
		{% autopaginate gallery_list 4 %}
		{% for gallery in gallery_list %}
			<div class="rowergallery">
				<a href='{% url gallery_detail gallery.id %}'>
					<h4>
							{{ gallery.title }}
					</h4>
					<div>
						{% for photo in gallery.photos.all %}
							{% ifequal forloop.counter 1 %}
								<img class="gold5" src="{{ photo.get_medium_url }}" />
							{% endifequal %}
							{% ifequal forloop.counter 2 %}
								<img class="gold5" src="{{ photo.get_medium_url }}" />
							{% endifequal %}
							{% ifequal forloop.counter 3 %}
								<img class="gold5" src="{{ photo.get_medium_url }}" />
							{% endifequal %}
						{% endfor %}
					</div>
				</a>
				<div class="caption">{{ gallery.description|safe|truncatewords:40 }}</div><br/>
				{# <div class="clearer"></div> #}
					<span style="float:left;width:200px;display:inline;">
						{{ gallery.date_added|date:"M d, Y" }}
					</span>
					<span style="float:left;width:300px;display:inline;">
						Photos: {{ gallery.photos.all|length }}
					</span>
			</div>
		{% endfor %}
		{% paginate %}
	{% else %}
		<p>No Photos.</p>
	{% endif %}

{% endblock %}

