<!-- templates/news-photos/index.html -->
{% extends 'news-photos/base.html' %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
<div class="twoway">
	<div class="fourway">
		<h2>
			<a href="{% url news %}">News</a>
		</h2>{# <hr /> #}
		{% for news in news_list %}
			<div class="rower">
				{% for photo in news.photo.all %}
					{% ifequal forloop.counter 1 %}
						<div class="right">
							<a href="{% url news_detail news.id %}">
								<img class="gold5x" style="margin:0 0 0 3px;" src="{{ photo.get_news_size_url }}"></img>
							</a>
						</div>
					{% endifequal %}
				{% endfor %}
				<a href="{% url news_detail news.id %}">
					<h4>{{ news.name }}</h4>
				</a>
				{{ news.story|safe|truncatewords:16 }}
				<div class="clearer"></div>
				<span class="left"> 
					{{ news.date|date:"M d, Y" }}
				</span>
				<span class="right">
					{% for country in news.country.all %}
						{{ country }},
					{% endfor %}
				</span>
			</div>{# end of rower #}
			<div class="clearer"></div>
		{% endfor %}
	</div>{# end of fourway #}
	
	<div class="fourway">
		<h2>
			<a href="{% url gallery %}">Photos</a>
		</h2>
		{% for gallery in gallery_list %}
			<div class="rower">
				<span class="right">
					{{ gallery.date_added|date:"M d, Y" }}
				</span>
				<a href="{% url gallery_detail gallery.id %}">
					<h4>{{ gallery.title }}</h4>
				</a>
				<div>
					{% for photo in gallery.photos.all %}
						{% ifequal forloop.counter 1 %}
							<img class="gold5" src="{{ photo.get_video_on_index_url }}"></img>
						{% endifequal %}
					{% endfor %}
					{% for photo in gallery.photos.all %}
						{% ifequal forloop.counter 2 %}
							<img class="gold5" src="{{ photo.get_video_on_index_url }}"></img>
						{% endifequal %}
					{% endfor %}
					{% for photo in gallery.photos.all %}
						{% ifequal forloop.counter 3 %}
							<img class="gold5" src="{{ photo.get_video_on_index_url }}"></img>
						{% endifequal %}
					{% endfor %}
				</div>

				{{ gallery.description|safe|truncatewords:13 }}
				<div class="clearer"></div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="clearer"></div>


<div class="twoway">
	<div class="fourway">
		<h2>
			<a href="{% url videos %}">Videos</a>
		</h2>
		{% for video in video_list %}
			<div class="rower">
				<div class="left">
					<a href="{% url videos_detail video.slug %}">
						<img class="gold5x" style="margin:0 4px 3px 0;" src="{{ video.frame.get_news_size_url }}"></img>
					</a>
				</div>
				<a href="{% url videos_detail video.slug %}">
					<h4>{{ video.name }}</h4>
				</a>


				{{ video.caption|safe|truncatewords:13 }}
				<div class="clearer"></div>
			</div>
		{% endfor %}
	</div>
	
	<div class="fourway">
		<h2>
			<a href="{% url blog %}">Blog</a>
		</h2>
		{% for blog in blog_list %}
			<div class="rower">
				<div class="right">
					<a href="{% url blog_detail blog.id %}">
						<img class="gold5x" style="margin:0 0 0 3px;" src="{{ blog.photo.get_news_size_url }}"></img>
					</a>
				</div>
				<a href="{% url blog_detail blog.id %}">
					<h4>{{ blog.title }}</h4>
				</a>
				{{ blog.body|safe|truncatewords:13 }}
				<div class="clearer"></div>
				<span class="left">
					{{ blog.author }}
				</span>
				<span class="left" style="margin-left:80px;">
					{{ blog.department }}
				</span>
				<span class="right">
					{{ blog.publish|date:"M d, Y" }}
				</span>
			</div>{# end of rower #}
			<div class="clearer"></div>
		{% endfor %}
	</div>
</div>

{% endblock %}