<!-- templates/news-photos/videos.html -->
{% extends 'news-photos/base.html' %}
{% block subarrive %}3{% endblock subarrive %}


{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<h2 class="center">Videos</h2> <hr/>
	<div style="margin:0 0 0 10px">
		
		{% if video_list %}
			{% for video in video_list %}
				<div style="display:inline; width:190px;float:left;padding:0 0 20px 0">
					<h3>
						<a href='{% url videos_detail video.slug %}'>
							{{ video.name }}
						</a>
					</h3>
					<a href="{% url videos_detail video.slug %}">
						<img src="{{ video.frame.get_medium_url }}">
					</a><br>
					{{ video.caption|safe }}
				</div>
			{% endfor %}
		{% else %}
			<p>No videos.</p>
		{% endif %}
		
	</div>
{% endblock %}