<!-- templates/news-photos/videos_detail.html -->
{% extends 'news-photos/base.html' %}
{% block subarrive %}3{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<div style="margin:0 0 0 90px">
		{% if video %}
			<div style="display:inline; width:300px;float:left;padding:0 0 20px 0">
				<h2>{{ video.name }}</h2>
				<div>
					<EMBED SRC="/site_media/{{ video.path }}" WIDTH={{ video.width }} HEIGHT = {{ video.height }}
				 		AUTOPLAY=false CONTROLLER=true LOOP=false
				 		PLUGINSPAGE=http://www.apple.com/quicktime/ >
				</div><br><br>
				<div>{{ video.caption|safe }}</div>
			</div>
		{% else %}
			<p>There was a problem with this video.</p>
		{% endif %}
		<div class="clearer"></div>
		<div>
			<a href="{% url videos %}">Back to Videos</a>
		</div>
	</div>
{% endblock %}