{# templates/basehome.html #}
{% extends "base.html" %}
{% load chunks %}


{% block extra_head %}
	<script src="/site_media/js/timer.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key={{ gmapkey }}&sensor=false" type="text/javascript"></script>
	<script type="text/javascript">
		var impactarray = new Array();
		{% for impacter in impacter_list %}
		impact{{ forloop.counter0 }} = new Object;
		impact{{ forloop.counter0 }}.photo = "{{ impacter.photo.get_impacter_url }}";
		impact{{ forloop.counter0 }}.thumbc = "{{ impacter.photo.get_impacterthumb_color_url }}";
		impact{{ forloop.counter0 }}.thumbbw = "{{ impacter.photo.get_impacterthumb_bw_url }}";
		impact{{ forloop.counter0 }}.buttoner = "{{ impacter.button }}";
		impact{{ forloop.counter0 }}.namer = "{{ impacter.name }}";
		impact{{ forloop.counter0 }}.body = "{{ impacter.body }}";
		impact{{ forloop.counter0 }}.link = "{{ impacter.link }}";
		impactarray.push(impact{{ forloop.counter0 }});
		{% endfor %}
		var impacterlength = {{ impacter_list|length }} - 1;
		k = 0;
		function changeimpacter(which){
			$("#irp").attr("src",impactarray[which].photo);
			$("#iln").replaceWith("<a href=\"" + impactarray[which].link + "\" id=\"iln\">" + impactarray[which].namer + "</a>");
			$("#ilb").replaceWith("<a href='" + impactarray[which].link + "' id='ilb'>" + impactarray[which].body + "</a>");
			$('.ilbuts').each(function(i){
				$(this).attr("src",impactarray[i].thumbbw);
			})
			$("#ilbut" + String(which)).attr("src",impactarray[which].thumbc);
			$('#buttoner_link').replaceWith("<a href='" + impactarray[which].link + "' id='buttoner_link'><div id='buttonerh'>" + impactarray[which].buttoner + "</div></a>");
		}
		function impacter(){
			$("#irp").everyTime(5000, function() {
				if(k == impacterlength){k = 0;changeimpacter(k);}
				else{k = ++k;changeimpacter(k);}
			})
		}
		var phrase_list = new Array();
		{% for phrase in phrase_list %}
		phrase_list[{{ forloop.counter0 }}] ="{{ phrase.phrase }}";
		{% endfor %}
		var k1 =0;
		var k2 = {{ phrase_list|length }} - 1;
		function phraser(){
			$("#phrase_top").everyTime(7000, function(){
				$(this).html(phrase_list[k1]);
				$(this).fadeIn(2000);
				$(this).animate({'color':'#783A11'},3000,function(){
					$(this).fadeOut(2000);
				});
				if(k1==phrase_list.length){k1 = 0}else{k1 = ++k1};
			})
		}
		$(document).ready(function(){
			$(".quickhide").css({display:"none"});
			impacter();
			phraser();
			$('.ilbuts').click(function(){
				$("#irp").stopTime();
				which = $(this).attr('id').split('ilbut')[1];
				changeimpacter(which);
			})
			var map;
			function initialize() {
				var mapcenter = new google.maps.LatLng(25.0,0.0);
				var myOptions ={zoom:2,center:mapcenter,mapTypeId:google.maps.MapTypeId.HYBRID,
					mapTypeControl: true,mapTypeControlOptions:{style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},}
				map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
				var gallerypoint = new google.maps.LatLng(27,57);
				var marker = new google.maps.Marker({position:gallerypoint,map:map,title:"helloworld"});
				google.maps.event.addListener(marker, 'click', function(){
					gotogallery('11');
				});
			}
			initialize();
			function gotogallery(url){
				window.location.href = '/projects-and-news/gallery/' + url;
			}
		});
	</script>
{% endblock %}

{% block bodyholder %}bodyhome{% endblock %}

{% block hd %}
	<div id="one">
		{% include 'includes/logquicksearch.html' %}
		<div style='width:120px;height:38px;float:right;margin-top:-6px;padding-right:85px;display:block;'>
			<a href='/about-hisg/10-year-anniversary/'>10 Year <br/>Anniversary</a>
		</div>
	</div>{# end of one #}
	<div id="two">
		<div id="hisg">
			<a href="{% url home %}">
				<img src="/site_media/images/hisg.jpg"></img>
			</a>
		</div>{# end of hisg #}
	</div>{# end of two #}
{% endblock %}


{% block impacter %}
	<div id="impacter">
		<div id="left-impacter">
			<div id="phrase">
				<div id='phrasetopholder'>
					<div id="phrase_top">
						{{ phrase_first }}
					</div>{# end of phrase_top #}&nbsp;
				</div>
				<div id="phrase_bottom">
					<a href="/info/first-time-here/">First time visitor?</a>
				</div>{# end of phrase bottom #}
			</div>{# end of phrase #}
			<div style="font-size:30px;color:#ae5219;padding:0px 0 0 0;">
				<a href="{{ impacter_first.link }}" id="iln">{{ impacter_first.name }}</a>
			</div>
			<div style="font-style:italic;color:#ae5219;padding:10px 0 0 0;height:75px;">
				<a href="{{ impacter_first.link }}" id="ilb">
					{{ impacter_first.body }}
				</a>
			</div>
			<a href="{{ impacter_first.link }}" id="buttoner_link">
				<div id="buttonerh">
					{{ impacter_first.button }}
				</div>
			</a>
			<div id="thumber">
				{% for impacter in impacter_list %}
					{% ifequal forloop.counter0 0 %}
						<img src="{{ impacter.photo.get_impacterthumb_color_url }}"  id="ilbut{{ forloop.counter0 }}" class='ilbuts' style="cursor:pointer;padding:0 6px 0 0;"></img>
					{% else %}
						<img src="{{ impacter.photo.get_impacterthumb_bw_url }}"  id="ilbut{{ forloop.counter0 }}" class='ilbuts' style="cursor:pointer;padding:0 6px 0 0;"></img>
					{% endifequal %}
				{% endfor %}
			</div>
		</div>{# end of left-impacter #}
		<div id="right-impacter">
			<img src="{{ impacter_first.photo.get_impacter_url }}" id="irp" ></img>
		</div>{# end of right-impacter #}
	</div>{# end of impacter #}
	<div class='clearer'></div>
{% endblock %}



{% block basebody %}
	<div class="homer" id="lefthomer">
		<h3><a href="{% url news %}">NEWS UPDATES</a></h3>

		{% for news in news_list %}
			<div class="homenews">
				<div class="date">
					{{ news.date|date:"D. F d, Y. f A" }}
				</div>
				<h4>
					<a style="color:#000;" href="{% url news_detail news.id %}">
						{{ news.name }}
					</a>
				</h4>
				<p>
					{{ news.story|safe|truncatewords:30 }}
					<span class="ican"><a href="{% url news_detail news.id %}">READ MORE</a>.</span>
				</p>
			</div>
		{% endfor %}

	</div>{# end of lefthomer #}

	{# <div class="homer" id="middlehomer"> #}
	{# 	{% chunk "homepage_middle_column" %} #}
	{#  #}
	{# </div>{# end of middlehomer #}
	{#  #}
	{# <div class="homer" id="righthomer"> #}
	{# 	{% chunk "homepage_right_column" %} #}
	{#  #}
	{# </div>{# end of right homer #}
	<div class='homer' id='midrighthomer'>
		<h3>HISG Photo Galleries around the world</h3>
		<div class="office_map" id="map_canvas" style="width: 628px; height: 350px"></div><br/><br/>
		<p>Click one of the red markers to view photos from that locale or click <a href='{% url gallery %}'>here</a> to view all galleries.</p>
	</div>
	<div style="clear:both"></div>
{% endblock %}




					

