{# templates/basehome.html #}
{% extends "base.html" %}
{% load chunks %}


{% block extra_head %}
	<script src="/site_media/js/timer.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var photo = new Array();
		var impacterthumb_color = new Array();
		var impacterthumb_bw = new Array();
		var buttoner = new Array();
		var namer = new Array();
		var body = new Array();
		var link = new Array();
		{% for impacter in impacter_list %}
		photo[{{ forloop.counter0 }}] ="{{ impacter.photo.get_impacter_url }}";
		impacterthumb_color[{{ forloop.counter0 }}] ="{{ impacter.photo.get_impacterthumb_color_url }}";
		impacterthumb_bw[{{ forloop.counter0 }}] ="{{ impacter.photo.get_impacterthumb_bw_url }}";
		buttoner[{{ forloop.counter0 }}] ="{{ impacter.button }}";
		namer[{{ forloop.counter0 }}] = "{{ impacter.name }}";
		body[{{ forloop.counter0 }}] = "{{ impacter.body }}";
		link[{{ forloop.counter0 }}] = "{{ impacter.link }}";
		{% endfor %}
		var impacterlength = {{ impacter_list|length }} - 1;
		$z = 0;
		k = 0;
		function impacter(){
			$(document).ready(function(){
				$("#irp").everyTime(5000, function() {
					if ( k == impacterlength ){
						$(this).attr("src",photo[0]);
						$("#iln").replaceWith("<a href=\"" + link[0] + "\" id=\"iln\">" + namer[0] + "</a>");
						$("#ilb").replaceWith("<a href='" + link[0] + "' id='ilb'>" + body[0] + "</a>");
						j = "#ilbut" + String(k);
						$("#ilbut0").attr("src",impacterthumb_color[0]);
						l = "#ilbut" + String(k);
						$(l).attr("src",impacterthumb_bw[k]);
						$('#buttoner_link').replaceWith("<a href='" + link[0] + "' id='buttoner_link'><div id='buttonerh'>" + buttoner[0] + "</div></a>");

						k = 0;
					}
					else{
						k = ++k;
						$(this).attr("src",photo[k]);
						$("#iln").replaceWith("<a href=\"" + link[k] + "\" id=\"iln\">" + namer[k] + "</a>");
						$("#ilb").replaceWith("<a href=\"" + link[k] + "\" id=\"ilb\">" + body[k] + "</a>");
						j = "#ilbut" + String(k);
						$(j).attr("src",impacterthumb_color[k]);
						l = "#ilbut" + String(k - 1);
						$(l).attr("src",impacterthumb_bw[k - 1]);
						$('#buttoner_link').replaceWith("<a href='" + link[k] + "' id='buttoner_link'><div id='buttonerh'>" + buttoner[k] + "</div></a>");
					}
				})
			})
		}

		function impactersetup(){
			$(document).ready(function (){
				$("#ilbut0").attr("src",impacterthumb_color[0]);
				$(".quickhide").css({display:"none"});
			})
		}

		function gotoandstop(impacter){
			$(document).ready(function (){
				$("#irp").stopTime();
				$("#irp").attr("src",photo[impacter]);
				$("#iln").replaceWith("<a href=\"" + link[impacter] + "\" id=\"iln\">" + namer[impacter] + "</a>");
				$("#ilb").replaceWith("<a href=\"" + link[impacter] + "\" id=\"ilb\">" + body[impacter] + "</a>");
				$('#buttoner_link').replaceWith("<a href='" + link[impacter] + "' id='buttoner_link'><div id='buttonerh'>" + buttoner[impacter] + "</div></a>");
				for (b = 0; b<= impacterlength; b = ++b){
					l = "#ilbut" + String(b);
					$(l).attr("src",impacterthumb_bw[b]);
				}
				j = "#ilbut" + String(impacter);
				$(j).attr("src",impacterthumb_color[impacter]);
			})
		}

		function timest(){
			$(document).ready(function(){
				$("#ai").click( function(){
					$(this).css({backgroundImage: "url(/site_media/images/impact_b_dark.jpg)", color: "#F00"});
				})
			})
		}
		var phrase_list = new Array();
		{% for phrase in phrase_list %}
		phrase_list[{{ forloop.counter0 }}] ="{{ phrase.phrase }}";
		{% endfor %}
		var k1 =0;
		var k2 = {{ phrase_list|length }} - 1;
		function phraser(){
			$(document).ready(function() {
				// this first part fades out the initial after 11 seconds - it only does this once
				$("#phrase_top").oneTime(11000, function(){
					$(this).fadeOut(1000);
				})
				// this second part sets up a timer that sets up a recuring timer every 12 seconds and fades out the old one and fades in a new one
				$("#phrase_top").everyTime(12000, function() {
					if (k1 == k2){
						$(this).html(phrase_list[0]);
						$(this).fadeIn(1000);
						k1 = 0;
					}
					else {
						k1 = ++k1;
						$(this).html(phrase_list[k1]);
						$(this).fadeIn(1000);
					}
					$(this).oneTime(11000, function(){
						$(this).fadeOut(1000);
					})
				})
			})
		}
		impactersetup();
		impacter();
	</script>
	<script src="http://maps.googleapis.com/maps/api/js?key={{ gmapkey }}&sensor=false" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var galleryarray = new Array();
			{% for gallery in gal %}
			var gallery{{ forloop.counter }} = new Array();
			gallery{{ forloop.counter }}.push("{{ gallery.title }}");
			gallery{{ forloop.counter }}.push("{{ gallery.photolist.0.lat }}");
			gallery{{ forloop.counter }}.push("{{ gallery.photolist.0.lng }}");
			galleryarray.push(gallery{{ forloop.counter }});
			{% endfor %}
			var map;
			function initialize() {
				var mapcenter = new google.maps.LatLng(25.0,0.0);
				var myOptions = {
					zoom:2,
					center:mapcenter,
					mapTypeId:google.maps.MapTypeId.HYBRID,
					mapTypeControl: true,
					mapTypeControlOptions:{
						style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
					},}
				map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);

				{% for gallery in gal %}
				var gallerypoint{{ forloop.counter }} = new google.maps.LatLng({{ gallery.photolist.0.lat }},{{ gallery.photolist.0.lng }});
				var marker{{ forloop.counter }} = new google.maps.Marker({position:gallerypoint{{ forloop.counter }},map:map,title:"{{ gallery.title }}"});
				google.maps.event.addListener(marker{{ forloop.counter }}, 'click', function(){
					gotogallery({{ gallery.id }});
				});
				{% endfor %}
			}
			initialize();
			function gotogallery(url){
				window.location.href = '/projects-and-news/gallery/' + url;
			}
		});
	</script>
{% endblock %}

{% block bodyholder %}bodyhome{% endblock %}

{% block hd %}
	<div id="one">
		{% include 'includes/logquicksearch.html' %}
		<div style='width:120px;height:38px;float:right;margin-top:-6px;padding-right:85px;display:block;'>
			<a href='/about-hisg/10-year-anniversary/'>10 Year <br/>Anniversary</a>
		</div>
	</div>{# end of one #}
	<div id="two">
		<div id="hisg">
			<a href="{% url home %}">
				<img src="/site_media/images/hisg.jpg"></img>
			</a>
		</div>{# end of hisg #}
	</div>{# end of two #}
{% endblock %}


{% block impacter %}
	<div id="impacter">
		<div id="left-impacter">
			<div id="phrase">
				<div id="phrase_top">
					{{ phrase_first }}
				</div>{# end of phrase_top #}
				<div id="phrase_bottom">
					<a href="/info/first-time-here/">First time visitor?</a>
				</div>{# end of phrase bottom #}
			</div>{# end of phrase #}
			<div style="font-size:30px;color:#ae5219;padding:0px 0 0 0;">
				<a href="{{ impacter_first.link }}" id="iln">{{ impacter_first.name }}</a>
			</div>
			<div style="font-style:italic;color:#ae5219;padding:10px 0 0 0;height:75px;">
				<a href="{{ impacter_first.link }}" id="ilb">
					{{ impacter_first.body }}
				</a>
			</div>
			<a href="{{ impacter_first.link }}" id="buttoner_link">
				<div id="buttonerh">
					{{ impacter_first.button }}
				</div>
			</a>
			<div id="thumber">
				{% for impacter in impacter_list %}
					<img src="{{ impacter.photo.get_impacterthumb_bw_url }}"  id="ilbut{{ forloop.counter0 }}"  style="cursor:pointer;padding:0 6px 0 0;" onclick="gotoandstop({{ forloop.counter0 }});">
					</img>
				{% endfor %}
			</div>
		</div>{# end of left-impacter #}
		<div id="right-impacter">
			<img src="{{ impacter_first.photo.get_impacter_url }}" id="irp" ></img>
		</div>{# end of right-impacter #}
	</div>{# end of impacter #}
	<div class='clearer'></div>
{% endblock %}



{% block basebody %}
	<div class="homer" id="lefthomer">
		<h3><a href="{% url news %}">NEWS UPDATES</a></h3>

		{% for news in news_list %}
			<div class="homenews">
				<div class="date">
					{{ news.date|date:"D. F d, Y. f A" }}
				</div>
				<h4>
					<a style="color:#000;" href="{% url news_detail news.id %}">
						{{ news.name }}
					</a>
				</h4>
				<p>
					{{ news.story|safe|truncatewords:30 }}
					<span class="ican"><a href="{% url news_detail news.id %}">READ MORE</a>.</span>
				</p>
			</div>
		{% endfor %}

	</div>{# end of lefthomer #}

	{# <div class="homer" id="middlehomer"> #}
	{# 	{% chunk "homepage_middle_column" %} #}
	{#  #}
	{# </div>{# end of middlehomer #}
	{#  #}
	{# <div class="homer" id="righthomer"> #}
	{# 	{% chunk "homepage_right_column" %} #}
	{#  #}
	{# </div>{# end of right homer #}
	<div class='homer' id='midrighthomer'>
		<h3>HISG Photo Galleries around the world</h3>
		<div class="office_map" id="map_canvas" style="width: 628px; height: 350px"></div><br/><br/>
		<p>Click one of the red markers to view photos from that locale or click <a href='{% url gallery %}'>here</a> to view all galleries.</p>
	</div>
	<div style="clear:both"></div>
{% endblock %}




					

