{# templates/featured/darfur.html #}
{# darfur homepage #}

{% extends 'featured/darfur/base.html' %}
{% block subarrive %}4{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<div class="right">
		<img src="/site_media/images/sections/featured/darfur/map.jpg" style="padding:0 0 10px 20px;"></img>
	</div>
	<h2>Darfur Initiative</h2>
	<p>
		HISG has been supporting humanitarian work in Darfur, Sudan since 2006. The conflict in Sudan has displaced approximately 2.4 million people since 2003, and the majority of those Internally Displaced Persons (IDPs) are entirely dependent on outside aid for their survival. The situation in Darfur is extremely precarious, with seemingly non-stop armed clashes causing massive population displacements, several restrictions on humanitarian access, increased unrest and violence inside the IDP camps, and a high incidence of targeted attacks against humanitarian workers and their assets. The conflict continues to significantly impact local economies, commerce, and basic human needs in the conflict areas.
	</p><br/>
	<img src="/site_media/images/sections/initiatives/darfur_map.jpg"></img>
	<p>
		HISG is committed to helping the people in Sudan. Members of HISG's staff have spent most of the last eight months in Feina and Nyala, Darfur, providing short term relief and looking for long term solutions. Based on extensive research in the area and strong relationships with the people, we are recommending seven new community development initiatives directed at improving the quality of life for Sudan's massive IDP population. These projects have been carefully selected and designed to fill critical service gaps, become self-sustaining in the shortest time possible, involve local communities at every step, and move Darfur toward holistic societal transformation.
	</p>

{% endblock body %}