{# templates/featured/darfur-sna.html #}
{# darfur Academic Special Needs Assistance #}

{% extends 'featured/darfur/base.html' %}
{% block subarrive %}4{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<h2>Academic Special Needs Assistance</h2>
	<div class="right">
		<img src="/site_media/images/sections/featured/darfur/sna.jpg" style="padding:0 0 10px 20px;">
		</img>
 		<p style="padding:0 0 0 20px;">HISG Sudan Director Susan Copenhaver
		with the girl <br/> who needs the hearing aid</p>
	</div>
	<p>
		HISG's mission is to help communities become more self-sufficient and less reliant on outside aid, but HISG also recognizes individual needs and we try to meet those needs when it is possible to do so. A family in Nyala has approached HISG staff requesting a hearing aid for their daughter. This girl is 17 years old, has graduated high school and has earned an academic scholarship to a university, but suffers from deteriorating hearing loss. The university will not let her enroll until she gets a hearing aid. This family is very poor, and with three other children, cannot afford this device. HISG is trying to raise $2,000 to buy a hearing aid for the girl so that she can pursue her dream of higher education. If you would like to help this family, please <a href="{% url donation %}">click here</a> to donate.
	</p>
	    


{% endblock body %}