{# templates/featured/darfur-jst.html #}
{# darfur Job Skills Training #}

{% extends 'featured/darfur/base.html' %}
{% block subarrive %}4{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<h2>Job Skills Training, Feina</h2>

	<p>
		HISG is currently looking for a way to expand the operations and capabilities of the Child and Adult Education Center in Feina, Darfur. This facility was built to improve education and literacy programs in the community but ceased operations in September, 2007. Since then, teachers have volunteered their time and energy to keep the classes operating without any funding or support. The classes are flourishing, with about 200 students learning Arabic reading and writing, basic mathematics, and writing and speaking English. Classes are offered from 3 p.m. to 7 p.m. six days a week. Most of the children come from families too poor to afford state-sponsored schools, while the adults are from an increasing amount of people pursuing an education in hopes of a better life.
	</p><br/>
	<div class="right">
		<img src="/site_media/images/sections/featured/darfur/jst1.jpg" style="padding:0 0 10px 20px;">
		</img>
	</div>
	<p>
		The fact that people in the community are seeing value in education, and that the classes are available to men and women without discrimination are both great achievements in this culture. In addition, the community has a strong desire to learn trade skills like carpentry, sewing, construction and cooking. The lack of financial support, however, is hurting the center and it is only a matter of time before the facility closes its doors.
	</p><br/>

	<p>
		HISG is partnering with a number of other aid organizations, government and international agencies, and the community of Feina to provide supplies, textbooks, furniture, and a paid and qualified staff for the education center. The total amount of funding needed to operate the center for a year is only US$ 27,444. This is a project that will provide educational opportunities to the large IDP population in Feina and benefit the entire community. Please contact us or donate to HISG if you would like to partner with us on this program.
	</p><br/>

	<h2>Job Skills Training, Nyala</h2>
	<div class="left">
		<img src="/site_media/images/sections/featured/darfur/jst2.jpg" style="padding:0 0 10px 0px;" height>
		</img>
 		<p style="padding:0 0 0 20px;">Machining tools in the Nyala training center</p>
	</div>
	<div class="left">
		<img src="/site_media/images/sections/featured/darfur/jst3.jpg" style="padding:0 0 10px 20px;">
		</img>
 		<p style="padding:0 0 0 50px;">Carpentry tools at the Nyala facility</p>
	</div>
	<div class="clearer"></div><br/>

	<p>
		HISG is also inquiring about a vocational education center in Nyala that was abadoned by its founding organization in 2005. The center has an impressive collection of quality industrial tools. This project is still in the development phase, because HISG still needs to document the reasons the center was originally shut down, as well as assess the cost of opening and operating the facility. While these are some significant variables, the center has resources for training in carpentry, automotive mechanics and electrical systems, general electricial, machine shop, sewing, and small business accounting and administration. The potential for this project is undeniable, and more information is coming soon.
	</p>

{% endblock body %}