{# templates/featured/darfur-aea.html #}
{# darfur Academic Education Assistance #}
{% extends 'featured/base.html' %}
{% block subarrive %}4{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
<a href="{% url darfur %}"><h1>Darfur Initiative</h1></a>
	<div class="inpagenav">
		<ul >
			<li><a href="{% url darfur_aea %}">Academic Education Assistance</a></li>
			<li><a href="{% url darfur_sna %}">Academic Special Needs Assistance</a></li>
			<li><a href="{% url darfur_orphan %}">Care for Orphans and Vulnerable Children</a></li>
			<li><a href="{% url darfur_caa %}">Civil Administration Assistance</a></li>
			<li><a href="{% url darfur_health %}">Health Education</a></li>
			<li><a href="{% url darfur_jst %}">Job Skills Training</a></li>
			<li><a href="{% url darfur_wms %}">Water Management and Sanitation</a></li>
		</ul>
	</div>
	<p>HISG has been supporting humanitarian work in Darfur, Sudan since 2006. The conflict in Sudan has displaced approximately 2.4 million people since 2003, and the majority of those Internally Displaced Persons (IDPs) are entirely dependent on outside aid for their survival. The situation in Darfur is extremely precarious, with seemingly non-stop armed clashes causing massive population displacements, several restrictions on humanitarian access, increased unrest and violence inside the IDP camps, and a high incidence of targeted attacks against humanitarian workers and their assets. The conflict continues to significantly impact local economies, commerce, and basic human needs in the conflict areas.</p><br/>
	
		<img src="/site_media/images/sections/initiatives/darfur_map.jpg"></img>

	<p>HISG is committed to helping the people in Sudan. Members of HISG's staff have spent most of the last eight months in Feina and Nyala, Darfur, providing short term relief and looking for long term solutions. Based on extensive research in the area and strong relationships with the people, we are recommending seven new community development initiatives directed at improving the quality of life for Sudan's massive IDP population. These projects have been carefully selected and designed to fill critical service gaps, become self-sustaining in the shortest time possible, involve local communities at every step, and move Darfur toward holistic societal transformation.</p>
	
	



	<h2>Academic Education Assistance</h2>

	HISG Staff recently toured a secondary school for girls in one of the poorest communities of Nyala, Darfur. HISG was invited to the school by the Assistant Deputy Director for the Ministry of South Darfur Humanitarian Affairs. Approximately 400 girls attend this school, and most of them cannot afford to buy textbooks, so they go without. Many of the students also share a worn out or even broken chair and makeshift desk with at least one other student.

	Girls sharing desks in a crowded school room 	Students in the school

	HISG is hoping to provide US$ 6,000 of textbooks, classroom tables and chairs for this school in Nyala. The girls in this school are disciplined and eager to learn, and the faculty are motivated to teach, even with such meager resources. This project will communicate a sincere respect for education and gender equality in Darfur. Please click here to donate to this project.
	Academic Special Needs Assistance

	HISG's mission is to help communities become more self-sufficient and less reliant on outside aid, but HISG also recognizes individual needs and we try to meet those needs when it is possible to do so. A family in Nyala has approached HISG staff requesting a hearing aid for their daughter. This girl is 17 years old, has graduated high school and has earned an academic scholarship to a university, but suffers from deteriorating hearing loss. The university will not let her enroll until she gets a hearing aid. This family is very poor, and with three other children, cannot afford this device. HISG is trying to raise $2,000 to buy a hearing aid for the girl so that she can pursue her dream of higher education. If you would like to help this family, please click here to donate.
	HISG Sudan Director Susan Copenhaver
	with the girl who needs the hearing aid    

		Back to Top

	Care for Orphans and Vulnerable Children

	"They were in school when the rebels came with guns and began shooting. They ran. They ran for their lives. They ran for their futures. They ran in fear and dread. They ran with holes in their shoes and ragged clothes a year ago and still wear them to work today. They ran to this place, Feina, and then they stopped running. They are exploited. They earn an average of less than $1.00 a day working in the market. They ran from their education and from their families to survive the bullets that flew through the air. They ran to this future... one of no education, no money, exploitation, no family, and themselves as friends. They ran for a future and received the present... sleeping huddled together on the dirt ground with no blankets to cover them in the cold season. Is hope on the horizon? Will a new faith be planted and will rays of kindness and generosity sprout a future back into their lives?"

	The quote above describes the plight of the "street boys" of Feina, Darfur. The street boys are children under age 17 who fled to Feina once the fighting broke out. All of them are homeless. Some are orphans. Some have no idea if the rest of their family survived, and if they survived, to which camp they fled. They are bright young men, some of the hardest workers in Feina, but their situation is dire. HISG is proposing a home for these boys, where their most basic needs of food, clothing, safety and shelter will finally be met.

	HISG is working with another organization to implement this project, because these boys have nowhere else to go. A UNICEF worker put it this way: "the impact of violence, disease, malnutrition and dependency is leaving a mark on this generation of children, weakening their capacity and trapping them in the cycle of poverty." HISG, in its mission to care for the least cared-for portions of society, wants to help these children break out of this "cycle of poverty" and reach their potential. This is an incredible opportunity to impact an entire generation and an entire culture. Constructing and operating the home for one year will cost US$ 84,000, but will dramatically change the lives of these children. Please consider a donation to HISG for this project.
	The life of a street boy in Feina
	Name/Age: Adam Mohammed Khamis, 16 years old 	
	Residency before Feina: Tangal (near Jawa), Darfur
	Family Background: Adam's father was on his way to Nyala when the Janjaweed (militia) attacked and killed him. Adam's mother lives in Tangal but is too weak to work. He has six brothers and sisters.
	Reason for living in Feina: Adam came to Feina to work. He gives the money he earns to his mother to help feed the rest of his family. He has been in Feina for three months.
	Education: Adam has never been in school but wants to attend.
	Employment and Financial Situation: Adam works for the baker in the market. His role is to sell cooked bread to surrounding areas outside of the market.
	Hobbies/Likes: Adam enjoys listening to stories and playing soccer. His favorite food is meat kabob.
	Notes: Adam sleeps on the dirt ground in the market. He wakes up at 5:00 a.m. every morning to begin work. He wears torn and dirty clothes. He has no blanket during the cold season. He has not physically seen the violence of the Janjaweed but knows many people affected by their brutality, including his own family after the murder of his father.
	Click here to read more about the street boys

		Back to Top

	Civil Administration Assistance

	At the personal request of the Sultan of Jebel Marra, Sulyman Azabella Sulyman Azabella, HISG is working on providing the town of Feina, Darfur with an administrative office for the local officials. Currently, the Sultan hosts guests and conducts civic affairs in a wood building with a dirt floor and no furniture. The Sultan, his advisors, and any guests must sit in the dirt or on sacks of grain. With the deployment of UN Peacekeeping Forces to the region, the Sultan frequently meets with high-level UN officials, and he feels that his lack of a proper meeting place demeans his stature and influence.

	A meeting with the Sultan          

	The Sultan is the central figure in local community development initiatives. He ensures NGO safety in the area, and is a visionary in his requests for aid. He always places the welfare of the people above personal gain. Even his request for a building is a modest one: stone on the exterior, plaster on the interior and a tin roof.

	This project will use land donated by the commmunity, local stone and local workers to minimize cost. In addition to providing a suitable meeting place for dignitaries, this building will also give the local government a permanent facility; give the community of Feina a place to meet with their leadership; and provide a designated location for civil documents such as land deeds, petitions, birth, marriage, and death certificates, and judicial records. Feina's community leaders have donated the land and most of the materials, and will provide the labor. HISG is seeking US$ 2,500 for the roof, office furniture, and a floor. If you would like to help HISG and the community of Feina with this project, please click here .

	Sultan Sulyman
	Azabella Sulyman Azabella

		Back to Top

	Public Health Education

	This project is to establish and train teams of volunteers from a local university that can conduct HIV/AIDS Awareness workshops in the city of Nyala. The volunteers will receive training, curriculum support, and teaching aids from HIV/AIDS experts and then train local communities in HIV/AIDS prevention and awareness.

	Some alarming statistics:

	    * 68% of AIDS cases worldwide are in sub-Saharan Africa
	    * 76% of all AIDS deaths in 2007 occurred in sub-Saharan Africa
	    * 30,000 Sudanese children and 320,000 adults are already infected with AIDS 

	A family in Nyala

	Research from 2006 indicates that there is virtually no precautionary education among the most at-risk populations of Sudan. Scientifically acurate, culturally appropriate, proactive education is widely recognized as the most effective way to stop the spread of the AIDS virus. It is critical that we take steps to ensure that refugees and IDPs -particularly children and young adults- have access to the knowledge and precautions essential for the prevention of HIV. This is especially critical to slow the spread of AIDS in local communities impacted by the influx of IDPs.

	HISG will be partnering with several other organizations in the area, along with UN agencies that specialize in HIV/AIDS to provide instructional materials, AIDS prevention expertise, and project effectiveness oversight. Please consider partnering with HISG on this project that provides hope for a suffering population. To donate, please click here.

		Back to Top

	Job Skills Training, Feina

	HISG is currently looking for a way to expand the operations and capabilities of the Child and Adult Education Center in Feina, Darfur. This facility was built to improve education and literacy programs in the community but ceased operations in September, 2007. Since then, teachers have volunteered their time and energy to keep the classes operating without any funding or support. The classes are flourishing, with about 200 students learning Arabic reading and writing, basic mathematics, and writing and speaking English. Classes are offered from 3 p.m. to 7 p.m. six days a week. Most of the children come from families too poor to afford state-sponsored schools, while the adults are from an increasing amount of people pursuing an education in hopes of a better life.

	The fact that people in the community are seeing value in education, and that the classes are available to men and women without discrimination are both great achievements in this culture. In addition, the community has a strong desire to learn trade skills like carpentry, sewing, construction and cooking. The lack of financial support, however, is hurting the center and it is only a matter of time before the facility closes its doors.

	HISG is partnering with a number of other aid organizations, government and international agencies, and the community of Feina to provide supplies, textbooks, furniture, and a paid and qualified staff for the education center. The total amount of funding needed to operate the center for a year is only US$ 27,444. This is a project that will provide educational opportunities to the large IDP population in Feina and benefit the entire community. Please contact us or donate to HISG if you would like to partner with us on this program.

	Job Skills Training, Nyala

	Machining tools in the Nyala training center 	Carpentry tools at the Nyala facility

	HISG is also inquiring about a vocational education center in Nyala that was abadoned by its founding organization in 2005. The center has an impressive collection of quality industrial tools. This project is still in the development phase, because HISG still needs to document the reasons the center was originally shut down, as well as assess the cost of opening and operating the facility. While these are some significant variables, the center has resources for training in carpentry, automotive mechanics and electrical systems, general electricial, machine shop, sewing, and small business accounting and administration. The potential for this project is undeniable, and more information is coming soon.

		Back to Top

	Water Management and Sanitation

	As a result of the conflict in the region, Darfur has unprecedented population numbers, imposing impossibly high demands on water resources. Unfortunately, Darfur is an area where the rain falls in only four months of the year and the prevailing geology is unfavorable for storing groundwater. While there are some areas rich in groundwater such as the wadis or a few sandstone areas, these are quite rare, and of little benefit for populations that are unable to travel to these sources without fear of attack.

	As a result, people in Darfur, as in much of the world, are struggling to find adequate, safe drinking water. Poor public sanitation and water-borne diseases limit life expectancy and productivity. It has been estimated that unsafe drinking water is responsible for 80% of sickness around the world.


	HISG is working on placing eight Mobile Max Pure® in IDP camps in Darfur. These high-tech, low- maintenance solar powered units can provide 30,000 gallons of purified water per day, are easy to install and simple to maintain. The Mobile Max Pure® units provide an effective and essential solution to the water need in the area. Access to clean water for health and hygiene will benefit everyone in the community, especially the elderly and children who cannot travel long distances to find water. HISG has arranged for eight of these systems to be donated to the people of Darfur, but we need help shipping them from the United States. If you would like to contribute to the cost of shipping and installing the systems, please click here.
{% endblock body %}