{# templates/featured/darfur-aea.html #}
{# darfur Academic Education Assistance #}

{% extends 'featured/darfur/base.html' %}
{% block subarrive %}4{% endblock subarrive %}

{% block brick %}
	{% include "brick.html" %}
{% endblock brick %}

{% block body %}
	<h2>Academic Education Assistance</h2>
	<div class="right">
		<img src="/site_media/images/sections/featured/darfur/aea1.jpg" style="padding:0 0 10px 20px;">
		</img><br/>
		<span class="caption" style="padding:0 0 0 20px;">Girls sharing desks in a crowded school room</span>
	</div>
	<p>
		HISG Staff recently toured a secondary school for girls in one of the poorest communities of Nyala, 
		Darfur. HISG was invited to the school by the Assistant Deputy Director for the Ministry of South 
		Darfur Humanitarian Affairs. Approximately 400 girls attend this school, and most of them cannot 
		afford to buy textbooks, so they go without. Many of the students also share a worn out or even broken 
		chair and makeshift desk with at least one other student.
	</p><br/>

	<p>
		HISG is hoping to provide US$ 6,000 of textbooks, classroom tables and chairs for this school in 
		Nyala. The girls in this school are disciplined and eager to learn, and the faculty are motivated 
		to teach, even with such meager resources. This project will communicate a sincere respect for 
		education and gender equality in Darfur. Please click here to donate to this project.
	</p><br/>
	<div>
		<img src="/site_media/images/sections/featured/darfur/aea2.jpg" style="padding:0 0 10px 0px;">
		</img>
 		<div class="caption">Students in the school</div>
	</div>
	
	
{% endblock body %}