{# templates/featured/darfur-caa.html #}
{# darfur Civil Administration Assistance #}

{% extends 'featured/darfur/base.html' %}
{% block subarrive %}4{% endblock subarrive %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<h2>Civil Administration Assistance</h2>
	<div class="right">
		<img src="/site_media/images/sections/featured/darfur/caa1.jpg" style="padding:0 0 10px 20px;">
		</img>
 		<p style="padding:0 0 0 20px;">A meeting with the Sultan</p>
	</div>
	<p>
		At the personal request of the Sultan of Jebel Marra, Sulyman Azabella Sulyman Azabella, HISG 
		s working on providing the town of Feina, Darfur with an administrative office for the local 
		officials. Currently, the Sultan hosts guests and conducts civic affairs in a wood building 
		with a dirt floor and no furniture. The Sultan, his advisors, and any guests must sit in the 
		dirt or on sacks of grain. With the deployment of UN Peacekeeping Forces to the region, the 
		Sultan frequently meets with high-level UN officials, and he feels that his lack of a proper 
		meeting place demeans his stature and influence.
	</p><br/>
          
	<div class="left">
		<img src="/site_media/images/sections/featured/darfur/caa2.jpg" style="padding:0 20px 10px 0px;">
		</img>
 		<p style="padding:0 0 0 0px;">Sultan Sulyman<br/>Azabella Sulyman Azabella</p>
	</div>
	<p>
		The Sultan is the central figure in local community development initiatives. He ensures NGO 
		safety in the area, and is a visionary in his requests for aid. He always places the welfare 
		of the people above personal gain. Even his request for a building is a modest one: stone on 
		the exterior, plaster on the interior and a tin roof.
	</p><br/>

	<p>
		This project will use land donated by the commmunity, local stone and local workers to minimize 
		cost. In addition to providing a suitable meeting place for dignitaries, this building will
		 also give the local government a permanent facility; give the community of Feina a place 
		to meet with their leadership; and provide a designated location for civil documents such 
		as land deeds, petitions, birth, marriage, and death certificates, and judicial records. 
		Feina's community leaders have donated the land and most of the materials, and will provide 
		the labor. HISG is seeking US$ 2,500 for the roof, office furniture, and a floor. If you would 
		like to help HISG and the community of Feina with this project, please 
		<a href="{% url donation %}">click here</a>.
	</p><br/>
{% endblock body %}