{# template/misc/faqs.html #}
{% extends "misc/base.html" %}

{% load i18n %}

{% block head_title %}{% endblock %}

{% block brick1 %}
	<a href="{{ brickgroup.brick1.link }}"><div class="brickpic"><img src="{{ brickgroup.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick1.link }}"><div class="brick">{{ brickgroup.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ brickgroup.brick2.link }}"><div class="brickpic"><img src="{{ brickgroup.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick2.link }}"><div class="brick">{{ brickgroup.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ brickgroup.brick3.link }}"><div class="brickpic"><img src="{{ brickgroup.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick3.link }}"><div class="brick">{{ brickgroup.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ brickgroup.brick4.link }}"><div class="brickpic"><img src="{{ brickgroup.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ brickgroup.brick4.link }}"><div class="brick">{{ brickgroup.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<h2 style="text-align:center;">
		Frequently Asked Questions
	</h2><hr/>
	{% for question in faqs_list %}
		<a href="{% url faqs_detail question.id %}">
			<div style="border:1px solid #d9bc65;padding:10px;margin:0 0 30px 0;">
				<h3>{{ question.question|safe }}</h3>
				 {{ question.answer|safe|truncatewords:30 }}
			</div>
		</a>
	{% endfor %}

{% endblock %}
