{# templates/homepage/sitemap.html #}

{% extends "misc/base.html" %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
	<h2 class="center">Site-Map</h2><hr/>
	<div class="sitemap">
		<p style="top:15px;left:228px;font-size:12px;"><a href="/initiatives/orphan-care/">Orphan<br/>Care</a></p>
		<p style="top:-15px;left:328px;font-size:12px;"><a href="/initiatives/darfur-initiative/">Darfur<br/>Initiative</a></p>
		<p style="top:6px;left:158px;font-size:12px;"><a href="/initiatives/lets-save-one/">Let's Save<br/>One</a></p>
		<p style="top:-24px;left:385px;font-size:10px;line-height:9px;"><a href="/initiatives/gic/">Global<br/>Information<br/>Center</a></p>
		<p style="top:6px;left:124px;font-size:10px;line-height:9px;"><a href="/initiatives/starfish/">Starfish<br/>Community<br/>Portal</a></p>
		<p style="top:-22px;left:426px;font-size:10px;line-height:9px;"><a href="/initiatives/hrn/">Hope<br/>Resource<br/>Network</a></p>		
		<p style="top:-10px;left:260px;font-size:16px;"><a href="/initiatives/">Featured<br/>Initiatives</a></p>
		
		<p style="top:17px;left:148px;font-size:12px;"><a href="{% url blog %}">Blog</a></p>
		<p style="top:7px;left:415px;font-size:12px;"><a href="{% url project %}">Projects</a></p>
		<p style="top:5px;left:42px;font-size:12px;"><a href="{% url videos %}">Videos</a></p>
		<p style="top:-5px;left:505px;font-size:12px;"><a href="{% url histmodel %}">HIST Model</a></p>
		<p style="top:27px;left:18px;font-size:12px;"><a href="{% url gallery %}">Photos</a></p>
		<p style="top:17px;left:530px;font-size:12px;"><a href="{% url idrmodel %}">IDR Model</a></p>		
		<p style="top:2px;left:147px;font-size:16px;"><a href="{% url newsphotos %}">News &amp;<br/>Photos</a></p>
		<p style="top:-37px;left:378px;font-size:16px;"><a href="{% url projectsmodels %}">Projects &amp;<br/>Models</a></p>
		<p style="top:-27px;left:45px;font-size:12px;"><a href="{% url news %}">News</a></p>
		<p style="top:-45px;left:509px;font-size:12px;"><a href="{% url capability %}">Capability<br/>Survey</a></p>
		
		<p style="top:-50px;left:255px;font-size:30px;"><a href="{% url home %}">Home</a></p>
		
		<p style="top:-15px;left:100px;font-size:12px;"><a href="{% url search %}">Search</a></p>		
		<p style="top:-35px;left:384px;font-size:16px;"><a href="{% url donation %}">Donation<br/>Portal</a></p>
		<p style="top:-13px;left:20px;font-size:12px;"><a href="/info/first-time-here/">First Time<br/>Here</a></p>		
		<p style="top:-35px;left:205px;font-size:12px;"><a href="{% url faqs %}">FAQ's</a></p>		
		<p style="top:-58px;left:503px;font-size:12px;"><a href="{% url donation_login %}">Donor<br/>Login</a></p>		
		<p style="top:-19px;left:72px;font-size:12px;"><a href="{% url sitemap %}">Site Map</a></p>		

		<p style="top:-7px;left:340px;font-size:16px;"><a href="/about-hisg/">About HISG</a></p>
		<p style="top:0px;left:215px;font-size:12px;"><a href="/about-hisg/history/">History</a></p>		
		<p style="top:-15px;left:501px;font-size:12px;"><a href="{% url contact %}">Contact Us</a></p>		
		<p style="top:26px;left:246px;font-size:12px;"><a href="{% url directors %}">Directors</a></p>		
		<p style="top:5px;left:466px;font-size:12px;"><a href="/about-hisg/vision/">Purpose &amp;<br/>Vision</a></p>		
		<p style="top:33px;left:321px;font-size:12px;"><a href="{% url staff %}">Staff</a></p>		
		<p style="top:19px;left:414px;font-size:12px;"><a href="{% url office %}">Offices</a></p>		
	</div>
{% endblock body %}