<!-- templates/donation-portal/detail.html -->
{% extends 'donation-portal/base.html' %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}


{% block body %}
	<h2 class="center">Donor Login</h2><hr>

	<div class="right" style="padding:0 0 0 20px;">
		<img src="/site_media/images/sections/donation/front_pic.jpg"></img>
	</div>
	Coming soon to the HISG Donation Portal, id the Donor Section. We will be presenting charts of your ongoing donations and providing
	project updates to the initiatives you participated in. There will be a section to print out receipts for tax deductions. We will
	also be suggesting other <a href="{% url project %}">projects</a> from the same areas of the world and other projects with similiar
	<a href="{% url histmodel %}">HIST Model</a> and <a href="{% url idrmodel %}">IDR Model</a> characteristics. Check back soon so you
	will be able to see just how valuable your participation really is and how you are changing the face of global need for the better. 
	
	<div class="clearer"></div><br/><br/>
	<div>
		<img src="/site_media/images/sections/donation/chart.jpg"></img>
	</div>
{% endblock %}