<!-- templates/donation-portal/index.html -->
{% extends 'donation-portal/base.html' %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_display_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block body %}
<h1>Reach out to your Worldwide Neighbors: Contribute Resources To Meet the Needs</h1>
<p>The lives of our neighbors all over the world are impacted daily by natural disasters.  Whether it is a Tsunami (Indonesia), Earthquake (Pakistan) or Hurricane (U.S. Gulf Coast), lives are often changed in an instant.  Can you help us make a difference?  Your tax deductible donation will reach out and touch those in need.  Your gift can provide for general disaster response, humanitarian aid &amp; relief effort or a development project of your choice.  We have trusted friends, associates and counterparts throughout the world that will commit your gift to its most beneficial use.</p><br>

<h2>Contributions can be made by sending checks or money orders to:</h2>
<p>HISG Resources<br>
Attn: Steve Lencke<br>
373 Inverness Parkway<br>
Suite 100<br>
Englewood, CO 80112<br></p><br>

<p>Or click below to contribute by credit card securely on-line through our PayPal account.</p>
<br><br>
<hr>
	{% for donation in donations_list %}
	<div style="height:110px">
			<a href="{% url help_detail forloop.counter %}"><h4>{{ donation }}</h4></a>
			<p>{% for photo in donation.photo.all %}
			<div style="display:inline; float:left; margin:5px;"><img src="{{ photo.get_thumbnail_url }}" /></div>
			{% endfor %}<div style="display:inline; margin:10px;">{{ donation.description }}
				{% if donation.link %}
					
					<a href="/projects/{{ donation.link.pk }}/">here</a>.
				{% endif %}</div>
				<div style="display:inline;"><b>Donate</b>{{ donation.paypal }}</p></div>
		
		</div>
		<hr>
	{% endfor %}


{% endblock %}