<!-- template/pages/default.html -->
{% extends "site_base.html" %}

{% load i18n %}
{% block labelpic %}{{ labelpic }}{% endblock labelpic %}
{% block pagetitle %}{{ pager.title }}{% endblock %}
{% block arrive %}{{ pager.section }}{% endblock arrive %}
{% block subarrive %}{{ pager.subarrive }}{% endblock subarrive %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block brick1 %}
	<a href="{{ page.brick1.link }}"><div class="brickpic"><img src="{{ page.brick1.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick1.link }}"><div class="brick">{{ page.brick1.body }}</div></a>
{% endblock brick1 %}

{% block brick2 %}
	<a href="{{ page.brick2.link }}"><div class="brickpic"><img src="{{ page.brick2.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick2.link }}"><div class="brick">{{ page.brick2.body }}</div></a>
{% endblock brick2 %}

{% block brick3 %}
	<a href="{{ page.brick3.link }}"><div class="brickpic"><img src="{{ page.brick3.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick3.link }}"><div class="brick">{{ page.brick3.body }}</div></a>
{% endblock brick3 %}

{% block brick4 %}
	<a href="{{ page.brick4.link }}"><div class="brickpic"><img src="{{ page.brick4.photo.get_brick_url }}"></img></div></a>
	<a href="{{ page.brick4.link }}"><div class="brick">{{ page.brick4.body }}</div></a>
{% endblock brick4 %}

{% block tininav %}
	{% if pager.hasnav %}
		<div class="tininav">
			<ul>
				{{ pager.tininav.content|safe }}
			</ul>
		</div>
		<div class="clearer"></div>
	{% endif %}
{% endblock tininav %}


{% block body %}
	{{ pager.content }} {# this is already escaped safe #}
{% endblock %}
