{# templates/admin/newadmin/extras.html #}
{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrahead %}
	<style type="text/css" media="screen">
		.colM{padding:0;margin:0;height:0;width:0;}
	</style>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block body %}
	<div class="newadmin-home">
		<div id="newadmin-left">
			<h2>Extras</h2>

			<h3><a href="/admin/featured/">Business Partners in Action</a></h3>
			<div>
				<a href="/admin/chunks/chunk/"><img src="http://hstatic.net/hisg.org/images/bpa-globe.png" class="left" alt="pic" style='width:60px;'></img></a>
				The home page text for BPA and the list of opportunities.
			</div>
			<div class="clearer"></div>
						
			<h3><a href="/admin/chunks/chunk/">Chunks</a></h3>
			<div>
				<a href="/admin/chunks/chunk/"><img src="/admin_media/img/admin/icons/cookie.jpg" class="left" alt="pic"></img></a>
				These are reusable chunks of code that appear as marked_safe html on the site.
			</div>
			<div class="clearer"></div>
			
			<h3><a href="/admin/histidr/histidr/">HISTIDR</a></h3>
			<div>
				<a href="/admin/histidr/histidr/"><img src="/admin_media/img/admin/icons/hist.jpg" class="left" alt="pic"></img></a>
				These are the HIST and IDR models for instances of project tags.
			</div>
			<div class="clearer"></div>
			
			<h3><a href="/admin/faqs/faqs/">FAQ's</a></h3>
			<div>
				<a href="/admin/faqs/faqs/"><img src="/admin_media/img/admin/icons/question.jpg" class="left" alt="pic"></img></a>
				These are Frequently Asked Questions that display on the <a href="{% url faqs %}">FAQ's Page</a>.
			</div>
			<div class="clearer"></div>
			
		</div>
		
		<div id="newadmin-right">
			<h2>Hidden</h2>
			
			<h3><a href="/admin/faqs/faqs/">Countries</a></h3>
			<div>
				
			</div>
			<div class="clearer"></div>
			
			
			<h3><a href="/admin/faqs/faqs/">Email Confirmation</a></h3>
			<div>
				
			</div>
			<div class="clearer"></div>
			
			
			<h3><a href="/admin/faqs/faqs/">Robots</a></h3>
			<div>
				
			</div>
			<div class="clearer"></div>
			
			
			<h3><a href="/admin/faqs/faqs/">Sites</a></h3>
			<div>
				
			</div>
			<div class="clearer"></div>
			
			
			<h3><a href="/admin/faqs/faqs/">Threaded Comments</a></h3>
			<div>
				
			</div>
			<div class="clearer"></div>

		</div>
	</div>
{% endblock %}


