{# templates/projects-news/histidr_box.html #}
{% if project.histidr_set.get %}
	<div class="histidr">
		<div class="histidr_top_info">
			{% ifequal project.histidr_set.get.histidr 'IDR' %}
				This project has been tagged as an International Disaster Response project. Of the 14 IDR Primary Service Categories, activities took place in these areas.
			{% else %}	
				This project has been tagged as a Holistic Integrated Sustainable Transformation project. Of the 12 HIST Primary Service Categories, activities took place in these areas.
			{% endifequal %}
		</div>{# end of histidr_top_info #}
		<div class="histidr_st">
			{% ifequal project.histidr_set.get.histidr 'IDR' %}
				<img src="/site_media/images/sections/projects/idr-iconst.bmp"></img>
			{% else %}	
				<img src="/site_media/images/sections/projects/hist-iconst.bmp"></img>				
			{% endifequal %}
		</div>{# end of histidr_st #}
		<div class="histidr_info">
			<div class="histidr_title">
				{% ifequal project.histidr_set.get.histidr 'IDR' %}
					International Disaster Response
				{% else %}
					Holistic Integrated Sustainable Transformation
				{% endifequal %}
			</div>
			<div class="histidr_cats">
				{% ifequal project.histidr_set.get.histidr 'IDR' %}
					<div class="histidr_third">
						<div class="{% if project.histidr_set.get.idr1 %}histbold{% else %}histgray{% endif %}">1. Water Services</div><br/>
						<div class="{% if project.histidr_set.get.idr2 %}histbold{% else %}histgray{% endif %}">2. Food Services</div><br/>
						<div class="{% if project.histidr_set.get.idr3 %}histbold{% else %}histgray{% endif %}">3. Shelter Services</div><br/>
						<div class="{% if project.histidr_set.get.idr4 %}histbold{% else %}histgray{% endif %}">4. Medical Services</div><br/>
						<div class="{% if project.histidr_set.get.idr5 %}histbold{% else %}histgray{% endif %}">5. Individual Assistance Services</div>
					</div>
					<div class="histidr_third">
						<div class="{% if project.histidr_set.get.idr6 %}histbold{% else %}histgray{% endif %}">6. Personal Hygiene Services</div><br/>
						<div class="{% if project.histidr_set.get.idr7 %}histbold{% else %}histgray{% endif %}">7. Counseling and Spiritual Support</div><br/>
						<div class="{% if project.histidr_set.get.idr8 %}histbold{% else %}histgray{% endif %}">8. Physical Reconstruction Services</div><br/>
						<div class="{% if project.histidr_set.get.idr9 %}histbold{% else %}histgray{% endif %}">9. Logistics Management and Services</div><br/>
						<div class="{% if project.histidr_set.get.idr10 %}histbold{% else %}histgray{% endif %}">10. IT, Telecommunications</div>
					</div>
					<div class="histidr_third">
						<div class="{% if project.histidr_set.get.idr11 %}histbold{% else %}histgray{% endif %}">11. Special Needs Services</div><br/>
						<div class="{% if project.histidr_set.get.idr12 %}histbold{% else %}histgray{% endif %}">12. Donations Management</div><br/>
						<div class="{% if project.histidr_set.get.idr13 %}histbold{% else %}histgray{% endif %}">13. Professional Responders</div><br/>
						<div class="{% if project.histidr_set.get.idr14 %}histbold{% else %}histgray{% endif %}">14. Transition and Recovery</div>
					</div>
				{% else %}
					<div class="histidr_third">
						<div class="{% if project.histidr_set.get.hist1 %}histbold{% else %}histgray{% endif %}">1. Agriculture and Animal Husbandry</div><br/>
						<div class="{% if project.histidr_set.get.hist2 %}histbold{% else %}histgray{% endif %}">2. Arts, Entertainment and Sports</div><br/>
						<div class="{% if project.histidr_set.get.hist3 %}histbold{% else %}histgray{% endif %}">3. Economic Development</div><br/>
						<div class="{% if project.histidr_set.get.hist4 %}histbold{% else %}histgray{% endif %}">4. Information, Communications, Technology</div><br/>
						<div class="{% if project.histidr_set.get.hist5 %}histbold{% else %}histgray{% endif %}">5. Education</div>
					</div>
					<div class="histidr_third">
						<div class="{% if project.histidr_set.get.hist6 %}histbold{% else %}histgray{% endif %}">6. Family Development, Support</div><br/>
						<div class="{% if project.histidr_set.get.hist7 %}histbold{% else %}histgray{% endif %}">7. Government</div><br/>
						<div class="{% if project.histidr_set.get.hist8 %}histbold{% else %}histgray{% endif %}">8. Security, Justice, and the Rule of Law</div><br/>
						<div class="{% if project.histidr_set.get.hist9 %}histbold{% else %}histgray{% endif %}">9. Health, Hygiene</div><br/>
						<div class="{% if project.histidr_set.get.hist10 %}histbold{% else %}histgray{% endif %}">10. Medical</div>
					</div>
					<div class="histidr_third">
						<div class="{% if project.histidr_set.get.hist11 %}histbold{% else %}histgray{% endif %}">11. Infrastructure</div><br/>
						<div class="{% if project.histidr_set.get.hist12 %}histbold{% else %}histgray{% endif %}">12. Non-Profit Organizations</div>
					</div>
				{% endifequal %}
			</div>
		</div>{# end of histidr_info #}
		<div class="clearer"></div>
		<div class="histidr_bottom_info">
			Want to learn more about the models developed by HISG for sustainable development and disaster response? Click here 
			<a href="{% url histmodel %}">HIST Model</a> or here <a href="{% url idrmodel %}">IDR Model</a>.
		</div>{# end of histidr_bottom_info #}
	</div>{# end of histidr #}
	<div class="clearer"></div>
{% endif %}