
{% if project %}
	<script type="text/javascript" charset="utf-8">
		var photoids = new Array();
		var photodisplays = new Array();
		var photothumbs = new Array();		
		var photocaptions = new Array();
		{% for photo in project.photo.all %}
			photoids[{{ forloop.counter0 }}] = '{{ photo.id }}';
			photodisplays[{{ forloop.counter0 }}] = '{{ photo.get_display_url }}';
			photothumbs[{{ forloop.counter0 }}] = '{{ photo.get_thumbnail_url }}';
			photocaptions[{{ forloop.counter0 }}] = '{{ photo.caption }}';
		{% endfor %}
		var positions = new Array();
		for(i=0;i<photoids.length;i++){
			positions[i]=i;
		}
	</script>
{% endif %}




{% if news %}
	<script type="text/javascript" charset="utf-8">
		var photoids = new Array();
		var photodisplays = new Array();
		var photothumbs = new Array();		
		var photocaptions = new Array();
		{% for photo in news.photo.all %}
			photoids[{{ forloop.counter0 }}] = '{{ photo.id }}';
			photodisplays[{{ forloop.counter0 }}] = '{{ photo.get_display_url }}';
			photothumbs[{{ forloop.counter0 }}] = '{{ photo.get_thumbnail_url }}';
			photocaptions[{{ forloop.counter0 }}] = '{{ photo.caption }}';
		{% endfor %}
		var positions = new Array();
		for(i=0;i<photoids.length;i++){
			positions[i]=i;
		}
	</script>
{% endif %}





{% if director %}
	<script type="text/javascript" charset="utf-8">
		var photoids = new Array();
		var photodisplays = new Array();
		var photothumbs = new Array();		
		var photocaptions = new Array();
		{% for photo in director.photo.all %}
			photoids[{{ forloop.counter0 }}] = '{{ photo.id }}';
			photodisplays[{{ forloop.counter0 }}] = '{{ photo.get_display_url }}';
			photothumbs[{{ forloop.counter0 }}] = '{{ photo.get_thumbnail_url }}';
			photocaptions[{{ forloop.counter0 }}] = '{{ photo.caption }}';
		{% endfor %}
		var positions = new Array();
		for(i=0;i<photoids.length;i++){
			positions[i]=i;
		}
	</script>
{% endif %}







{% if office %}
	<script type="text/javascript" charset="utf-8">
		var photoids = new Array();
		var photodisplays = new Array();
		var photothumbs = new Array();		
		var photocaptions = new Array();
		{% for photo in office.photo.all %}
			photoids[{{ forloop.counter0 }}] = '{{ photo.id }}';
			photodisplays[{{ forloop.counter0 }}] = '{{ photo.get_display_url }}';
			photothumbs[{{ forloop.counter0 }}] = '{{ photo.get_thumbnail_url }}';
			photocaptions[{{ forloop.counter0 }}] = '{{ photo.caption }}';
		{% endfor %}
		var positions = new Array();
		for(i=0;i<photoids.length;i++){
			positions[i]=i;
		}
	</script>
{% endif %}