{# templates/admin/training/event/reports.html #}
{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="/admin_media/css/reports/reports.css" type="text/css" media="screen" charset="utf-8">
	<script type="text/javascript" src="../../../jsi18n/"></script>
	{{ media }}
	<script type="text/javascript" src="/admin_media/jquery/jquery.qtip.min.js"></script>
	<script type="text/javascript" src="/admin_media/js/reports/reports.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {

			{% for student in students %}
				student{{ forloop.counter }}=new student("{{ student.uid }}","{{ student.name }}","{{ student.email }}","{{ student.badgephoto.get_fingernail_url }}","{{ student.country }}","{{ student.organization }}","{{ student.job }}","{{ student.credentials }}");
				students.push(student{{ forloop.counter }});
				console.log(student{{ forloop.counter }});
			{% endfor %}

			inithtml();
		});
	</script>
{% endblock %}


{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="/admin/">Home</a><a href="/admin/training/">Training</a><a href="/admin/training/event/">Events</a>
		<div class="endofbreadcrumbs">reports</div>
	</div>
{% endblock %}{# end of breadcrumbs #}


{% block content %}
	<div class="rp-backer">
		<div id='rp-left'>
			<div id='rp-search'>
				<h3>Search</h3><div class='somediv'></div>
			</div>
			<div id='rp-list'>
				<div class='rp-controls'>
					<div class='' id='rp-ct-checker'>&radic;</div>
					<div class='' id='rp-ct-badge'>photo<span></span></div>
					<div class='' id='rp-ct-name'>name<span></span></div>
					<div class='' id='rp-ct-email'>email<span></span></div>
					<div class='rphl arrowdown' id='rp-ct-id'>id<span></span></div>
					<div class='' id='rp-ct-country'>country<span></span></div>
					<div class='' id='rp-ct-org'>organization<span></span></div>
					<div class='' id='rp-ct-job'>job<span></span></div>
					<div class='' id='rp-ct-cred'>creds<span></span></div>
				</div>{# end of controls #}<div class='clearer'></div>
				
				<div class='rp-student-box'>
					{% for student in students %}
						<div class='rp-student'>
							<div class="rp-st-checker">
								<input type="checkbox" name="dude_list" value="{{ student.uid }}" />
							</div>
							<div class='rp-st-badge'>
								<img src="{{ student.badgephoto.get_fingernail_url }}" class="pic" alt="pic"></img>
							</div>
							<div class='rp-st-name'>
								{{ student.name }}<br/>{{ student.email }}<br/>{{ student.uid }}
							</div>
							<div class='rp-st-country'>
								{{ student.country }}
							</div>
							<div class='rp-st-org'>
								{{ student.organization }}
							</div>
							<div class='rp-st-job'>
								{{ student.job }}
							</div>
							<div class='rp-st-cred'>
								{{ student.credentials }}
							</div>
						</div>{# end of each student #}<div class='clearer'></div>
					{% endfor %}
				</div>{# end of student-box #}
			</div>
		</div>
		<div id='rp-right'>
			<h3>Filters</h3>
		</div>
	</div>
{% endblock %}





